Node-Red Json File/flows.json
[{"id":"b941852.db78a78","type":"tab","label":"大修改(第三版)","disabled":false,"info":""},{"id":"1b7574ab.96aceb","type":"http in","z":"b941852.db78a78","name":"","url":"/signin","method":"post","upload":true,"swaggerDoc":"","x":110,"y":200,"wires":[["5eec408.bfccfc"]]},{"id":"814385bf.9bc5e8","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":710,"y":200,"wires":[]},{"id":"c65192b9.080b9","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n        *{\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n            font-family: 'Poppins', sans-serif;\n            text-decoration: none;\n        }\n        /* ----- Home Section ----- */\n        .home{\n            display: flex;\n            background: url(\"https://github.com/Changyi-Lin/Reasearch/blob/master/School.jpg?raw=true\") no-repeat center;\n            background-size: cover;\n            height: 150px;\n            color: #ffffff;\n            width: auto;\n            z-index: -100;\n            filter:brightness(50%);\n        }\n        .home-content{\n            display: flex;\n            position: absolute;\n            z-index: 50;\n            top: 35px;\n            width: 50%;\n            margin-left: 25%;\n            margin-right: 25%;\n        }\n        .home-content .max-size{\n            margin: auto;\n        }\n        .content{\n            text-align: center;\n        }\n        .text{\n            font-size: 60px;\n            color: white;\n            font-weight: 600;\n        }\n\n        /* -----Main Part----- */\n        .main{\n            width: 500px;\n            height: 420px;\n            margin-top: 50px;\n            margin-left: auto;\n            margin-right: auto;\n            background-color: white;\n            border-radius: 10px;\n            border: 2px solid rgb(112, 112, 112);\n        }\n        .signin_text{\n            color: black;\n            font-size: 40px;\n            font-weight: 700;\n            text-align: center;\n            border-bottom: 2px solid rgb(112, 112, 112);\n        }\n        form{\n            width: 50%;\n            text-align: center;\n            margin: 25px auto auto auto;\n            background-color: white;\n        }\n        .signin_content{\n          margin-bottom: 20px;\n        }\n        div form div label{\n          display: block;\n          color: black;\n          font-size: 22px;\n          font-weight: 550;\n          text-align: left;\n        }\n        .form{\n          display: block;\n          width: 100%;\n          margin: 5px 0px 5px 0%;\n          padding: .375rem .75rem;\n          font-size: 1rem;\n          font-weight: 400;\n          line-height: 1.5;\n          color: #212529;\n          background-color: rgb(253, 253, 253);\n          background-clip: padding-box;\n          border: 2px solid #bdbdbd;\n          -webkit-appearance: none;\n          -moz-appearance: none;\n          appearance: none;\n          border-radius: 5px;\n          text-align: left;\n        }\n        .form_alart{\n          display: block;\n          width: 100%;\n          margin: 5px 0px 5px 0%;\n          padding: .375rem .75rem;\n          font-size: 1rem;\n          font-weight: 400;\n          line-height: 1.5;\n          color: #212529;\n          background-color: rgb(253, 234, 234);\n          background-clip: padding-box;\n          border: 2px solid #ff3c3c;\n          -webkit-appearance: none;\n          -moz-appearance: none;\n          appearance: none;\n          border-radius: 5px;\n          text-align: left;\n        }\n        .nothing{\n          display: none;\n        }\n        .alarm{\n          color: rgb(255, 0, 0);\n          margin-left: 25px;\n          font-size: 16px;\n          font-weight: 500;\n          text-align: left;\n        }\n        .btn{\n          width: 80%;\n          margin: auto;\n          text-align: center;\n          border-bottom: rgb(182, 182, 182) 2px solid;\n        }\n        button{\n          display: block;\n          width: 60%;\n          margin-left: auto;\n          margin-right: auto;\n          margin-bottom: 10px;\n          padding: .375rem .75rem;\n          font-size: 1rem;\n          font-weight: 500;\n          line-height: 1.5;\n          color: #212529;\n          cursor: pointer;\n          background-color: #d8d8d8;\n          background-clip: padding-box;\n          border: 2px solid #c5c5c5;\n          -webkit-appearance: none;\n          -moz-appearance: none;\n          appearance: none;\n          border-radius: 10px;\n          text-align: center;\n          transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n        }\n        button:hover{\n          background-color: #c9c9c9;\n          border: 2px solid #c9c9c9;\n        }\n        .areg, .forget{\n          width: 80%;\n          margin-left: auto;\n          margin-right: auto;\n          margin-top: 10px;\n          text-align: center;\n        }\n        .notyet{\n          display: inline;\n          color: rgb(110, 110, 110);\n          font-size: 16px;\n          font-weight: 600;\n        }\n        a{\n          display: inline;\n          color: rgb(68, 177, 240);\n          font-weight: 600;\n          cursor: pointer;\n        }\n        a:hover{\n            color: rgb(27, 103, 146);\n        }\n\n        @media (max-width: 430px){\n          .home{\n            width: 100%;\n          }\n          .text{\n            font-size: 30px;\n          }\n          .home-content{\n            top: 50px;\n          }\n          .main{\n            width: 80%;\n            height: 430px;\n          }  \n        }\n    </style>\n    <title>登入-工廠借用系統</title>\n</head>\n<body style=\"background-color: #ffffff;\">\n    <!-----Home Section----->\n    <section class=\"home\" id=\"home\"></section>\n    <section class=\"home-content\" id=\"home-content\">\n        <div class=\"max-size\">\n            <div class=\"content\">\n                <div class=\"text\">工廠借用系統</div>\n            </div>\n        </div>\n    </section>\n\n    <!-----Main Project----->\n    <div class=\"main\">\n        <div class=\"signin_text\">登入</div>\n        <form>\n            <div class=\"signin_content\">\n                <label for=\"std_id\">帳號 :</label>\n                <input class=\"form\" id=\"std_id\" placeholder=\"帳號\">\n                <div id=\"stdid_alarm\" class=\"nothing\">請輸入帳號</div>\n            </div>\n            <div class=\"signin_content\">\n                <label for=\"password\">密碼 :</label>\n                <input class=\"form\" id=\"password\" type=\"password\" placeholder=\"密碼\" onKeyPress=\"IsEnterKeyPress()\">\n                <div id=\"password_alarm\" class=\"nothing\">請輸入密碼</div>\n            </div>\n        </form>\n        <div class=\"btn\">\n            <button id=\"signin\" type=\"button\"><b>登入</b></button>\n        </div>\n        <div class=\"areg\">\n            <label class=\"notyet\">尚未註冊嗎?</label>\n            <a href=\"http://127.0.0.1:1880/web/register\">立即註冊</a>\n        </div>\n        <div class=\"forget\"><a href=\"http://127.0.0.1:1880/web/forget\">忘記密碼?</a></div>\n    </div>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/signin/js\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/signin/check_uid\"></script>\n</body>\n</html>","output":"str","x":290,"y":100,"wires":[["dae222db.4b05e"]]},{"id":"ce0ec312.6be09","type":"http in","z":"b941852.db78a78","name":"","url":"/web/signin","method":"get","upload":false,"swaggerDoc":"","x":120,"y":100,"wires":[["c65192b9.080b9"]]},{"id":"a44d3958.808c98","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {   \n        $(\"#signin\").click(function()\n        {   \n            signin();         \n        })\n    }\n)\n\nfunction signin(){\n    var std_id = $(\"#std_id\").val();\n    var password = $(\"#password\").val();\n    var check=1;\n    if(!std_id)\n    {\n        check=0;\n        $(\"#std_id\").attr(\"class\",\"form_alart\");\n        $(\"#stdid_alarm\").attr(\"class\",\"alarm\");\n    }\n    else \n    {\n        $(\"#std_id\").attr(\"class\",\"form\");\n        $(\"#stdid_alarm\").attr(\"class\",\"nothing\");\n    }if(!password)\n    {\n        check=0;\n        $(\"#password\").attr(\"class\",\"form_alart\")\n        $(\"#password_alarm\").attr(\"class\",\"alarm\");\n    }\n    else \n    {\n        $(\"#password\").attr(\"class\",\"form\")\n        $(\"#password_alarm\").attr(\"class\",\"nothing\");\n    }\n    if(check==1)\n    {\n        var API = \"http://127.0.0.1:1880/signin\";\n        $.post\n        (\n            API,\n            {\n                Std_id:std_id,\n                Password:password\n            },\n            function(res)\n            {\n                var info=res.Info;\n                var status=res.Status;\n                var access=res.Access;\n                var level =res.Level;\n                if (info == 0)\n                {\n                    window.alert(\"帳號或密碼錯誤。\");\n                }\n                else\n                {\n                    if(status == 1 && level == 'student')\n                    {\n                        var API = \"http://127.0.0.1:1880/web/signin/add_uid\";\n                        $.post\n                            (\n                                API,\n                                {\n                                  Std_id:std_id  \n                                }\n                            );\n                        window.location.href=\"http://127.0.0.1:1880/web/home\";\n                    }\n                    else if(status == 1 && level == 'admin')\n                    {\n                        var API = \"http://127.0.0.1:1880/web/signin/add_uid\";\n                        $.post\n                            (\n                                API,\n                                {\n                                  Std_id:std_id  \n                                }\n                            );\n                        window.location.href=\"http://127.0.0.1:1880/admin/lend\";\n                    }\n                    else\n                    {\n                        window.alert(\"帳號尚未認證，請去信箱認證\\n認證碼:\"+access);\n                    }\n                }\n            }\n        );\n    }\n}\n\nfunction IsEnterKeyPress(){\n    var lKeyCode = (navigator.appname==\"Netscape\")?event.which:window.event.keyCode;\n    if ( lKeyCode == 13 ) {\n        signin();\n    }\n}","output":"str","x":290,"y":140,"wires":[["a06df18c.2f765"]]},{"id":"a2412390.63988","type":"http in","z":"b941852.db78a78","name":"","url":"/web/signin/js","method":"get","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["a44d3958.808c98"]]},{"id":"5eec408.bfccfc","type":"function","z":"b941852.db78a78","name":"查詢","func":"msg.check=0;\nmsg.stdid = msg.req.body.Std_id;\nmsg.password = msg.req.body.Password;\nmsg.topic='SELECT Password AS info FROM Information WHERE Student_ID = '+'\"'+msg.stdid+'\"'+' UNION SELECT Status AS info FROM Information WHERE Student_ID = '+'\"'+msg.stdid+'\"'+' UNION SELECT Access FROM access WHERE Student_ID = '+'\"'+msg.stdid+'\"'+' UNION SELECT Level AS info FROM Information WHERE Student_ID = '+'\"'+msg.stdid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":200,"wires":[["72974daa.ff5c84"]]},{"id":"72974daa.ff5c84","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":390,"y":200,"wires":[["171d7cc1.b28013"]]},{"id":"171d7cc1.b28013","type":"function","z":"b941852.db78a78","name":"辨認與回傳","func":"var check=msg.payload[0].info;\nvar status=msg.payload[1].info;\nvar access=msg.payload[2].info;\nvar level=msg.payload[3].info;\nif (msg.password == check)\n    {\n        msg.check=1;\n        msg.payload={\"Info\":1,\"Status\":status,\"Access\":access,\"Level\":level};\n    }\nelse\n    {\n        msg.payload={\"Info\":0};\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":200,"wires":[["814385bf.9bc5e8"]]},{"id":"a06df18c.2f765","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":410,"y":140,"wires":[]},{"id":"dae222db.4b05e","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":410,"y":100,"wires":[]},{"id":"63aca432.e2e77c","type":"http in","z":"b941852.db78a78","name":"","url":"/web/signin/check_uid","method":"get","upload":false,"swaggerDoc":"","x":150,"y":360,"wires":[["46fa57b.3e8eaa8"]]},{"id":"46fa57b.3e8eaa8","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n        {\n            var inf = Cookies.get(\"uid\");\n            if (inf)\n            {\n                window.location.href=\"http://127.0.0.1:1880/web/lend\";\n            }\n        }\n    )","output":"str","x":330,"y":360,"wires":[["eb5cd919.547a88"]]},{"id":"eb5cd919.547a88","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":450,"y":360,"wires":[]},{"id":"310b10e.7f104f","type":"function","z":"b941852.db78a78","name":"回傳","func":"msg.payload={\"Info\":0};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":260,"wires":[["814385bf.9bc5e8"]]},{"id":"3a1290e0.e2623","type":"comment","z":"b941852.db78a78","name":"檢查cookie是否有uid","info":"","x":130,"y":320,"wires":[]},{"id":"6d5e05c8.1d40ac","type":"catch","z":"b941852.db78a78","name":"辨認與回傳節點監測觸發","scope":["171d7cc1.b28013"],"uncaught":false,"x":350,"y":260,"wires":[["310b10e.7f104f"]]},{"id":"873490be.3f949","type":"comment","z":"b941852.db78a78","name":"登入頁面","info":"","x":100,"y":60,"wires":[]},{"id":"e70bd997.468f58","type":"http in","z":"b941852.db78a78","name":"","url":"/web/signin/add_uid","method":"post","upload":true,"swaggerDoc":"","x":150,"y":480,"wires":[["544c48c6.42b508"]]},{"id":"8561ffb2.2c557","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":790,"y":480,"wires":[]},{"id":"495a7257.17704c","type":"function","z":"b941852.db78a78","name":"Add a cookie","func":"msg.cookies = {\n    uid: \n    {\n        value: msg.stdid,\n        maxAge: 1800000\n    }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":480,"wires":[["7fdda168.4cb77"]]},{"id":"7fdda168.4cb77","type":"change","z":"b941852.db78a78","name":"Redirect to /set","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/web/signin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":480,"wires":[["8561ffb2.2c557"]]},{"id":"544c48c6.42b508","type":"function","z":"b941852.db78a78","name":"上傳值","func":"msg.stdid = msg.req.body.Std_id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":480,"wires":[["495a7257.17704c"]]},{"id":"7d0fa0ad.bfaa","type":"comment","z":"b941852.db78a78","name":"建立使用者cookie","info":"","x":120,"y":440,"wires":[]},{"id":"b70d613c.e62e7","type":"http in","z":"b941852.db78a78","name":"","url":"/register","method":"post","upload":true,"swaggerDoc":"","x":110,"y":800,"wires":[["98fe8f25.c89d6"]]},{"id":"bd4326ee.c5c178","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":710,"y":800,"wires":[]},{"id":"98fe8f25.c89d6","type":"function","z":"b941852.db78a78","name":"確認帳號","func":"msg.name = msg.req.body.Name;\nmsg.stdid = msg.req.body.Std_id;\nmsg.password = msg.req.body.Password;\nmsg.phone = msg.req.body.Phone;\nmsg.email = msg.req.body.Email;\nmsg.key = msg.req.body.Key;\nmsg.topic = 'SELECT * FROM Information WHERE Student_ID = '+'\"'+msg.stdid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":800,"wires":[["f821a9bb.400368"]]},{"id":"f821a9bb.400368","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":410,"y":800,"wires":[["9c7ee39e.a2235"]]},{"id":"dc4ccf79.4b669","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n        *{\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n            font-family: 'Poppins', sans-serif;\n            text-decoration: none;\n        }\n        /* ----- Home Section ----- */\n        .home{\n            display: flex;\n            background: url(\"https://github.com/Changyi-Lin/Reasearch/blob/master/School.jpg?raw=true\") no-repeat center;\n            background-size: cover;\n            height: 150px;\n            color: #ffffff;\n            width: auto;\n            z-index: -100;\n            filter:brightness(50%);\n        }\n        .home-content{\n            display: flex;\n            position: absolute;\n            z-index: 50;\n            top: 35px;\n            width: 50%;\n            margin-left: 25%;\n            margin-right: 25%;\n        }\n        .home-content .max-size{\n            margin: auto;\n        }\n        .content{\n            text-align: center;\n        }\n        .text{\n            font-size: 60px;\n            color: white;\n            font-weight: 600;\n        }\n\n        /* -----Main Part----- */\n        .main{\n            width: 450px;\n            height: 650px;\n            margin: 20px auto 50px auto;\n            text-align: center;\n            border-radius: 10px;\n            border: 2px solid rgb(112, 112, 112);\n        }\n        .regist_text{\n            margin-top: 10px;\n            color: black;\n            font-size: 36px;\n            font-weight: 700;\n            border-bottom: 2px solid rgb(112, 112, 112);\n        }\n        table{\n          overflow-x: auto;\n          white-space: nowrap;\n          width: 300px;\n          height: auto;\n          margin: auto;\n          text-align: center;\n        }\n        tr{\n          height: 70px;\n        }\n        .form{\n          display: block;\n          width: 90%;\n          margin-left: 5%;\n          padding: .275rem .75rem;\n          font-size: 13px;\n          font-weight: 400;\n          line-height: 1.5;\n          color: #212529;\n          background-color: rgb(253, 253, 253);\n          background-clip: padding-box;\n          border: 2px solid #bdbdbd;\n          -webkit-appearance: none;\n          -moz-appearance: none;\n          appearance: none;\n          border-radius: 5px;\n        }\n        .form_alart{\n          display: block;\n          width: 90%;\n          margin: 5px 0px 5px 5%;\n          padding: .275rem .75rem;\n          font-size: 13px;\n          font-weight: 400;\n          line-height: 1.5;\n          color: #212529;\n          background-color: rgb(253, 234, 234);\n          background-clip: padding-box;\n          border: 2px solid #ff3c3c;\n          -webkit-appearance: none;\n          -moz-appearance: none;\n          appearance: none;\n          border-radius: 5px;\n        }\n        .form_repeated{\n          display: block;\n          width: 90%;\n          margin: 5px 0px 5px 5%;\n          padding: .275rem .75rem;\n          font-size: 13px;\n          font-weight: 400;\n          line-height: 1.5;\n          color: #212529;\n          background-color: rgb(253, 234, 234);\n          background-clip: padding-box;\n          border: 2px solid rgb(255, 115, 0);\n          -webkit-appearance: none;\n          -moz-appearance: none;\n          appearance: none;\n          border-radius: 5px;\n        }\n        .content_text{\n          font-size: 18px;\n          font-weight: 600;\n          text-align: left;\n          border-bottom: 1px solid #ddd;\n          width: 50px;\n        }\n        td{\n          font-size: 20px;\n          font-weight: 600;\n          border-bottom: 1px solid #ddd;\n        }\n        #btnsend{\n          display: inline;\n          width: 200px;\n          margin:15px 5px 0 5px;\n          padding: .375rem .75rem;\n          font-size: 1rem;\n          font-weight: 500;\n          line-height: 1.5;\n          color: #212529;\n          cursor: pointer;\n          background-color: #e9e9e9;\n          background-clip: padding-box;\n          border: 2px solid #dfdfdf;\n          -webkit-appearance: none;\n          -moz-appearance: none;\n          appearance: none;\n          border-radius: 10px;\n          transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n        }\n        #btnsend:hover{\n          background-color: #c9c9c9;\n          border: 2px solid #c9c9c9;\n        }\n        .nothing,.unrepeated{\n          display: none;\n        }\n        .alarm{\n          color: rgb(255, 0, 0);\n          margin-left: 20px;\n          font-size: 16px;\n          font-weight: 500;\n          text-align: left;\n        }\n        .repeated{\n          color: rgb(255, 115, 0);\n          margin-left: 20px;\n          font-size: 16px;\n          font-weight: 500;\n          text-align: left;\n        }\n        @media (max-width: 430px){\n          .main{\n            width: 330px;\n          }\n          table{\n            width: 300px;\n          }\n          .alarm{\n            margin-left: 15px;\n          }\n          .form,.form_alart{\n            width: 95%;\n          }\n          .text{\n            font-size: 30px;\n          }\n          .home-content{\n            top: 50px;\n          }\n        }\n    </style>\n    <title>註冊-工廠借用系統</title>\n</head>\n<body style=\"background-color: #ffffff;\">\n    <!-----Home Section----->\n    <section class=\"home\" id=\"home\"></section>\n    <section class=\"home-content\" id=\"home-content\">\n        <div class=\"max-size\">\n            <div class=\"content\">\n                <div class=\"text\">工廠借用系統</div>\n            </div>\n        </div>\n    </section>\n\n    <!-----Main Project----->\n    <div class=\"main\">\n        <div class=\"regist_text\">註冊</div>\n        <table>\n            <tbody>\n              <tr>\n                <th scope=\"row\" class=\"content_text\">姓名</th>\n                <td>\n                    <input class=\"form\" id=\"name\">\n                    <div id=\"name_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              <tr>\n                <th scope=\"row\" class=\"content_text\">學號(帳號)</th>\n                <td>\n                    <input class=\"form\" id=\"stdid\">\n                    <div id=\"stdid_alarm\" class=\"nothing\">此欄不可空白</div>\n                    <div id=\"repeat\" class=\"unrepeated\">此帳號已被註冊</div>\n                </td>\n              </tr>\n              <tr>\n                <th scope=\"row\" class=\"content_text\">密碼</th>\n                <td>\n                    <input class=\"form\" id=\"password\" type=\"password\">\n                    <div id=\"password_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n              <tr>\n                <th scope=\"row\" class=\"content_text\">確認密碼</th>\n                <td>\n                    <input class=\"form\" id=\"check\" type=\"password\">\n                    <div id=\"check_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n              <tr>\n                <th scope=\"row\" class=\"content_text\">電話</th>\n                <td>\n                    <input class=\"form\" id=\"phone\">\n                    <div id=\"phone_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n              <tr>\n                <th scope=\"row\" class=\"content_text\">信箱</th>\n                <td>\n                    <input class=\"form\" id=\"email\">\n                    <div id=\"email_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n              <tr>\n                <th scope=\"row\" class=\"content_text\">金鑰</th>\n                <td>\n                    <input class=\"form\" id=\"key\" type=\"password\" onKeyPress=\"IsEnterKeyPress()\">\n                    <div id=\"key_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n            </tbody>\n        </table>\n        <button class=\"btn\" id=\"btnsend\" type=\"button\">確定註冊</button>\n    </div>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n    <script src=\"http://127.0.0.1:1880/web/register/js\"></script>\n</body>\n</html>","output":"str","x":310,"y":700,"wires":[["3cb67d77.8d1792"]]},{"id":"5b9e1700.8b2658","type":"http in","z":"b941852.db78a78","name":"","url":"/web/register","method":"get","upload":false,"swaggerDoc":"","x":130,"y":700,"wires":[["dc4ccf79.4b669"]]},{"id":"3cb67d77.8d1792","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":430,"y":700,"wires":[]},{"id":"65791605.3d2308","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        $(\"#btnsend\").click(function()\n        {   \n            regist();\n        })\n    }\n)\nfunction regist(){\n    var name = $(\"#name\").val();\n    var std_id = $(\"#stdid\").val();\n    var password = $(\"#password\").val();\n    var check =$(\"#check\").val();\n    var phone = $(\"#phone\").val();\n    var email = $(\"#email\").val();\n    var key = $(\"#key\").val();\n    var inf=[name,std_id,password,check,phone,email,key];\n    var inf_id=[\"#name\",\"#stdid\",\"#password\",\"#check\",\"#phone\",\"#email\",\"#key\"];\n    var inf_alarm=[\"#name_alarm\",\"#stdid_alarm\",\"#password_alarm\",\"#check_alarm\",\"#phone_alarm\",\"#email_alarm\",\"#key_alarm\"];\n    var inputcheck=1;\n    $(\"#stdid\").attr(\"class\",\"form\");\n    $(\"#repeat\").attr(\"class\",\"unrepeated\");\n    for( var i=0;i<7;i++)\n    {\n        if(!inf[i])\n        {\n            inputcheck=0;\n            $(inf_id[i]).attr(\"class\",\"form_alart\");\n            $(inf_alarm[i]).attr(\"class\",\"alarm\");\n        }\n        else\n        {\n            $(inf_id[i]).attr(\"class\",\"form\");\n            $(inf_alarm[i]).attr(\"class\",\"nothing\");\n        }\n    }\n    if(inputcheck==1)\n    {\n        if(password==check)\n        {\n            var API = \"http://127.0.0.1:1880/register\";\n            $.post\n            (\n            API,\n            {\n                Name:name,\n                Std_id:std_id,\n                Password:password,\n                Phone:phone,\n                Email:email,\n                Key:key\n            },\n            function(res)\n            {\n                const info=res.Info;\n                if (info == 0)\n                {\n                    window.alert(\"註冊金鑰錯誤。\");\n                }\n                else if(info == 2)\n                {\n                    $(\"#stdid\").attr(\"class\",\"form_repeated\");\n                    $(\"#repeat\").attr(\"class\",\"repeated\");\n                }\n                else\n                {\n                    const access=res.Access;\n                    alert(\"註冊成功，認證碼:\"+access+\"\\n請去信箱認證。\");\n                    window.location.href=\"http://127.0.0.1:1880/web/signin\";\n                }\n            }\n            );\n        }\n        else\n        {\n            alert(\"確認密碼與密碼不合!\");\n        }   \n    }\n}\n\nfunction IsEnterKeyPress(){\n    var lKeyCode = (navigator.appname==\"Netscape\")?event.which:window.event.keyCode;\n    if ( lKeyCode == 13 ) {\n        regist();;\n    }\n}","output":"str","x":310,"y":740,"wires":[["b2e2b46c.7ebbf8"]]},{"id":"e1832f70.b74ec","type":"http in","z":"b941852.db78a78","name":"","url":"/web/register/js","method":"get","upload":false,"swaggerDoc":"","x":130,"y":740,"wires":[["65791605.3d2308"]]},{"id":"b2e2b46c.7ebbf8","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":430,"y":740,"wires":[]},{"id":"9c7ee39e.a2235","type":"function","z":"b941852.db78a78","name":"Feedback","func":"if(msg.stdid==msg.payload[0].Student_ID) \n{\n    msg.payload={\"Info\":2};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":800,"wires":[["bd4326ee.c5c178"]]},{"id":"1d2ea468.489b4c","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":730,"y":860,"wires":[[]]},{"id":"5f1373bd.27d65c","type":"function","z":"b941852.db78a78","name":"寄信","func":"if (msg.key == 123 || msg.key == 111)\n    {\n        msg.to = msg.email;\n        msg.topic = '[帳號開通通知]工廠借閱系統註冊成功，請開通帳號!';\n        msg.payload = '\\n您已成功註冊工廠借用系統，請進入以下連結開通帳號 :\\n\\nhttp://127.0.0.1:1880/web/authentication\\n\\n您的帳號開通認證碼:'+msg.access+'\\n\\n\\n此信件為自動發送，請勿回信 !';\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":920,"wires":[["40693c05.692c64"]]},{"id":"40693c05.692c64","type":"e-mail","z":"b941852.db78a78","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"","x":830,"y":920,"wires":[]},{"id":"696d1cec.c54cd4","type":"catch","z":"b941852.db78a78","name":"Feedback節點監測觸發","scope":["9c7ee39e.a2235"],"uncaught":false,"x":380,"y":860,"wires":[["d0c8ddf3.c90a2"]]},{"id":"d0c8ddf3.c90a2","type":"function","z":"b941852.db78a78","name":"上傳","func":"msg.access = Math.floor(Math.random()*5000)+1000;\nif (msg.key == 123 || msg.key == 111)\n{\n    if (msg.key == 123)\n    {\n        msg.topic = 'INSERT INTO Information(Student_ID,Name,Password,Phone,Email,Status,Level) values('+'\"'+msg.stdid+'\"'+','+'\"'+msg.name+'\"'+','+'\"'+msg.password+'\"'+','+'\"'+msg.phone+'\"'+','+'\"'+msg.email+'\"'+',0,\"student\");INSERT INTO access(Student_ID,Access) VALUES('+'\"'+msg.stdid+'\"'+','+msg.access+')';\n        msg.payload={\"Info\":1,\"Access\":msg.access};\n    }\n    else\n    {\n        msg.topic = 'INSERT INTO Information(Student_ID,Name,Password,Phone,Email,Status,Level) values('+'\"'+msg.stdid+'\"'+','+'\"'+msg.name+'\"'+','+'\"'+msg.password+'\"'+','+'\"'+msg.phone+'\"'+','+'\"'+msg.email+'\"'+',0,\"admin\");INSERT INTO access(Student_ID,Access) VALUES('+'\"'+msg.stdid+'\"'+','+msg.access+')';\n        msg.payload={\"Info\":1,\"Access\":msg.access};\n    }\n}\nelse\n{\n    msg.payload={\"Info\":0};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":860,"wires":[["1d2ea468.489b4c","5f1373bd.27d65c","bd4326ee.c5c178"]]},{"id":"e7fcd70.a621528","type":"comment","z":"b941852.db78a78","name":"註冊頁面","info":"","x":100,"y":640,"wires":[]},{"id":"e1368e7f.22ace","type":"http in","z":"b941852.db78a78","name":"","url":"/authentication","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1140,"wires":[["3be5b425.7090bc"]]},{"id":"54656777.044288","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":750,"y":1200,"wires":[]},{"id":"8b18507d.0caf4","type":"http in","z":"b941852.db78a78","name":"","url":"/web/authentication","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1040,"wires":[["accca6c3.662ba8"]]},{"id":"5edb4703.ed63d8","type":"http in","z":"b941852.db78a78","name":"","url":"/web/authentication/js","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1080,"wires":[["857f3d24.494e"]]},{"id":"75114b42.2f5c44","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":450,"y":1040,"wires":[]},{"id":"b854f727.858838","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":450,"y":1080,"wires":[]},{"id":"accca6c3.662ba8","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n    <head>\n        <meta charset=\"utf-8\">\n        <title>認證-工廠借用系統</title>\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n        <style>\n            @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n.main{\n  width: 400px;\n  height: 250px;\n  margin-top: 200px;\n  margin-left: auto;\n  margin-right: auto;\n  padding:20px 5px 0px 5px;\n  text-align: center;\n  background-color: white;\n  border-radius: 20px;\n}\ndiv label h5{\n  color: black;\n  font-size: 36px;\n  font-weight: 700;\n  border-radius: 10px;\n}\ntable{\n  overflow-x: auto;\n  white-space: nowrap;\n  width: 200px;\n  height: 370px;\n  margin: auto;\n  color: #212529;\n  text-align: center;\n}\n.form{\n  display: block;\n  width: 40%;\n  margin-top: 20px;\n  margin-left: auto;\n  margin-right: auto;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 253, 253);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n}\n.form_alart{\n  display: block;\n  width: 40%;\n  margin-top: 20px;\n  margin-left: auto;\n  margin-right: auto;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 234, 234);\n  background-clip: padding-box;\n  border: 2px solid #ff3c3c;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n}\nth{\n  font-size: 20px;\n  font-weight: 600;\n  text-align: left;\n  border-bottom: 1px solid #ddd;\n  width: 50px;\n}\ntd{\n  font-size: 20px;\n  font-weight: 600;\n  border-bottom: 1px solid #ddd;\n}\n#check{\n  display: inline;\n  width: 100px;\n  margin:15px 5px 0 5px;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 500;\n  line-height: 1.5;\n  color: #212529;\n  background-color: #e9e9e9;\n  background-clip: padding-box;\n  border: 2px solid #dfdfdf;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 10px;\n  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n}\n#check:hover{\n  background-color: #c9c9c9;\n  border: 2px solid #c9c9c9;\n}\n.nothing{\n  display: none;\n}\n.alarm{\n  color: rgb(255, 0, 0);\n  margin-left: 120px;\n  font-size: 16px;\n  font-weight: 500;\n  text-align: left;\n}\n@media (max-width: 430px){\n  .main{\n    width: 330px;\n  }\n  table{\n    width: 280px;\n  }\n  .alarm{\n    margin-left: 100px;\n  }\n}\n        </style>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    </head>\n    <body style=\"background-color: #212529;\">\n        <div class=\"main\">\n            <label><h5>帳號認證</h5></label>\n            <form>\n                <div>\n                    <input id=\"authentication\" class=\"form\" placeholder=\"請輸入認證碼\">\n                    <div id=\"auth_alarm\" class=\"nothing\">請輸入認證碼</div>\n                </div>\n            </form>\n            <button id=\"check\" type=\"button\"><b>認證</b></button>\n        </div>\n        <script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n        <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/authentication/js\"></script>\n\n    </body>\n</html>","output":"str","x":330,"y":1040,"wires":[["75114b42.2f5c44"]]},{"id":"857f3d24.494e","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(\n    function()\n    {\n        $(\"#check\").click(function()\n        {   \n            var authentication= $(\"#authentication\").val();  \n            var API = \"http://127.0.0.1:1880/authentication\";\n            console.log(authentication);\n            if(authentication)\n            {\n                $(\"#authentication\").attr(\"class\",\"form\");\n                $(\"#auth_alarm\").attr(\"class\",\"nothing\");\n                $.post\n                (\n                    API,\n                    {\n                        Authentication:authentication\n                    },\n                    function(res)\n                    {\n                        const check=res.Check;\n                        if (check == 1)\n                        {\n                            window.alert(\"認證成功!\");\n    \n                        }\n                        else\n                        {\n                            window.alert(\"認證失敗，無此認證碼。\");\n                        }\n                    }\n                );   \n            }\n            else\n            {\n                $(\"#authentication\").attr(\"class\",\"form_alart\");\n                $(\"#auth_alarm\").attr(\"class\",\"alarm\");\n            }\n        })\n    }\n)","output":"str","x":330,"y":1080,"wires":[["b854f727.858838"]]},{"id":"3be5b425.7090bc","type":"function","z":"b941852.db78a78","name":"確認認證碼","func":"msg.authentication = msg.req.body.Authentication;\nmsg.topic='SELECT * FROM access';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":1140,"wires":[["8ebd6c60.c0b6d"]]},{"id":"8ebd6c60.c0b6d","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":470,"y":1140,"wires":[["fb569c9c.20e6"]]},{"id":"fb569c9c.20e6","type":"function","z":"b941852.db78a78","name":"辨認與回傳","func":"var length = msg.payload.length;\nmsg.check=0;\nfor (i=0;i<length+1;i++)\n{\n    if ( msg.payload[i].Access == msg.authentication )\n        {\n            msg.check=1;\n            msg.uid=msg.payload[i].Student_ID;\n            break;\n        }\n}\nmsg.payload={\"Check\":msg.check};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1140,"wires":[["54656777.044288","44f5ab14.89ce44"]]},{"id":"72323010.41c24","type":"function","z":"b941852.db78a78","name":"回傳","func":"msg.payload={\"Check\":0};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1200,"wires":[["54656777.044288"]]},{"id":"a3f8507.ac9aeb","type":"catch","z":"b941852.db78a78","name":"辨認與回傳節點監測觸發","scope":["fb569c9c.20e6"],"uncaught":false,"x":430,"y":1200,"wires":[["72323010.41c24"]]},{"id":"86902dfd.b4b9b","type":"function","z":"b941852.db78a78","name":"","func":"msg.topic='UPDATE Information SET Status = 1 WHERE Student_ID = '+'\"'+msg.uid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":1140,"wires":[["4b82818f.0f5b8"]]},{"id":"4b82818f.0f5b8","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":1050,"y":1140,"wires":[[]]},{"id":"44f5ab14.89ce44","type":"switch","z":"b941852.db78a78","name":"","property":"check","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1140,"wires":[["86902dfd.b4b9b"]]},{"id":"be7edb62.556dc8","type":"comment","z":"b941852.db78a78","name":"認證","info":"","x":90,"y":980,"wires":[]},{"id":"6ec9c729.16ca98","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n   <head>\n      <meta charset=\"utf-8\">\n      <title>預約工廠-工廠借用系統</title>\n      <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n      <style>\n         @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n#topic{\n  font-size: 40px;\n  font-weight: 400;\n  padding-left: 50px;\n  padding-top: 50px;\n}\n#user_name{\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n  padding-right: 15px;\n}\nnav{\n  height: 80px;\n  background-color:#212529;\n  display: flex;\n  align-items: center;\n  justify-content: space-between;\n  padding: 0px 50px 0px 50px;\n}\n\nnav .logo{\n  font-size: 40px;\n  color: rgba(196, 95, 0, 0.993);\n  font-weight: 600;\n}\nnav ul{\n  display: flex;\n  list-style: none;\n}\nnav ul li,nav ul label{\n  margin: 0 10px;\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav ul li a,nav ul li label{\n  color: white;\n  text-decoration: none;\n  font-size: 18px;\n  font-weight: 500;\n  letter-spacing: 1px;\n  padding: 8px 15px;\n  border-radius: 5px;\n}\nnav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n  background-color:white;\n  color: #212529;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav .menu-btn i{\n  color: white;\n  font-size: 32px;\n  cursor: pointer;\n  display: none;\n}\n#click{\n  display: none;\n}\n/* 以上是menu設定\n以下是預約設定 */\n\n.main{\n  display: block;\n  margin-top: 30px;\n  margin-left: 15%;\n  width: 70%;\n  text-align: center;\n}\ndiv label h5{\n  color: black;\n  font-size: 26px;\n  font-weight: 700;\n}\n#selectdate{\n  display: block;\n  width: 30%;\n  height:40px;\n  margin: 10px 0px 20px 35%;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 253, 253);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  appearance: none;\n  border-radius: 10px;\n  text-align: center;\n  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\n#selectdate:hover{\n  color: #212529;\n  background-color: rgb(243, 243, 243);\n}\ndiv form input{\n  display: none;\n}\ndiv form label{\n  display: inline-block;\n  width: 200px;\n  font-weight: 400;\n  margin:15px 5px 5px 5px;\n  line-height: 2;\n  color: #212529;\n  text-align: center;\n  text-decoration: none;\n  vertical-align: middle;\n  cursor: pointer;\n  -webkit-user-select: none;\n  -moz-user-select: none;\n  user-select: none;\n  background-color: white;\n  border: 2px solid rgb(52, 99, 255);\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  border-radius: 10px;\n  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\ndiv form input:disabled+label{\n  background-color: rgba(238, 238, 238, 0.7);\n  border: 2px solid rgba(238, 238, 238, 0.7);\n  color: rgba(0, 0, 0, 0.7);\n}\ndiv form label:hover,div form input:checked+label{\n  color: #ffffff;\n  background-color: rgb(52, 99, 255);\n  transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\n#btnset{\n  display: inline-block;\n  width: 100px;\n  font-weight: 400;\n  margin-top: 10px;\n  line-height: 1.5;\n  color: #212529;\n  text-align: center;\n  text-decoration: none;\n  vertical-align: middle;\n  cursor: pointer;\n  -webkit-user-select: none;\n  -moz-user-select: none;\n  user-select: none;\n  background-color: #bdbdbd;\n  border: 2px solid #bdbdbd;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  border-radius: 10px;\n  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\n#btnset:hover{\n  color: #000000;\n  background-color: rgb(131, 131, 131);\n  border-color: rgb(131, 131, 131);\n}\n\n@media (max-width:1090px) {\n  #user_name{\n    color: white;\n    font-size: 18px;\n    font-weight: 500;\n    padding-right: 0;\n  }\n  nav{\n    height: 80px;\n    background-color: #212529;\n    display: flex;\n    align-items: center;\n    justify-content: space-between;\n    padding: 0px 30px 0px 30px;\n  }\n  nav .menu-btn i{\n    display: block;\n  }\n  #click:checked ~ .menu-btn i::before{\n    content: \"\\f00d\";\n  }\n  nav ul{\n    position: fixed;\n    top: 80px;\n    left: -100%;\n    background-color: #111;\n    height: 100vh;\n    width: 100%;\n    display: block;\n    text-align: center;\n    transition: all 0.3s ease;\n  }\n  #click:checked ~ ul{\n    left: 0%;\n  }\n  nav ul li,nav ul label{\n    margin: 40px 0;\n    color: white;\n    font-size: 22px;\n  }\n  nav ul li a,nav ul li label,#user_name{\n    font-size: 22px;\n    display: block;\n  }\n  nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n    background-color: #111;\n    color: rgba(196, 95, 0, 0.993);\n    font-size: 22px;\n  }\n\n  /* 以上是menu設定\n以下是預約設定 */\n.main{\n  display: block;\n  margin: 20px 15% 0px 15%;\n  text-align: center;\n}\ndiv label h5{\n  color: black;\n  font-size: 20px;\n  font-weight: 700;\n}\n}\n@media (max-width:420px) {\n.main{\n  display: block;\n  width: auto;\n  margin: 20px 5% 0px 5%;\n  text-align: center;\n}\n#selectdate{\n  display: block;\n  width: 60%;\n  margin: 5px 10% 10px 20%;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 253, 253);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 10px;\n  text-align: center;\n  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\ndiv form label{\n  display: inline-block;\n  width: 180px;\n  font-weight: 400;\n  margin:5px 5px 5px 5px;\n  line-height: 2;\n  color: #212529;\n  text-align: center;\n  text-decoration: none;\n  vertical-align: middle;\n  cursor: pointer;\n  -webkit-user-select: none;\n  -moz-user-select: none;\n  user-select: none;\n  background-color: white;\n  border: 2px solid rgb(52, 99, 255);\n  padding: .375rem .75rem;\n  font-size: 16px;\n  border-radius: 10px;\n  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\ndiv form label{\n  display: inline-block;\n  width: 150px;\n  font-weight: 400;\n  margin:15px 5px 5px 5px;\n  line-height: 2;\n  color: #212529;\n  padding: .375rem .75rem;\n  font-size: 15PX;\n}\ndiv form label:hover{\n  color: #000000;\n  background-color: white;\n  border: 2px solid rgb(52, 99, 255);\n}\n}\n      </style>\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n   </head>\n   <body>\n      <nav>\n         <div class=\"logo\">工廠借用系統</div>\n         <input type=\"checkbox\" id=\"click\">\n         <label for=\"click\" class=\"menu-btn\">\n            <i class=\"fas fa-bars\"></i>\n         </label>\n         <ul>\n            <label id=\"user_name\">林昌毅</label>\n            <li><a href=\"http://127.0.0.1:1880/web/home\">首頁</a></li>\n            <li><a class=\"active\" href=\"http://127.0.0.1:1880/web/lend\">預約工廠</a></li>\n            <li><a href=\"http://127.0.0.1:1880/web/lending\">預約中</a></li>\n            <li><a href=\"http://127.0.0.1:1880/web/information\">個人資料</a></li>\n            <li><label id=\"signout\">登出</label></li>\n         </ul>\n      </nav>\n      <div class=\"main\">\n        <label><h5>預約日期</h5></label>\n        <input type=\"date\" id=\"selectdate\" min=\"2021-5-24\" placeholder=\"請選擇日期\">\n        <label><h5>預約時段</h5></label>\n        <form name=\"myform\" >\n          <input type=\"checkbox\" id=\"myCheck1\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"First\">\n          <label id=\"myCheck1_lb\" for=\"myCheck1\">AM 08:10-AM 09:00</label>\n          <input type=\"checkbox\" id=\"myCheck2\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Second\">\n          <label id=\"myCheck2_lb\" for=\"myCheck2\">AM 09:10-AM 10:00</label>\n          <br>\n          <input type=\"checkbox\" id=\"myCheck3\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Third\">\n          <label id=\"myCheck3_lb\" for=\"myCheck3\">AM 10:10-AM 11:00</label>\n          <input type=\"checkbox\" id=\"myCheck4\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Forth\">\n          <label id=\"myCheck4_lb\" for=\"myCheck4\">AM 11:10-PM 12:00</label>\n          <br>\n          <input type=\"checkbox\" id=\"myCheck5\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Fifth\">\n          <label id=\"myCheck5_lb\" for=\"myCheck5\">PM 01:10-PM 02:00</label>\n          <input type=\"checkbox\" id=\"myCheck6\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Sixth\">\n          <label id=\"myCheck6_lb\" for=\"myCheck6\">PM 02:10-PM 03:00</label>\n          <br>\n          <input type=\"checkbox\" id=\"myCheck7\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Seventh\">\n          <label id=\"myCheck7_lb\" for=\"myCheck7\">PM 03:10-PM 04:00</label>\n          <input type=\"checkbox\" id=\"myCheck8\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Eighth\">\n          <label id=\"myCheck8_lb\" for=\"myCheck8\">PM 04:10-PM 05:00</label>\n          <br>\n          </form>\n          <button id=\"btnset\" class=\"btn btn-secondary\" type=\"button\"><b>確定預約</b></button>\n      </div>\n      <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n      <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n      <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/check_uid\"></script>\n      <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/lend/js\"></script>\n\n\n   </body>\n</html>","output":"str","x":270,"y":1600,"wires":[["711486bb.90a878"]]},{"id":"c787722e.9884d","type":"http in","z":"b941852.db78a78","name":"","url":"/web/lend","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1600,"wires":[["6ec9c729.16ca98"]]},{"id":"46dce7df.dd2fa8","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        //當日的年月日\n        var Today = new Date();\n        var today_year = Today.getFullYear();\n        var today_month = Today.getMonth()+1;\n        var today_day = Today.getDate()+1;\n        if(today_day<10)\n        { \n            today_day='0'+today_day;\n        } \n        if(today_month<10)\n        { \n            today_month='0'+today_month; \n        } \n        window.today = today_year+\"-\"+today_month+\"-\"+(today_day);\n        document.getElementById(\"selectdate\").setAttribute(\"min\", window.today); \n        //初始化\n        window.date_checked=0;\n\n        //登出\n        $(\"#signout\").click(function()\n        {   \n            var API = \"http://127.0.0.1:1880/delete_uid\";\n            $.get\n                (API);\n            window.location.href=\"http://127.0.0.1:1880/web/signin\"\n        })\n\n        //確認時間\n        $(\"#selectdate\").change(function()\n        {\n            //檢查逾時\n            var API = \"http://127.0.0.1:1880/web/check_uid\";\n            $.get\n            (\n                API\n            );\n            \n            //重新初始化選單\n            window.date_checked=1;\n            window.time_checked=0;\n            var id_list=[\"#myCheck1\",\"#myCheck2\",\"#myCheck3\",\"#myCheck4\",\"#myCheck5\",\"#myCheck6\",\"#myCheck7\",\"#myCheck8\"];\n            var label_id_list=[\"#myCheck1_lb\",\"#myCheck2_lb\",\"#myCheck3_lb\",\"#myCheck4_lb\",\"#myCheck5_lb\",\"#myCheck6_lb\",\"#myCheck7_lb\",\"#myCheck8_lb\"];\n            for(i=0;i<8;i++)\n            {\n                document.myform.mycheck[i].checked = false;\n            }\n            for(i=0;i<8;i++)\n            {\n                $(id_list[i]).attr(\"disabled\",false);\n            }\n            var Time = document.getElementById(\"selectdate\").value;\n            var API=\"http://127.0.0.1:1880/check_time\";\n            window.time=Time;\n            $.post\n                (\n                    API,\n                    {\n                        Time:window.time\n                    },\n                    function(res)\n                    {\n                        var id_list=[\"#myCheck1\",\"#myCheck2\",\"#myCheck3\",\"#myCheck4\",\"#myCheck5\",\"#myCheck6\",\"#myCheck7\",\"#myCheck8\"];\n                        var label_id_list=[\"#myCheck1_lb\",\"#myCheck2_lb\",\"#myCheck3_lb\",\"#myCheck4_lb\",\"#myCheck5_lb\",\"#myCheck6_lb\",\"#myCheck7_lb\",\"#myCheck8_lb\"];\n                        window.feedback_time=res.Feedback;//回傳借閱情況\n                        window.status=res.Status;//借閱狀態:Part/All\n                        if(window.feedback_time)\n                        {\n                            for(i=0;i<8;i++)\n                            {\n                                if (window.feedback_time[i]) \n                                {\n                                    $(id_list[i]).attr(\"disabled\",true); \n                                } \n                            }\n                        }\n                        else \n                        {\n                            for(i=0;i<8;i++)\n                            {\n                                $(id_list[i]).attr(\"disabled\",false); \n                            }\n                        }\n                    }\n                )\n            }      \n        )\n\n        //確定借閱\n        $(\"#btnset\").click(function()\n        {\n            //檢查逾時\n            var API = \"http://127.0.0.1:1880/web/check_uid\"\n            $.get\n            (\n                API\n            );\n\n            var lend = new Array(8)\n            var settime=document.myform.mycheck;//所選時段\n            window.time_checked=0;\n            for (i=0;i<8;i++)\n            {\n                if (settime[i].checked==true) \n                {\n                    window.time_checked=2;\n                    lend[i]=window.user_id;\n                }\n                else lend[i]=0;\n            }\n            var send_checked=window.date_checked+window.time_checked;\n            if(send_checked==3)\n            {\n                var API=\"http://127.0.0.1:1880/check_time\";\n                $.post\n                (\n                    API,\n                    {\n                        Time:window.time\n                    },\n                    function(res)\n                    {\n                        var dbchecked=res.Feedback;\n                        window.alarm=0;\n                        if(dbchecked!=0)\n                        {\n                            for(i=0;i<8;i++)\n                            {\n                                console.log(\"dbchecked\");\n                                if(lend[i]==window.user_id && dbchecked[i]!=0)\n                                {\n                                    window.alarm=1;\n                                    break;\n\n                                }\n                            }\n                        }\n                        if(window.alarm==0)\n                        {\n                            if(confirm(\"確定預約?\"))\n                            {\n                                var API=\"http://127.0.0.1:1880/lend\";\n                                $.post\n                                (\n                                API,\n                                {\n                                    Lend:lend,\n                                    Lend_status:window.status,\n                                    Lend_date:window.time,\n                                    Time:window.feedback_time,\n                                    Stdid:window.uid\n                                },\n                                function(res)\n                                {\n                                    var ok=res.OK;\n                                    if(ok==\"OK\")\n                                    {\n                                        var lendtimes=res.Lendtimes+1;\n                                        alert(\"預約成功! \\n您目前已預約\"+lendtimes+\"筆。\");\n                                        document.location.reload();\n                                    }\n                                    else if(ok==\"OVER\")\n                                    {\n                                        alert(\"您已達預約次數上限(5筆)\");\n                                        document.location.reload();\n                                    }\n                                });\n                            }\n                        }\n                        else \n                        {\n                            alert(\"有時段已被預約。\") ;\n                            document.location.reload();\n                        }\n                    });\n            }\n            else if(send_checked==2) alert(\"請選擇預約日期!\");\n            else if(send_checked==1) alert(\"請選擇預約時段!\");\n            else alert(\"請選擇預約日期與時段。\");\n        })\n    }\n)","output":"str","x":270,"y":1640,"wires":[["e05594d4.b183b8"]]},{"id":"ccc1da9b.675dc8","type":"http in","z":"b941852.db78a78","name":"","url":"/web/lend/js","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1640,"wires":[["46dce7df.dd2fa8"]]},{"id":"e05594d4.b183b8","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":390,"y":1640,"wires":[]},{"id":"711486bb.90a878","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":390,"y":1600,"wires":[]},{"id":"e9808cf1.9a2bb","type":"http in","z":"b941852.db78a78","name":"","url":"/check_time","method":"post","upload":true,"swaggerDoc":"","x":130,"y":1700,"wires":[["14aaf97c.8c3627"]]},{"id":"40fa51b1.9b34c","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":850,"y":1700,"wires":[]},{"id":"14aaf97c.8c3627","type":"function","z":"b941852.db78a78","name":"確認選擇日期的借閱情況","func":"global.time=msg.req.body.Time;\nmsg.topic='SELECT * FROM lend WHERE Time = '+'\"'+global.time+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1700,"wires":[["fccd4351.3eb62"]]},{"id":"fccd4351.3eb62","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":550,"y":1700,"wires":[["97e31eff.71be9"]]},{"id":"97e31eff.71be9","type":"function","z":"b941852.db78a78","name":"回傳狀態","func":"msg.time=[msg.payload[0].A,msg.payload[0].B,msg.payload[0].C,msg.payload[0].D,msg.payload[0].F,msg.payload[0].G,msg.payload[0].H,msg.payload[0].I];\nmsg.payload={\"Feedback\":msg.time,Status:\"Part\"};    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1700,"wires":[["40fa51b1.9b34c"]]},{"id":"a249dd93.2d213","type":"catch","z":"b941852.db78a78","name":"回傳狀態節點監測觸發","scope":["97e31eff.71be9"],"uncaught":false,"x":520,"y":1760,"wires":[["882f237b.83c6b"]]},{"id":"882f237b.83c6b","type":"function","z":"b941852.db78a78","name":"回傳空狀態","func":"msg.payload={\"Feedback\":0,Status:\"All\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1760,"wires":[["40fa51b1.9b34c"]]},{"id":"445f7edd.2ecac","type":"http in","z":"b941852.db78a78","name":"","url":"/lend","method":"post","upload":true,"swaggerDoc":"","x":100,"y":1820,"wires":[["9f523228.add0c"]]},{"id":"cf2b9806.e81b78","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":730,"y":1820,"wires":[]},{"id":"9f523228.add0c","type":"function","z":"b941852.db78a78","name":"借閱","func":"msg.lend=msg.req.body.Lend;//借閱情況\nmsg.lend_status=msg.req.body.Lend_status;//借閱狀態\nmsg.lend_date=msg.req.body.Lend_date;//借閱日期\nmsg.time=msg.req.body.Time;\nmsg.uid=msg.req.body.Stdid;\nmsg.topic='SELECT Time,lend FROM lending WHERE Student_ID = '+'\"'+msg.uid+'\"'+'' ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":1820,"wires":[["ac1f3bf9.215458"]]},{"id":"ac1f3bf9.215458","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":370,"y":1820,"wires":[["58a848d8.7208c8"]]},{"id":"58a848d8.7208c8","type":"function","z":"b941852.db78a78","name":"回傳借閱成功狀態","func":"var today = new Date();\nvar times=msg.payload.length;\nmsg.lendtimes=0;\nfor(i=0;i<times;i++)\n{\n    if(msg.payload[i].Time>=today-86400000)\n    {\n        msg.lendtimes+=1;\n    }\n}\nif(msg.lendtimes<5)\n{\n    msg.code=\"\";\n    var def=[\"A\",\"B\",\"C\",\"D\",\"F\",\"G\",\"H\",\"I\"];\n    for(i=0;i<8;i++)\n    {\n        if(msg.lend[i]!=\"0\")\n        {\n            msg.code+=def[i];\n        }\n    }\n    \n    if (msg.lend_status==\"All\")\n    {\n        msg.topic='INSERT INTO lend(Time, A, B, C, D, F, G, H, I) VALUES ('+'\"'+msg.lend_date+'\"'+','+'\"'+msg.lend[0]+'\"'+','+'\"'+msg.lend[1]+'\"'+','+'\"'+msg.lend[2]+'\"'+','+'\"'+msg.lend[3]+'\"'+','+'\"'+msg.lend[4]+'\"'+','+'\"'+msg.lend[5]+'\"'+','+'\"'+msg.lend[6]+'\"'+','+'\"'+msg.lend[7]+'\"'+'); INSERT INTO lending(Time,Student_id,lend) VALUES('+'\"'+msg.lend_date+'\"'+','+'\"'+msg.uid+'\"'+','+'\"'+msg.code+'\"'+')';\n    }\n    else\n    {\n        for(i=0;i<8;i++)\n        {\n            if(msg.lend[i]!=\"0\")\n            {\n                msg.time[i]=msg.lend[i];\n            }\n        }\n        msg.topic='UPDATE lend SET A='+'\"'+msg.time[0]+'\"'+',B='+'\"'+msg.time[1]+'\"'+',C='+'\"'+msg.time[2]+'\"'+',D='+'\"'+msg.time[3]+'\"'+',F='+'\"'+msg.time[4]+'\"'+',G='+'\"'+msg.time[5]+'\"'+',H='+'\"'+msg.time[6]+'\"'+',I='+'\"'+msg.time[7]+'\"'+' WHERE Time = '+'\"'+msg.lend_date+'\"'+'; INSERT INTO lending(Time,Student_id,lend) VALUES('+'\"'+msg.lend_date+'\"'+','+'\"'+msg.uid+'\"'+','+'\"'+msg.code+'\"'+')';\n    }\n    msg.payload={\"OK\":\"OK\",\"Lendtimes\":msg.lendtimes};\n}\nelse\n{\n    msg.payload={\"OK\":\"OVER\"};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1820,"wires":[["cf2b9806.e81b78","3e40f996.b1a0e6"]]},{"id":"3e40f996.b1a0e6","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":730,"y":1860,"wires":[[]]},{"id":"e303fb0b.f3ee68","type":"comment","z":"b941852.db78a78","name":"預約頁面","info":"","x":100,"y":1540,"wires":[]},{"id":"65161b71.45d8c4","type":"comment","z":"b941852.db78a78","name":"預約紀錄頁面","info":"","x":110,"y":1900,"wires":[]},{"id":"ba8d3479.76a0e8","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n    <head>\n        <meta charset=\"utf-8\">\n        <title>預約中-工廠借用系統</title>\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n        <style>\n            @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n            *{\n              margin: 0;\n              padding: 0;\n              box-sizing: border-box;\n            }\n            /* ----- Nav Bar ----- */\n            #topic{\n              font-size: 40px;\n              font-weight: 400;\n              padding-left: 50px;\n              padding-top: 50px;\n            }\n            #user_name{\n              color: white;\n              font-size: 18px;\n              font-weight: 500;\n              padding-right: 15px;\n            }\n            nav{\n              height: 80px;\n              background-color:#212529;\n              display: flex;\n              align-items: center;\n              justify-content: space-between;\n              padding: 0px 50px 0px 50px;\n            }\n            nav .logo{\n              font-size: 40px;\n              color: rgba(196, 95, 0, 0.993);\n              font-weight: 600;\n            }\n            nav ul{\n              display: flex;\n              list-style: none;\n            }\n            nav ul li,nav ul label{\n              margin: 0 10px;\n              color: white;\n              font-size: 18px;\n              font-weight: 500;\n            }\n            nav ul li a,nav ul li label{\n              color: white;\n              text-decoration: none;\n              font-size: 18px;\n              font-weight: 500;\n              letter-spacing: 1px;\n              padding: 8px 15px;\n              border-radius: 5px;\n            }\n            nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n              background-color:white;\n              color: #212529;\n              font-size: 18px;\n              font-weight: 500;\n            }\n            nav .menu-btn i{\n              color: white;\n              font-size: 32px;\n              cursor: pointer;\n              display: none;\n            }\n            #click{\n              display: none;\n            }\n\n            /* ----- Main Part ----- */\n            .main{\n              margin: 30px 0px 0px 0px;\n            }\n            div label h5{\n              color: black;\n              font-size: 30px;\n              font-weight: 700;\n              margin-left: 5%;\n            }\n            .lend_table{\n              text-align: center;\n              margin: 25px 0px 0px 5%;\n              width: 60%;\n            }\n            .table{\n              width: 685px;\n              border:  2px solid rgb(112, 112, 112);\n              border-radius: 15px;\n              overflow-x: auto;\n              white-space: nowrap;\n            }\n            .table_text{\n              font-size: 18px;\n              padding: 5px 25px 5px 25px;\n              border-bottom: 2px solid rgb(112, 112, 112);\n            }\n            .content_text{\n              font-size: 18px;\n              height: 60px;\n            }\n            .cancel_button{\n              display: block;\n              width: 100px;\n              margin-left: 25px;\n              padding: .375rem .75rem;\n              font-size: 1rem;\n              font-weight: 500;\n              line-height: 1.5;\n              color: #212529;\n              background-color: #e9e9e9;\n              background-clip: padding-box;\n              border: 2px solid #dfdfdf;\n              -webkit-appearance: none;\n              -moz-appearance: none;\n              appearance: none;\n              border-radius: 20px;\n              text-align: center;\n              transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n            }\n            .cancel_button:hover{\n              background-color: #c9c9c9;\n              border: 2px solid #c9c9c9;\n            }\n\n            @media (max-width:1096px) {\n              /* ----- Nav Bar ----- */\n              #user_name{\n                color: white;\n                font-size: 18px;\n                font-weight: 500;\n                padding-right: 0;\n              }\n              nav{\n                height: 80px;\n                background-color: #212529;\n                display: flex;\n                align-items: center;\n                justify-content: space-between;\n                padding: 0px 30px 0px 30px;\n              }\n              nav .menu-btn i{\n                display: block;\n              }\n              #click:checked ~ .menu-btn i::before{\n                content: \"\\f00d\";\n              }\n              nav ul{\n                position: fixed;\n                top: 80px;\n                left: -100%;\n                background-color: #111;\n                height: 100vh;\n                width: 100%;\n                display: block;\n                text-align: center;\n                transition: all 0.3s ease;\n              }\n              #click:checked ~ ul{\n                left: 0%;\n              }\n              nav ul li,nav ul label{\n                margin: 40px 0;\n                color: white;\n                font-size: 22px;\n              }\n              nav ul li a,nav ul li label,#user_name{\n                font-size: 22px;\n                display: block;\n              }\n              nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n                background-color: #111;\n                color: rgba(196, 95, 0, 0.993);\n                font-size: 22px;\n              }\n            }\n            @media (max-width:665px){\n              .lend_table{\n                width: 90%;\n              }\n              .table{\n                width: 100%;\n                display:block;\n                overflow-x:scroll;\n                height: auto;\n              }\n              .cancel_button{\n                margin-left: 0px;\n              }\n            }\n        </style>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    </head>\n    <body>\n        <nav>\n            <div class=\"logo\">工廠借用系統</div>\n            <input type=\"checkbox\" id=\"click\">\n            <label for=\"click\" class=\"menu-btn\">\n                <i class=\"fas fa-bars\"></i>\n            </label>\n            <ul>\n                <label id=\"user_name\">林昌毅</label>\n                <li><a href=\"http://127.0.0.1:1880/web/home\">首頁</a></li>\n                <li><a href=\"http://127.0.0.1:1880/web/lend\">預約工廠</a></li>\n                <li><a class=\"active\" href=\"http://127.0.0.1:1880/web/lending\">預約中</a></li>\n                <li><a href=\"http://127.0.0.1:1880/web/information\">個人資料</a></li>\n                <li><label id=\"signout\">登出</label></li>\n            </ul>\n        </nav>\n        <div class=\"main\">\n            <label><h5>預約中清單</h5></label>\n            <label><h5 id=\"inf\" >尚無預約資料</h5></label>\n            <div class=\"lend_table\">\n              <table id=\"table1\" class=\"table\">\n                <thead>\n                    <tr>\n                        <th scope=\"col\" class=\"table_text\"></th>\n                        <th scope=\"col\" class=\"table_text\">預約日期</th>\n                        <th scope=\"col\" class=\"table_text\">預約時段</th>\n                        <th scope=\"col\" class=\"table_text\"></th>\n                    </tr>\n                </thead>\n                <tbody id=\"tb1\">\n                    <tr>\n                        <th scope='row' class=\"content_text\">1</th>\n                        <td id=\"tb1_td1\" class=\"content_text\"></td>\n                        <td id=\"tb1_td2\" class=\"content_text\"></td>\n                        <td class=\"content_btn\"><button id=\"btn1\" type='button' class=\"cancel_button\">取消預約</button></td>\n                    </tr>\n                </tbody>\n                <tbody id=\"tb2\">\n                    <tr>\n                        <th scope='row' class=\"content_text\">2</th>\n                        <td id=\"tb2_td1\" class=\"content_text\"></td>\n                        <td id=\"tb2_td2\" class=\"content_text\"></td>\n                        <td class=\"content_btn\"><button id=\"btn2\" type='button' class=\"cancel_button\">取消預約</button></td>\n                    </tr>\n                </tbody>\n                <tbody id=\"tb3\">\n                    <tr>\n                        <th scope='row' class=\"content_text\">3</th>\n                        <td id=\"tb3_td1\" class=\"content_text\"></td>\n                        <td id=\"tb3_td2\" class=\"content_text\"></td>\n                        <td class=\"content_btn\"><button id=\"btn3\" type='button' class=\"cancel_button\">取消預約</button></td>\n                    </tr>\n                </tbody>\n                <tbody id=\"tb4\">\n                    <tr>\n                        <th scope='row' class=\"content_text\">4</th>\n                        <td id=\"tb4_td1\" class=\"content_text\"></td>\n                        <td id=\"tb4_td2\" class=\"content_text\"></td>\n                        <td class=\"content_btn\"><button id=\"btn4\" type='button' class=\"cancel_button\">取消預約</button></td>\n                    </tr>\n                </tbody>\n                <tbody id=\"tb5\">\n                    <tr>\n                        <th scope='row' class=\"content_text\">5</th>\n                        <td id=\"tb5_td1\" class=\"content_text\"></td>\n                        <td id=\"tb5_td2\" class=\"content_text\"></td>\n                        <td class=\"content_btn\"><button id=\"btn5\" type='button' class=\"cancel_button\">取消預約</button></td>\n                    </tr>\n                </tbody>\n              </table>\n            </div>\n        </div>\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n        <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n        <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/check_uid\"></script>\n        <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/lending/js\"></script>\n    </body>\n</html>","output":"str","x":290,"y":1960,"wires":[["e91660bd.014ae"]]},{"id":"8d453ca6.2fb35","type":"http in","z":"b941852.db78a78","name":"","url":"/web/lending","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1960,"wires":[["ba8d3479.76a0e8"]]},{"id":"a5a55925.34ef18","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        //初始化\n        $(\"#table1\").hide();\n        var API=\"http://127.0.0.1:1880/lending\";\n        $.post\n        (\n            API,\n            {\n                Uid:window.uid\n            },\n            function(res)\n            {\n                window.inf=res.Inf;\n                var length=window.inf.length;\n                for(i=0;i<length;i++)\n                {\n                    window.inf[i].Time = timechange(window.inf[i].Time);\n                }\n                if(length!=0)\n                {\n                    $(\"#inf\").hide();\n                    $(\"#table1\").show();\n                    var tb=[\"#tb1\",\"#tb2\",\"#tb3\",\"#tb4\",\"#tb5\"];\n                    var tblist=\n                    [\n                        [\"#tb1_td1\",\"#tb1_td2\"],\n                        [\"#tb2_td1\",\"#tb2_td2\"],\n                        [\"#tb3_td1\",\"#tb3_td2\"],\n                        [\"#tb4_td1\",\"#tb4_td2\"],\n                        [\"#tb5_td1\",\"#tb5_td2\"]\n                    ];\n                    for(i=0;i<5;i++)\n                    {\n                        if(i<length)\n                        {\n                            $(tblist[i][0]).text(window.inf[i].Time);\n                            $(tblist[i][1]).text(window.inf[i].lend);\n                        }\n                        else\n                        {\n                            $(tb[i]).hide();\n                        }\n                    }\n                }\n            }\n        )\n        \n        //取消預約按鈕\n        $(\"button\").click(function() \n        {\n            //檢查逾時\n            var API = \"http://127.0.0.1:1880/web/check_uid\"\n            $.get\n            (\n                API\n            );\n            \n            var btn_list=[\"btn1\",\"btn2\",\"btn3\",\"btn4\",\"btn5\"]\n            var btn_id=$(this).attr(\"id\");\n            for(i=0;i<5;i++)\n            {\n                if(btn_id==btn_list[i])\n                {\n                    if(confirm(\"確定取消此預約嗎?\"))\n                    {\n                        API=\"http://127.0.0.1:1880/web/delete_lending\";\n                        $.post\n                        (\n                        API,\n                        {\n                            Inf:window.inf[i],\n                            Uid:window.uid\n                        },\n                        function(res) \n                        {\n                            var inf=res.Inf;\n                            if(inf==1)\n                            {\n                                alert(\"取消預約成功!\");\n                                document.location.reload();\n                            }    \n                            else alert(\"取消失敗...\");    \n                        })\n                    }\n                }\n            }\n        })\n\n        //登出\n        $(\"#signout\").click(function()\n        {   \n            var API = \"http://127.0.0.1:1880/delete_uid\";\n            $.get\n                (API);\n            window.location.href=\"http://127.0.0.1:1880/web/signin\"\n        })\n    }\n)\n\n//時間轉換\nfunction timechange(time) \n{\n    var t = new Date(time);\n    var year = t.getFullYear();\n    var month = t.getMonth()+1;\n    var day = t.getDate();\n    if(month<10)\n    {\n        month=\"0\"+month;\n    }\n    if(day<10)\n    {\n        day=\"0\"+day;\n    }\n    time=year+\"-\"+month+\"-\"+day;\n    return time;    \n}","output":"str","x":290,"y":2000,"wires":[["b40756bc.d1f998"]]},{"id":"3645d3d.e15612c","type":"http in","z":"b941852.db78a78","name":"","url":"/web/lending/js","method":"get","upload":false,"swaggerDoc":"","x":130,"y":2000,"wires":[["a5a55925.34ef18"]]},{"id":"b40756bc.d1f998","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":410,"y":2000,"wires":[]},{"id":"e91660bd.014ae","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":410,"y":1960,"wires":[]},{"id":"362588d7.32fb38","type":"http in","z":"b941852.db78a78","name":"","url":"/lending","method":"post","upload":true,"swaggerDoc":"","x":110,"y":2060,"wires":[["c5d7d6cd.1e8738"]]},{"id":"167ca993.87e026","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":830,"y":2060,"wires":[]},{"id":"b5d9012b.4a878","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":510,"y":2060,"wires":[["2ef7febe.c32ad2"]]},{"id":"c5d7d6cd.1e8738","type":"function","z":"b941852.db78a78","name":"篩選與搜尋","func":"msg.uid=msg.req.body.Uid\nmsg.topic='SELECT Time,lend FROM lending WHERE Student_ID = '+'\"'+msg.uid+'\"'+' AND Time>=CURDATE()';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":2060,"wires":[["b5d9012b.4a878"]]},{"id":"2ef7febe.c32ad2","type":"function","z":"b941852.db78a78","name":"回傳借閱情況","func":"msg.payload=\n{\n    Inf:msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":2060,"wires":[["167ca993.87e026"]]},{"id":"d661667a.ac15b8","type":"http in","z":"b941852.db78a78","name":"","url":"/web/delete_lending","method":"post","upload":true,"swaggerDoc":"","x":150,"y":2120,"wires":[["a606abfe.095398"]]},{"id":"8eb04cec.bea05","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":830,"y":2120,"wires":[]},{"id":"a606abfe.095398","type":"function","z":"b941852.db78a78","name":"刪除借閱","func":"msg.inf=msg.req.body.Inf;\nmsg.uid=msg.req.body.Uid;\nmsg.time=msg.inf.Time.substr(0,10);\nmsg.lend=msg.inf.lend.split(\"\");\nvar content = \"\";\nfor(i=0;i<msg.lend.length;i++)\n{\n    if((msg.lend.length-i)!=1)\n    {\n        content+=(msg.lend[i]+\" = 0, \");\n    }\n    else\n    {\n        content+=(msg.lend[i]+\" = 0 \");\n    }\n}\nvar title='UPDATE lend SET ';\nvar where='WHERE Time = '+'\"'+msg.time+'\"'+'';\nmsg.topic=title+content+where+'; DELETE FROM lending WHERE Student_ID = '+'\"'+msg.uid+'\"'+' AND Time = '+'\"'+msg.time+'\"'+' AND lend='+'\"'+msg.inf.lend+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":2120,"wires":[["ff6f3baf.b42258"]]},{"id":"ff6f3baf.b42258","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":510,"y":2120,"wires":[["5a404806.f9a968"]]},{"id":"5a404806.f9a968","type":"function","z":"b941852.db78a78","name":"回傳刪除情況","func":"msg.payload={Inf:1}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":2120,"wires":[["8eb04cec.bea05"]]},{"id":"a4d41e04.51aa3","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n<head>\n    <meta charset=\"utf-8\">\n    <title>首頁-工廠借用系統</title>\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n    <style>\n        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n        *{\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        /* ----- Nav Bar ----- */\n        nav{\n            height: 80px;\n            background-color:#212529;\n            display: flex;\n            align-items: center;\n            justify-content: space-between;\n            padding: 0px 50px 0px 50px;\n        }\n        #user_name{\n            color: white;\n            font-size: 18px;\n            font-weight: 500;\n            padding-right: 15px;\n        }\n        nav .logo{\n            font-size: 40px;\n            color: #C25E00;\n            font-weight: 600;\n        }\n        nav .menu-btn i{\n            color: white;\n            font-size: 32px;\n            cursor: pointer;\n            display: none;\n        }\n        #click{\n            display: none;\n        }\n        nav ul{\n            display: flex;\n            list-style: none;\n        }\n        nav ul li,nav ul label{\n            margin: 0 10px;\n            color: white;\n            font-size: 18px;\n            font-weight: 500;\n        }\n        nav ul li a,nav ul li label{\n            color: white;\n            text-decoration: none;\n            font-size: 18px;\n            font-weight: 500;\n            letter-spacing: 1px;\n            padding: 8px 15px;\n            border-radius: 5px;\n            transition: color .5s ease-in-out;\n        }\n        nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n            background-color:white;\n            color: #212529;\n            font-size: 18px;\n            font-weight: 500;\n            transition: color .5s ease-in-out;\n        }\n        /* ----- End Line ----- */\n        \n        /* ----- Main Part ----- */\n        .main{\n          width: 30%;\n          margin-left: 5%;\n          padding: 50px 0px 0px 0px;\n          float: left;\n        }\n        .Info{\n          color: black;\n          font-size: 30px;\n          font-weight: 700;\n          margin-left: 15px;\n        }\n        .infoTable_content{\n          margin-top: 20px;\n        }\n        #infoTable{\n          overflow-x: auto;\n          white-space: nowrap;\n          border:  2px solid rgb(112, 112, 112);\n          border-radius: 10px;\n        }\n        .title_text{\n          font-size: 18px;\n          font-weight: 600;\n          border-bottom: 2px solid rgb(112, 112, 112);\n          background-color: #d6d6d6;\n          padding: 2px 0px 2px 0px;\n        }\n        #information{\n          width: 280px;\n          border-top-left-radius: 8px;\n          text-align: left;\n          padding-left: 15px;\n        }\n        #infodate{\n          width: 100px;\n          border-top-right-radius: 8px;\n        }\n        #info1_td0, #info1_td1{\n          border-bottom: 2px solid rgb(112, 112, 112);\n        }\n        #info1_td0, #info2_td0{\n          padding: 10px 0px 10px 15px;\n        }\n        #info1_td1, #info2_td1{\n          text-align: center;\n        }\n        div table tbody tr td a{\n          color:rgb(51, 88, 255);\n        }\n        div table tbody tr td a:hover{\n          color:rgb(112, 112, 112);\n        }\n        .ToSwitch{\n          margin-top: 50px;\n        }\n        div #ToSwitchButton{\n            width: 180px;\n            height: 80px;\n            line-height: 1.5;\n            text-align: center;\n            text-decoration: none;\n            vertical-align: middle;\n            cursor: pointer;\n            -webkit-user-select: none;\n            -moz-user-select: none;\n            user-select: none;\n            background-color: #d6d6d6;\n            border: 2px solid #d6d6d6;\n            padding: .375rem .75rem;\n            font-size: 1.5rem;\n            border-radius: 20px;\n            transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n            font-weight: 400;\n        }\n        div #ToSwitchButton:hover{\n            background-color: #ff7738;\n            border: 2px solid #e46428;\n        }\n        .calander{\n          margin: 50px 0px 0px 5%;\n          float: left;\n          height: auto;\n          width: 55%;\n        }\n        .intro{\n          width: 320px;\n          border:  2px solid rgb(112, 112, 112);\n          border-radius: 15px;\n          height: 40px;\n          margin-bottom: 10px;\n        }\n        .intro_O, .intro_X, .intro_L{\n          float: left;\n          margin-left: 20px;\n          margin-top: 5px;\n          border-radius: 5px;\n          padding: 2px 2px 2px 2px;\n        }\n        .intro_O{\n          background-color: #3fc28b;\n        }\n        .intro_X{\n          background-color: #e03535;\n        }\n        .intro_L{\n          background-color: #f77b34;\n        }\n        .calander_text{\n          color: black;\n          font-size: 30px;\n          font-weight: 700;\n          margin: 0px 0px 15px 5px;\n        }\n        .calander_table{\n          width: 100%;\n          height: 400px;\n          overflow-x: auto;\n          white-space: nowrap;\n          border:  2px solid rgb(112, 112, 112);\n          border-radius: 15px;\n        }\n        #Day0{\n          border-top-left-radius: 10px;\n        }\n        #Day7{\n          border-top-right-radius: 10px;\n        }\n        .Day_text{\n          text-align: center;\n          font-size: 18px;\n          border-bottom: 2px solid rgb(112, 112, 112);\n          background-color: #d6d6d6;\n          padding: 3px 0px 3px 0px;\n        }\n        .calander_td, .calander_time_td, .calander_time_td_end ,.calander_td_end{\n          text-align: center;\n        }\n        .calander_time{\n          font-size: 18px;\n        }\n        .calander_time_td{\n          width: 130px;\n        }\n        .calander_time_td, .calander_td{\n          border-bottom: 2px solid rgb(112, 112, 112);\n        }\n        .status_O{\n          background-color: #3fc28b;\n          padding: 3px 8px 3px 8px;\n          border-radius: 100%;\n          font-weight: 1000;\n        }\n        .status_X{\n          background-color: #e03535;\n          padding: 3px 8px 3px 8px;\n          border-radius: 100%;\n          font-weight: 1000;\n        }\n        .status_L{\n          background-color: #f77b34;\n          padding: 3px 8px 3px 8px;\n          border-radius: 100%;\n          font-weight: 1000;\n        }\n        .selection{\n          margin: 10px;\n          float: right;\n        }\n        .selection_button{\n          width: 70px;\n          height: 35px;\n          text-align: center;\n          text-decoration: none;\n          vertical-align: middle;\n          cursor: pointer;\n          -webkit-user-select: none;\n          -moz-user-select: none;\n          user-select: none;\n          background-color: #d6d6d6;\n          border: 2px solid #d6d6d6;\n          padding: .375rem .75rem;\n          font-size: 13px;\n          font-weight: 500;\n          border-radius: 5px;\n          transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n        }\n        .selection_button:hover{\n          background-color: #9c9c9c;\n          border: 2px solid #9c9c9c;;\n        }\n        \n        @media (max-width:1096px){\n          /* ----- Nav Bar ----- */\n          #user_name{\n              color: white;\n              font-size: 18px;\n              font-weight: 500;\n              padding-right: 0;\n          }\n          nav{\n              height: 80px;\n              background-color: #212529;\n              display: flex;\n              align-items: center;\n              justify-content: space-between;\n              padding: 0px 30px 0px 30px;\n          }\n          nav .menu-btn i{\n              display: block;\n          }\n          #click:checked ~ .menu-btn i::before{\n              content: \"\\f00d\";\n          }\n          nav ul{\n              position: fixed;\n              top: 80px;\n              left: -100%;\n              background-color: #111;\n              height: 100vh;\n              width: 100%;\n              display: block;\n              text-align: center;\n              transition: all 0.3s ease;\n          }\n          #click:checked ~ ul{\n              left: 0%;\n          }\n          nav ul li,nav ul label{\n              margin: 40px 0;\n              color: white;\n              font-size: 22px;\n          }\n          nav ul li a,nav ul li label,#user_name{\n              font-size: 22px;\n              display: block;\n          }\n          nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n              background-color: #111;\n              color: rgba(196, 95, 0, 0.993);\n              font-size: 22px;\n          }\n\n          /* ----- Main Part ----- */\n          .main{\n            width: 95%;\n            float: none;\n          }\n          #infoTable{\n            width: 90%;\n          }\n          .ToSwitch{\n            margin-top: 20px;\n          }\n          div #ToSwitchButton{\n            width: 150px;\n            height: 40px;\n            font-size: 15px;\n            border-radius: 20px;\n          }\n          .calander{\n            margin: 20px 0px 0px 5%;\n            height: auto;\n            width: 95%;\n          }\n          .calander_table{\n            width: 90%;\n          }\n          .selection{\n            float: none;\n          }\n        }\n          \n        @media (max-width:430px){\n          .calander_table{\n            display:block;\n            overflow-x:scroll;\n            height: auto;\n          }\n          .Day_text,.calander_time_td, .calander_time_td_end{\n            font-size: 12px;\n            padding: 5px 5px 5px 5px;\n          }\n          .Info,.calander_text{\n            font-size: 25px;\n          }\n          .intro{\n            width: 240px;\n          }\n          .intro_O, .intro_X, .intro_L{\n            font-size: 13px;\n            margin-left: 12px;\n          }\n        }\n    </style>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body>\n    <!----- Nav Bar ----->\n    <nav>\n      <div class=\"logo\">工廠借用系統</div>\n      <input type=\"checkbox\" id=\"click\">\n      <label for=\"click\" class=\"menu-btn\"><i class=\"fas fa-bars\"></i></label>\n      <ul>\n        <label id=\"user_name\">林昌毅</label>\n        <li><a  class=\"active\" href=\"http://127.0.0.1:1880/web/home\">首頁</a></li>\n        <li><a href=\"http://127.0.0.1:1880/web/lend\">預約工廠</a></li>\n        <li><a href=\"http://127.0.0.1:1880/web/lending\" class=\"lending\">預約中</a></li>\n        <li><a href=\"http://127.0.0.1:1880/web/information\">個人資料</a></li>\n        <li><label id=\"signout\">登出</label></li>\n      </ul>\n    </nav>\n\n    <!----- Main Part ----->\n    <div>\n      <div class=\"main\">\n        <label class=\"Info\">公告欄</label>\n        <div class=\"infoTable_content\">\n          <table id=\"infoTable\" class=\"infoTable\">\n            <thead>\n              <tr>\n                <th scope=\"col\" id=\"information\" class=\"title_text\">公告事項</th>\n                <th scope=\"col\" id=\"infodate\" class=\"title_text\">公告日期</th>\n              </tr>\n            </thead>\n            <tbody id=\"info1_content\">\n              <tr>\n                <td id=\"info1_td0\">\n                  <a href=\"https://drive.google.com/file/d/1ZfCgIzyvqdOiYsOlcZCk9_b2WvPAOnFg/view?usp=sharing\" target=\"_blank\">工廠借用系統使用規則</a>\n                </td>\n                <td id=\"info1_td1\">2021/6/21</td>\n              </tr>\n            </tbody>\n            <tbody id=\"info2_content\">\n              <tr>\n                <td id=\"info2_td0\">\n                  <a href=\"https://forms.gle/ar8qxm1xT3gFZWtC9\" target=\"_blank\">使用意見回饋調查</a>\n                </td>\n                <td id=\"info2_td1\">2021/6/21</td>\n              </tr>\n            </tbody>\n          </table>\n        </div>\n        <div class=\"ToSwitch\">\n          <button id=\"ToSwitchButton\" type=\"button\">前往控制介面</button>\n        </div>\n      </div>\n      <div class=\"calander\">\n        <div class=\"calander_text\">借用情況表</div>\n        <div class=\"intro\">\n          <div class=\"intro_O\">O 可借用</div>\n          <div class=\"intro_X\">X 不可借用</div>\n          <div class=\"intro_L\">L 已被借用</div>\n        </div>\n        <table name=\"timetable\" class=\"calander_table\">\n          <thead>\n            <tr>\n              <th id=\"Day0\" class=\"Day_text\"></th>\n              <th id=\"Day1\" class=\"Day_text\">Day1</th>\n              <th id=\"Day2\" class=\"Day_text\">Day2</th>\n              <th id=\"Day3\" class=\"Day_text\">Day3</th>\n              <th id=\"Day4\" class=\"Day_text\">Day4</th>\n              <th id=\"Day5\" class=\"Day_text\">Day5</th>\n              <th id=\"Day6\" class=\"Day_text\">Day6</th>\n              <th id=\"Day7\" class=\"Day_text\">Day7</th>\n            </tr>  \n          </thead>\n          <tbody>\n              <tr>\n                <td class=\"calander_time_td\"><label class=\"calander_time\">08:10~09:00</label>\n                <td class=\"calander_td\"><label id=\"1-1\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"1-2\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"1-3\" class=\"status_O\">X</label></td>\n                <td class=\"calander_td\"><label id=\"1-4\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"1-5\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"1-6\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"1-7\" class=\"status_O\">O</label></td>\n              </tr>\n              <tr>\n                <td class=\"calander_time_td\"><label class=\"calander_time\">09:10~10:00</label></td>\n                <td class=\"calander_td\"><label id=\"2-1\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"2-2\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"2-3\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"2-4\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"2-5\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"2-6\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"2-7\" class=\"status_O\">O</label></td>\n              </tr>\n              <tr>\n                <td class=\"calander_time_td\"><label class=\"calander_time\">10:10~11:00</label></td>\n                <td class=\"calander_td\"><label id=\"3-1\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"3-2\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"3-3\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"3-4\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"3-5\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"3-6\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"3-7\" class=\"status_O\">O</label></td>\n              </tr>\n              <tr>\n                <td class=\"calander_time_td\"><label class=\"calander_time\">11:10~12:00</label></td>\n                <td class=\"calander_td\"><label id=\"4-1\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"4-2\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"4-3\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"4-4\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"4-5\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"4-6\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"4-7\" class=\"status_O\">O</label></td>\n              </tr>\n              <tr>\n                <td class=\"calander_time_td\"><label class=\"calander_time\">13:10~14:00</label></td>\n                <td class=\"calander_td\"><label id=\"5-1\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"5-2\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"5-3\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"5-4\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"5-5\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"5-6\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"5-7\" class=\"status_O\">O</label></td>\n              </tr>\n              <tr>\n                <td class=\"calander_time_td\"><label class=\"calander_time\">14:10~15:00</label></td>\n                <td class=\"calander_td\"><label id=\"6-1\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"6-2\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"6-3\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"6-4\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"6-5\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"6-6\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"6-7\" class=\"status_O\">O</label></td>\n              </tr>\n              <tr>\n                <td class=\"calander_time_td\"><label class=\"calander_time\">15:10~16:00</label></td>\n                <td class=\"calander_td\"><label id=\"7-1\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"7-2\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"7-3\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"7-4\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"7-5\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"7-6\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td\"><label id=\"7-7\" class=\"status_O\">O</label></td>\n              </tr>\n              <tr>\n                <td class=\"calander_time_td_end\"><label class=\"calander_time\">16:10~17:00</label></td>\n                <td class=\"calander_td_end\"><label id=\"8-1\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td_end\"><label id=\"8-2\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td_end\"><label id=\"8-3\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td_end\"><label id=\"8-4\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td_end\"><label id=\"8-5\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td_end\"><label id=\"8-6\" class=\"status_O\">O</label></td>\n                <td class=\"calander_td_end\"><label id=\"8-7\" class=\"status_O\">O</label></td>\n              </tr>\n              </tbody>\n        </table>\n        <div class=\"selection\">\n          <button class=\"selection_button\" id=\"previous\" disabled=true >上一週</button>\n          <button class=\"selection_button\" id=\"next\">下一週</button>\n        </div>\n      </div>\n    </div>\n    \n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/check_uid\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/home/js\"></script>\n</body>\n</html>","output":"str","x":310,"y":1340,"wires":[["e704fa17.f88428"]]},{"id":"874338f4.26dfe8","type":"http in","z":"b941852.db78a78","name":"","url":"/web/home","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1340,"wires":[["a4d41e04.51aa3"]]},{"id":"3cd9f83f.60c448","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"    $(document).ready(function()\n        {\n            window.num = 0;\n            window.Today  = new Date(); // 今天的日期\n            Init_Show(window.Today);\n            \n            // 登出\n            $(\"#signout\").click(function()\n            {   \n                var API = \"http://127.0.0.1:1880/delete_uid\";\n                $.get\n                    (API);\n                window.location.href=\"http://127.0.0.1:1880/web/signin\"\n            })\n            // 前往使用介面\n            $(\"#ToSwitchButton\").click(function()\n            {   \n                var API = \"http://127.0.0.1:1880/check_uid\";\n                $.get\n                    (API);\n                Check_toSwitchWeb();\n            })\n            $(\"#previous\").click(function()\n            {   \n                window.num -= 1;\n                if(!window.num) $(\"#previous\").attr(\"disabled\", true);\n                if(window.num==2) $(\"#next\").attr(\"disabled\", false);\n\n                Find_and_Show(window.Today, window.num);\n            })\n            $(\"#next\").click(function()\n            {   \n                window.num += 1;\n                if(window.num==3) $(\"#next\").attr(\"disabled\", true);\n                if(window.num>0) $(\"#previous\").attr(\"disabled\", false);\n\n                Find_and_Show(window.Today, window.num);\n            })\n        }\n    )\n    function Init_Show(date){\n        var rangetime = RangeTime(date);\n        var week      = Build_week(date);\n        Show_WeekData(rangetime, week);\n    }\n    function Find_and_Show(date, num){\n        var rangetime = RangeTime(addDaysToDate(date, num*7));\n        var week      = Build_week(addDaysToDate(date, num*7));\n        Show_WeekData(rangetime, week);\n    }\n    function Show_WeekData(range, week){\n        var API = \"http://127.0.0.1:1880/getData\";\n        $.post\n        (\n            API,\n            {\n                Range:range\n            },\n            function(res)\n            {\n                var rangedatas = lendData_formate(res.RangeDatas); //後端回傳資料\n                var length     = rangedatas.length;\n                const Day_ID = [\"#Day1\",\"#Day2\",\"#Day3\",\"#Day4\",\"#Day5\",\"#Day6\",\"#Day7\"];\n                const Time_ID = [[\"#1-1\",\"#2-1\",\"#3-1\",\"#4-1\",\"#5-1\",\"#6-1\",\"#7-1\",\"#8-1\"],\n                                 [\"#1-2\",\"#2-2\",\"#3-2\",\"#4-2\",\"#5-2\",\"#6-2\",\"#7-2\",\"#8-2\"],\n                                 [\"#1-3\",\"#2-3\",\"#3-3\",\"#4-3\",\"#5-3\",\"#6-3\",\"#7-3\",\"#8-3\"],\n                                 [\"#1-4\",\"#2-4\",\"#3-4\",\"#4-4\",\"#5-4\",\"#6-4\",\"#7-4\",\"#8-4\"],\n                                 [\"#1-5\",\"#2-5\",\"#3-5\",\"#4-5\",\"#5-5\",\"#6-5\",\"#7-5\",\"#8-5\"],\n                                 [\"#1-6\",\"#2-6\",\"#3-6\",\"#4-6\",\"#5-6\",\"#6-6\",\"#7-6\",\"#8-6\"],\n                                 [\"#1-7\",\"#2-7\",\"#3-7\",\"#4-7\",\"#5-7\",\"#6-7\",\"#7-7\",\"#8-7\"]];\n                for(i=0; i<7; i++)\n                {\n                    $(Day_ID[i]).text(week[i][1]);\n                    if(week[i][2]==0 || week[i][2]==6) \n                    {\n                        for(j=0; j<8; j++) {\n                            $(Time_ID[i][j]).text(\"X\");\n                            $(Time_ID[i][j]).attr(\"class\", \"status_X\");\n                        }\n                    }\n                    else\n                    {\n                        for(k=0; k<length; k++)\n                        {\n                            if(week[i][0]==rangedatas[k][0])\n                            {\n                                for(n=0; n<8; n++)\n                                {\n                                    if(rangedatas[k][1][n]) \n                                    {\n                                        $(Time_ID[i][n]).text(\"L\");\n                                        $(Time_ID[i][n]).attr(\"class\", \"status_L\");\n                                    }\n                                    else\n                                    {\n                                        $(Time_ID[i][n]).text(\"O\");\n                                        $(Time_ID[i][n]).attr(\"class\", \"status_O\");\n                                    } \n                                }\n                                break;\n                            }\n                            else\n                            {\n                                for(m=0; m<8; m++) {\n                                    $(Time_ID[i][m]).text(\"O\");\n                                    $(Time_ID[i][m]).attr(\"class\", \"status_O\");\n                                }\n                            }\n                        }\n                    }\n                }\n            }\n        );\n    }\n    // 建立一週的時間(年/月/日)\n    function Build_week(date){\n        var res = [];\n        for(i=0; i<7; i++) res.push([date_formate(addDaysToDate(date, i)), getMD(addDaysToDate(date, i)), addDaysToDate_getWeek(date, i)]);\n        return res; \n    }\n\n    // 格式借用資料(JSON To Array)\n    function lendData_formate(data)\n    {\n        var length = data.length;\n        var res    = [];\n        for(i=0; i<length; i++) res.push([date_formate(data[i].Time), [data[i].A, data[i].B, data[i].C, data[i].D, data[i].F, data[i].G, data[i].H, data[i].I]]);\n        return res;\n    }\n\n    // 找出第一天與第七天的日期，並格式化\n    function RangeTime(date)\n    {\n        var res = [date_formate(date)];\n        res.push(date_formate(addDaysToDate(date, 6)));\n        return res;\n        // 回傳第一天至第七天\n    }\n\n    // 格式化日期(月/日(星期))\n    function getMD(date){\n        date = new Date(date);\n        var date_month = date.getMonth()+1;\n        var date_day = date.getDate();\n        var week = date.getDay();\n        const week_text = [\"日\", \"一\", \"二\", \"三\", \"四\", \"五\", \"六\"]\n        var res = date_month+\"/\"+date_day+\" (\"+week_text[week]+\")\";\n        return res;\n    }\n\n    // 格式化日期\n    function date_formate(date)\n    {\n        date = new Date(date);\n        var date_year = date.getFullYear();\n        var date_month = date.getMonth()+1;\n        var date_day = date.getDate();\n        if(date_day<10)\n            { \n                date_day='0'+date_day;\n            } \n            if(date_month<10)\n            { \n                date_month='0'+date_month; \n            } \n        var res = date_year+\"-\"+date_month+\"-\"+date_day;\n        return res;\n        // 僅格式化 年-月-日\n    }\n\n    // 增加天數\n    function addDaysToDate(date, days){\n        var res = new Date(date);\n        res.setDate(res.getDate() + days);\n        return res;\n    }\n\n    // 增加天數-得星期\n    function addDaysToDate_getWeek(date, days){\n        var res = new Date(date);\n        res.setDate(res.getDate() + days);\n        res = res.getDay();\n        return res;\n    }\n\n    function Check_toSwitchWeb()\n    {\n        window.check_flag = 0;\n        var API = \"http://127.0.0.1:1880/check\";\n        $.post\n        (\n            API,\n            {\n                Uid:window.uid\n            },\n            function(res)\n            {\n                window.inf=res.Inf;\n                window.inf_length = window.inf.length; \n                \n                var Tdate=new Date();\n                window.Tyear=Tdate.getFullYear();\n                window.Tmonth=Tdate.getMonth();\n                window.Tday=Tdate.getDate();\n                window.currrent_h=Tdate.getHours();\n                \n                var hour_index = [\"A\",\"B\",\"C\",\"D\",\"F\",\"G\",\"H\",\"I\"];\n                \n                if(window.currrent_h>=8 && window.currrent_h<=17)\n                {\n                    if(window.currrent_h<12 && window.currrent_h>=8)\n                    {\n                        var j = window.currrent_h-8;\n                    }\n                    if(window.currrent_h>=13 && window.currrent_h<18)\n                    {\n                        var j = window.currrent_h-13+4;\n                    }\n                    window.current_index = hour_index[j];\n                }\n\n                for(i=0;i<window.inf_length;i++)\n                {\n                    window.date_index = new Date(window.inf[i].Time);\n                    var index = window.inf[i].lend.split(\"\");\n                    var index_length = index.length;\n                    for(k=0;k<index_length;k++)\n                    {\n                        if(index[k] == window.current_index)\n                        {\n                            window.check_flag = 1;\n                        }\n                    }\n                }\n\n                if(window.check_flag==0)\n                {\n                    window.alert(\"目前非您的借閱時間\");\n                }\n                else window.location.href=\"http://127.0.0.1:1880/web/switch\";\n            }\n        )\n    }","output":"str","x":310,"y":1380,"wires":[["e28777a0.82cbd8"]]},{"id":"e6c3f6c.ded8808","type":"http in","z":"b941852.db78a78","name":"","url":"/web/home/js","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1380,"wires":[["3cd9f83f.60c448"]]},{"id":"e28777a0.82cbd8","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":450,"y":1380,"wires":[]},{"id":"e704fa17.f88428","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":450,"y":1340,"wires":[]},{"id":"6a2c6edf.f596b","type":"comment","z":"b941852.db78a78","name":"首頁","info":"","x":90,"y":1280,"wires":[]},{"id":"f672b05.908b55","type":"http in","z":"b941852.db78a78","name":"","url":"/delete_uid","method":"get","upload":true,"swaggerDoc":"","x":120,"y":2300,"wires":[["f2c3a696.6ec618"]]},{"id":"b69415a8.083198","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":630,"y":2300,"wires":[]},{"id":"f2c3a696.6ec618","type":"function","z":"b941852.db78a78","name":"Clear cookies","func":"var cookieNames = Object.keys(msg.req.cookies).filter\n    (\n        function(cookieName) \n        { \n            return /^uid/.test(cookieName);\n        }\n    );\n\nmsg.cookies = {};\n\ncookieNames.forEach\n    (\n        function(cookieName) \n        {\n            msg.cookies[cookieName] = null;\n        }\n    );\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":2300,"wires":[["7720ca67.7795b4"]]},{"id":"7720ca67.7795b4","type":"change","z":"b941852.db78a78","name":"Redirect to /set","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/web/home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":2300,"wires":[["b69415a8.083198"]]},{"id":"676b2fc5.a8988","type":"http in","z":"b941852.db78a78","name":"","url":"/web/check_uid","method":"get","upload":false,"swaggerDoc":"","x":130,"y":2360,"wires":[["9561750a.bfcfa8"]]},{"id":"9561750a.bfcfa8","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n        {\n            window.uid = Cookies.get(\"uid\");\n            if (window.uid)\n            {\n                var API = \"http://127.0.0.1:1880/web/check_User_ID\";\n                $.post\n                (\n                    API,\n                    {\n                        Uid:window.uid\n                    },\n                    function(res)\n                    {\n                        window.user_id=res.User_id;\n                        window.user_name=res.User_name;\n                        $(\"#user_name\").text(\"Hi ! \"+window.user_name);\n                    }\n                )\n            }\n            else\n            {\n                window.location.href=\"http://127.0.0.1:1880/web/signin\";\n            }\n        }\n    )","output":"str","x":290,"y":2360,"wires":[["1299efc2.14fe6"]]},{"id":"1299efc2.14fe6","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":410,"y":2360,"wires":[]},{"id":"c8e9bc9e.59e19","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":510,"y":2240,"wires":[["b4c05fc7.27a53"]]},{"id":"5cd8350d.f33e7c","type":"http in","z":"b941852.db78a78","name":"","url":"/web/check_User_ID","method":"post","upload":true,"swaggerDoc":"","x":150,"y":2240,"wires":[["b34e8a17.391128"]]},{"id":"e4e0cce1.bd3e2","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":810,"y":2240,"wires":[]},{"id":"b34e8a17.391128","type":"function","z":"b941852.db78a78","name":"查詢User_ID","func":"msg.uid=msg.req.body.Uid;\nmsg.topic='SELECT User_ID,Name FROM Information WHERE Student_ID = '+'\"'+msg.uid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":2240,"wires":[["c8e9bc9e.59e19"]]},{"id":"b4c05fc7.27a53","type":"function","z":"b941852.db78a78","name":"回傳User_ID","func":"msg.payload={\"User_id\":msg.payload[0].User_ID,\"User_name\":msg.payload[0].Name};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":2240,"wires":[["e4e0cce1.bd3e2"]]},{"id":"21314e4e.5dff92","type":"comment","z":"b941852.db78a78","name":"Cookies","info":"","x":100,"y":2180,"wires":[]},{"id":"fa6106df.265a38","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n   <head>\n      <meta charset=\"utf-8\">\n      <title>個人資料-工廠借用系統</title>\n      <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n      <style>\n          @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n          *{\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n          }\n          /* ----- Nav Bar ----- */\n          #topic{\n            font-size: 40px;\n            font-weight: 400;\n            padding-left: 50px;\n            padding-top: 50px;\n          }\n          #user_name{\n            color: white;\n            font-size: 18px;\n            font-weight: 500;\n            padding-right: 15px;\n          }\n          nav{\n            height: 80px;\n            background-color:#212529;\n            display: flex;\n            align-items: center;\n            justify-content: space-between;\n            padding: 0px 50px 0px 50px;\n          }\n          nav .logo{\n            font-size: 40px;\n            color: rgba(196, 95, 0, 0.993);\n            font-weight: 600;\n          }\n          nav ul{\n            display: flex;\n            list-style: none;\n          }\n          nav ul li,nav ul label{\n            margin: 0 10px;\n            color: white;\n            font-size: 18px;\n            font-weight: 500;\n          }\n          nav ul li a,nav ul li label{\n            color: white;\n            text-decoration: none;\n            font-size: 18px;\n            font-weight: 500;\n            letter-spacing: 1px;\n            padding: 8px 15px;\n            border-radius: 5px;\n          }\n          nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n            background-color:white;\n            color: #212529;\n            font-size: 18px;\n            font-weight: 500;\n          }\n          nav .menu-btn i{\n            color: white;\n            font-size: 30px;\n            cursor: pointer;\n            display: none;\n          }\n          #click{\n            display: none;\n          }\n          \n          /* ----- Main Part ----- */\n          .main{\n            width: 60%;\n            height: 550px;\n            margin:auto;\n            padding:30px 5px 0px 5px;\n            text-align: center;\n          }\n          div label h5{\n            color: black;\n            font-size: 28px;\n            font-weight: 700;\n          }\n          table{\n            overflow-x: auto;\n            white-space: nowrap;\n            width: 560px;\n            margin:  25px auto auto auto;\n            text-align: center;\n            border:  2px solid rgb(112, 112, 112);\n            border-radius: 15px;\n          }\n          .content_text, .info_text{\n            text-align: center;\n            height: 50px;\n            font-size: 20px;\n            font-weight: 600;\n            font-family: Arial, Helvetica, sans-serif;\n            padding: 0px 0px 0px 25px;\n            border-bottom: 2px solid rgb(112, 112, 112);\n          }\n          .content_text_end, .info_text_end{\n            text-align: center;\n            height: 50px;\n            font-size: 20px;\n            font-weight: 600;\n            font-family: Arial, Helvetica, sans-serif;\n            padding: 0px 0px 0px 25px;\n          }\n          #btnp{\n            margin-top: 25px;\n            width: 100%;\n            text-align: center;\n          }\n          #modify{\n            display: block;\n            width: 160px;\n            margin:auto;\n            padding: .375rem .75rem;\n            font-size: 1rem;\n            font-weight: 500;\n            line-height: 1.5;\n            color: #212529;\n            background-color: #e9e9e9;\n            background-clip: padding-box;\n            border: 2px solid #dfdfdf;\n            -webkit-appearance: none;\n            -moz-appearance: none;\n            appearance: none;\n            border-radius: 20px;\n            text-align: center;\n            transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n          }\n          #modify:hover{\n            background-color: #c9c9c9;\n            border: 2px solid #c9c9c9;\n          }\n\n          @media (max-width:1090px) {\n            #user_name{\n              color: white;\n              font-size: 18px;\n              font-weight: 500;\n              padding-right: 0;\n            }\n            nav{\n              height: 80px;\n              background-color: #212529;\n              display: flex;\n              align-items: center;\n              justify-content: space-between;\n              padding: 0px 30px 0px 30px;\n            }\n            nav .menu-btn i{\n              display: block;\n            }\n            #click:checked ~ .menu-btn i::before{\n              content: \"\\f00d\";\n            }\n            nav ul{\n              position: fixed;\n              top: 80px;\n              left: -100%;\n              background-color: #111;\n              height: 100vh;\n              width: 100%;\n              display: block;\n              text-align: center;\n              transition: all 0.3s ease;\n            }\n            #click:checked ~ ul{\n              left: 0%;\n            }\n            nav ul li,nav ul label{\n              margin: 40px 0;\n              color: white;\n              font-size: 22px;\n            }\n            nav ul li a,nav ul li label,#user_name{\n              font-size: 22px;\n              display: block;\n            }\n            nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n              background-color: #111;\n              color: rgba(196, 95, 0, 0.993);\n              font-size: 22px;\n            }\n          }\n          @media (max-width:960px){\n            .main{\n              width: auto;\n            }\n            table{\n              width: 60%;\n              margin-left: auto;\n              margin-right: auto;\n            }\n          }\n          @media (max-width:660px){\n            .main{\n              width: auto;\n            }\n            table{\n              display: block;\n              overflow-x: auto;\n              width: 360px;\n              white-space: nowrap;\n              height: auto;\n            }\n          }\n      </style>\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n   </head>\n   <body>\n      <nav>\n         <div class=\"logo\">工廠借用系統</div>\n         <input type=\"checkbox\" id=\"click\">\n         <label for=\"click\" class=\"menu-btn\">\n            <i class=\"fas fa-bars\"></i>\n         </label>\n         <ul>\n            <label id=\"user_name\">林昌毅</label>\n            <li><a href=\"http://127.0.0.1:1880/web/home\">首頁</a></li>\n            <li><a href=\"http://127.0.0.1:1880/web/lend\">預約工廠</a></li>\n            <li><a href=\"http://127.0.0.1:1880/web/lending\">預約中</a></li>\n            <li><a class=\"active\" href=\"http://127.0.0.1:1880/web/information\">個人資料</a></li>\n            <li><label id=\"signout\">登出</label></li>\n         </ul>\n      </nav>\n      <div class=\"main\">\n        <label><h5>個人資料</h5></label>\n        <table>\n            <tbody>\n              <tr>\n                <th scope=\"row\" class=\"content_text\">姓名</th>\n                <td id=\"name\" class=\"info_text\"></td>\n              <tr>\n                <th scope=\"row\" class=\"content_text\">學號</th>\n                <td id=\"stdid\" class=\"info_text\"></td>\n              </tr>\n              <tr>\n                <th scope=\"row\" class=\"content_text\">密碼</th>\n                <td id=\"password\" class=\"info_text\"></td>\n              </tr>\n              <tr>\n                <th scope=\"row\" class=\"content_text\">電話</th>\n                <td id=\"phone\" class=\"info_text\"></td>\n              </tr>\n              <tr>\n                <th scope=\"row\" class=\"content_text_end\">信箱</th>\n                <td id=\"email\" class=\"info_text_end\"></td>\n              </tr>\n            </tbody>\n        </table>\n        <div id=\"btnp\">\n            <button  id=\"modify\" type=\"button\">修改個人資料</button>\n        </div>\n    </div>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/check_uid\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/information/js\"></script>\n\n      </body>\n</html>","output":"str","x":310,"y":2480,"wires":[["9e42d126.2037"]]},{"id":"47da8139.cd6df","type":"http in","z":"b941852.db78a78","name":"","url":"/web/information","method":"get","upload":false,"swaggerDoc":"","x":140,"y":2480,"wires":[["fa6106df.265a38"]]},{"id":"b214ba1f.acb1a8","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        //初始化\n        var API=\"http://127.0.0.1:1880/information\"\n        $.post\n        (\n            API,\n            {\n                Uid:window.uid\n            },\n            function(res)\n            {\n                var name = res.Name;\n                var password = res.Password;\n                var phone = res.Phone;\n                var email = res.Email;\n                $(\"#name\").text(name);\n                $(\"#stdid\").text(window.uid);\n                $(\"#password\").text(password);\n                $(\"#phone\").text(phone);\n                $(\"#email\").text(email);\n            }\n        )\n        \n        //修改資料\n        $(\"#modify\").click(function()\n        {   \n            var API = \"http://127.0.0.1:1880/web/check_uid\"\n            $.get\n            (\n                API\n            );\n            window.location.href=\"http://127.0.0.1:1880/web/information/modify\";\n        })\n\n        //登出\n        $(\"#signout\").click(function()\n        {   \n            var API = \"http://127.0.0.1:1880/delete_uid\";\n            $.get\n                (API);\n            window.location.href=\"http://127.0.0.1:1880/web/signin\"\n        })\n    }\n)","output":"str","x":310,"y":2520,"wires":[["97c3017d.7ac77"]]},{"id":"9b5eeadd.85f778","type":"http in","z":"b941852.db78a78","name":"","url":"/web/information/js","method":"get","upload":false,"swaggerDoc":"","x":140,"y":2520,"wires":[["b214ba1f.acb1a8"]]},{"id":"97c3017d.7ac77","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":430,"y":2520,"wires":[]},{"id":"9e42d126.2037","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":430,"y":2480,"wires":[]},{"id":"57fb98bd.9c9c68","type":"http in","z":"b941852.db78a78","name":"","url":"/information","method":"post","upload":true,"swaggerDoc":"","x":130,"y":2580,"wires":[["909ffcbf.74521"]]},{"id":"98e67aa3.25c968","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":750,"y":2580,"wires":[]},{"id":"909ffcbf.74521","type":"function","z":"b941852.db78a78","name":"搜尋個人資料","func":"msg.uid=msg.req.body.Uid\nmsg.topic='SELECT * FROM Information WHERE Student_ID = '+'\"'+msg.uid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":2580,"wires":[["1727523f.a6791e"]]},{"id":"1727523f.a6791e","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":490,"y":2580,"wires":[["91bf382c.7deba8"]]},{"id":"91bf382c.7deba8","type":"function","z":"b941852.db78a78","name":"","func":"msg.payload=\n    {\n        Name:msg.payload[0].Name,\n        Password:msg.payload[0].Password,\n        Phone:msg.payload[0].Phone,\n        Email:msg.payload[0].Email\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":2580,"wires":[["98e67aa3.25c968"]]},{"id":"47e71583.b692dc","type":"http in","z":"b941852.db78a78","name":"","url":"/web/information/modify","method":"get","upload":true,"swaggerDoc":"","x":160,"y":2700,"wires":[["43353ac1.45f9c4"]]},{"id":"6496a966.394938","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":490,"y":2700,"wires":[]},{"id":"43353ac1.45f9c4","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n   <head>\n      <meta charset=\"utf-8\">\n      <title>修改資料-工廠借用系統</title>\n      <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n      <style>\n        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n        *{\n          margin: 0;\n          padding: 0;\n          box-sizing: border-box;\n        }\n        /* ----- Nav Bar ----- */\n        #topic{\n          font-size: 40px;\n          font-weight: 400;\n          padding-left: 50px;\n          padding-top: 50px;\n        }\n        #user_name{\n          color: white;\n          font-size: 18px;\n          font-weight: 500;\n          padding-right: 15px;\n        }\n        nav{\n          height: 80px;\n          background-color:#212529;\n          display: flex;\n          align-items: center;\n          justify-content: space-between;\n          padding: 0px 50px 0px 50px;\n        }\n        nav .logo{\n          font-size: 40px;\n          color: rgba(196, 95, 0, 0.993);\n          font-weight: 600;\n        }\n        nav ul{\n          display: flex;\n          list-style: none;\n        }\n        nav ul li,nav ul label{\n          margin: 0 10px;\n          color: white;\n          font-size: 18px;\n          font-weight: 500;\n        }\n        nav ul li a,nav ul li label{\n          color: white;\n          text-decoration: none;\n          font-size: 18px;\n          font-weight: 500;\n          letter-spacing: 1px;\n          padding: 8px 15px;\n          border-radius: 5px;\n        }\n        nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n          background-color:white;\n          color: #212529;\n          font-size: 18px;\n          font-weight: 500;\n        }\n        nav .menu-btn i{\n          color: white;\n          font-size: 32px;\n          cursor: pointer;\n          display: none;\n        }\n        #click{\n          display: none;\n        }\n\n        /* ----- Main Part ----- */\n        .main{\n          width: 100%;\n          height: 550px;\n          margin:auto;\n          padding:30px 5px 0px 5px;\n          text-align: center;\n        }\n        div label h5{\n          color: black;\n          font-size: 28px;\n          font-weight: 700;\n        }\n        table{\n          overflow-x: auto;\n          white-space: nowrap;\n          width: 560px;\n          height: 300px;\n          margin: auto;\n          text-align: center;\n          border:  2px solid rgb(112, 112, 112);\n          border-radius: 15px;\n          margin-top: 25px;\n        }\n        input:disabled{\n          display: block;\n          width: 70%;\n          margin: 2px 0px 2px 5%;\n          padding: .375rem .75rem;\n          font-size: 1rem;\n          font-weight: 400;\n          line-height: 1.5;\n          color: #212529;\n          background-color: rgb(223, 223, 223);\n          background-clip: padding-box;\n          border: 2px solid #bdbdbd;\n          -webkit-appearance: none;\n          -moz-appearance: none;\n          appearance: none;\n          border-radius: 5px;\n          text-align: left;\n        }\n        .form{\n          display: block;\n          width: 70%;\n          margin: 2px 0px 2px 5%;\n          padding: .375rem .75rem;\n          font-size: 1rem;\n          font-weight: 400;\n          line-height: 1.5;\n          color: #212529;\n          background-color: rgb(253, 253, 253);\n          background-clip: padding-box;\n          border: 2px solid #bdbdbd;\n          -webkit-appearance: none;\n          -moz-appearance: none;\n          appearance: none;\n          border-radius: 5px;\n          text-align: left;\n        }\n        .form_alart{\n          display: block;\n          width: 70%;\n          margin: 2px 0px 2px 5%;\n          padding: .375rem .75rem;\n          font-size: 1rem;\n          font-weight: 400;\n          line-height: 1.5;\n          color: #212529;\n          background-color: rgb(253, 234, 234);\n          background-clip: padding-box;\n          border: 2px solid #ff3c3c;\n          -webkit-appearance: none;\n          -moz-appearance: none;\n          appearance: none;\n          border-radius: 5px;\n          text-align: left;\n        }\n        .content_text, .info_text{\n          text-align: center;\n          height: 40px;\n          font-size: 20px;\n          font-weight: 600;\n          font-family: Arial, Helvetica, sans-serif;\n          padding: 0px 0px 0px 25px;\n          border-bottom: 2px solid rgb(112, 112, 112);\n        }\n        .content_text_end, .info_text_end{\n            text-align: center;\n            height: 40px;\n            font-size: 20px;\n            font-weight: 600;\n            font-family: Arial, Helvetica, sans-serif;\n            padding: 0px 0px 0px 25px;\n          }\n        #btnp{\n          margin-top: 25px;\n          width: 100%;\n          text-align: center;\n        }\n        #yes,#no{\n          display: inline;\n          width: 100px;\n          margin:0px 5px 0 5px;\n          padding: .375rem .75rem;\n          font-size: 1rem;\n          font-weight: 500;\n          line-height: 1.5;\n          color: #212529;\n          background-color: #e9e9e9;\n          background-clip: padding-box;\n          border: 2px solid #dfdfdf;\n          -webkit-appearance: none;\n          -moz-appearance: none;\n          appearance: none;\n          border-radius: 20px;\n          /* text-align: center; */\n          transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n        }\n        #yes:hover,#no:hover{\n          background-color: #c9c9c9;\n          border: 2px solid #c9c9c9;\n        }\n        .nothing{\n          display: none;\n        }\n        .alarm{\n          color: rgb(255, 0, 0);\n          margin-left: 25px;\n          font-size: 16px;\n          font-weight: 500;\n          text-align: left;\n        }\n        @media (max-width:1090px) {\n          #user_name{\n            color: white;\n            font-size: 18px;\n            font-weight: 500;\n            padding-right: 0;\n          }\n          nav{\n            height: 80px;\n            background-color: #212529;\n            display: flex;\n            align-items: center;\n            justify-content: space-between;\n            padding: 0px 30px 0px 30px;\n          }\n          nav .menu-btn i{\n            display: block;\n          }\n          #click:checked ~ .menu-btn i::before{\n            content: \"\\f00d\";\n          }\n          nav ul{\n            position: fixed;\n            top: 80px;\n            left: -100%;\n            background-color: #111;\n            height: 100vh;\n            width: 100%;\n            display: block;\n            text-align: center;\n            transition: all 0.3s ease;\n          }\n          #click:checked ~ ul{\n            left: 0%;\n          }\n          nav ul li,nav ul label{\n            margin: 40px 0;\n            color: white;\n            font-size: 22px;\n          }\n          nav ul li a,nav ul li label,#user_name{\n            font-size: 22px;\n            display: block;\n          }\n          nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n            background-color: #111;\n            color: rgba(196, 95, 0, 0.993);\n            font-size: 22px;\n          }\n        }\n        @media (max-width:660px){\n          .main{\n            width: auto;\n          }\n          table{\n            overflow-x: auto;\n            white-space: nowrap;\n            width: auto;\n            height: 270px;\n          }\n          input:disabled,.form,.form_alart{\n            width: 90%;\n          margin: 5px 0px 5px 5%;\n          }\n        }\n      </style>\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n   </head>\n   <body>\n      <nav>\n         <div class=\"logo\">工廠借用系統</div>\n         <input type=\"checkbox\" id=\"click\">\n         <label for=\"click\" class=\"menu-btn\">\n            <i class=\"fas fa-bars\"></i>\n         </label>\n         <ul>\n            <label id=\"user_name\">林昌毅</label>\n            <li><a href=\"http://127.0.0.1:1880/web/home\">首頁</a></li>\n            <li><a href=\"http://127.0.0.1:1880/web/lend\">預約工廠</a></li>\n            <li><a href=\"http://127.0.0.1:1880/web/lending\">預約中</a></li>\n            <li><a class=\"active\" href=\"http://127.0.0.1:1880/web/information\">個人資料</a></li>\n            <li><label id=\"signout\">登出</label></li>\n         </ul>\n      </nav>\n      <div class=\"main\">\n        <label><h5>個人資料</h5></label>\n        <table class=\"table\">\n            <tbody>\n              <tr>\n                <th scope=\"row\" class=\"content_text\">姓名</th>\n                <td class=\"info_text\">\n                    <input class=\"form\" id=\"name\" value=\"#\">\n                    <div id=\"name_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              <tr>\n                <th scope=\"row\" class=\"content_text\">學號</th>\n                <td class=\"info_text\">\n                    <input class=\"form\" id=\"stdid\" value=\"#\" disabled>\n                    <div id=\"stdid_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n              <tr>\n                <th scope=\"row\" class=\"content_text\">密碼</th> \n                <td class=\"info_text\">\n                    <input class=\"form\" id=\"password\" value=\"#\">\n                    <div id=\"password_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n              <tr>\n                <th scope=\"row\" class=\"content_text\">電話</th>\n                <td class=\"info_text\">\n                    <input class=\"form\" id=\"phone\" value=\"#\">\n                    <div id=\"phone_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n              <tr>\n                <th scope=\"row\" class=\"content_text_end\">信箱</th>\n                <td class=\"info_text_end\">\n                    <input class=\"form\" id=\"email\" value=\"#\">\n                    <div id=\"email_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n            </tbody>\n        </table>\n        <div id=\"btnp\">\n                <button class=\"btn\" id=\"yes\" type=\"button\">確定修改</button>\n                <button class=\"btn\" id=\"no\" type=\"button\">取消</button>\n        </div>\n    </div>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/check_uid\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/information/modify/js\"></script>\n\n      </body>\n</html>","output":"str","x":370,"y":2700,"wires":[["6496a966.394938"]]},{"id":"2c1c64b.c1ca89c","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        //初始化\n        var API=\"http://127.0.0.1:1880/information\"\n        $.post\n        (\n            API,\n            {\n                Uid:window.uid\n            },\n            function(res)\n            {\n                var name = res.Name;\n                var password = res.Password;\n                var phone = res.Phone;\n                var email = res.Email;\n                $(\"#name\").attr(\"value\",name);\n                $(\"#stdid\").attr(\"value\",window.uid);\n                $(\"#password\").attr(\"value\",password);\n                $(\"#phone\").attr(\"value\",phone);\n                $(\"#email\").attr(\"value\",email);\n            }\n        )\n        \n        //確認修改\n        $(\"#yes\").click(function()\n        {   \n            var name = $(\"#name\").val();\n            var stdid = $(\"#stdid\").val();\n            var password = $(\"#password\").val();\n            var phone = $(\"#phone\").val();\n            var email = $(\"#email\").val();\n            var check = 1;\n            var list = [name,stdid,password,phone,email];\n            var list_obj = [\"#name\",\"#stdid\",\"#password\",\"#phone\",\"#email\"];\n            var list_alarm = [\"#name_alarm\",\"#stdid_alarm\",\"#password_alarm\",\"#phone_alarm\",\"#email_alarm\"]\n            for(i=0;i<5;i++)\n            {\n                if(!list[i])\n                {\n                    check = 0;\n                    $(list_obj[i]).attr(\"class\",\"form_alart\");\n                    $(list_alarm[i]).attr(\"class\",\"alarm\");\n                }\n                else \n                {\n                    $(list_obj[i]).attr(\"class\",\"form\");\n                    $(list_alarm[i]).attr(\"class\",\"nothing\");\n                }\n            }\n            if(check==1)\n            {\n                if(confirm(\"確定變更個人資料?\"))\n                {\n                    var API = \"http://127.0.0.1:1880/modify\";\n                    console.log(stdid);\n                    $.post\n                    (\n                    API,\n                    {\n                        Name:name,\n                        Stdid:stdid,\n                        Password:password,\n                        Phone:phone,\n                        Email:email\n                    },function(res) \n                    {\n                        var inf = res.Inf;\n                        if(inf==1)\n                        {\n                            alert(\"成功修改個人資料!\");\n                            window.location.href=\"http://127.0.0.1:1880/web/information\";\n                        }    \n                    })\n                }\n            }\n        })\n\n        //取消修改\n        $(\"#no\").click(function()\n        {\n            window.location.href=\"http://127.0.0.1:1880/web/information\";\n        })\n\n        //登出\n        $(\"#signout\").click(function()\n        {   \n            var API = \"http://127.0.0.1:1880/delete_uid\";\n            $.get\n                (API);\n            window.location.href=\"http://127.0.0.1:1880/web/signin\"\n        })\n    }\n)","output":"str","x":370,"y":2740,"wires":[["ea31d668.11f9b8"]]},{"id":"db0e6936.1a5c18","type":"http in","z":"b941852.db78a78","name":"","url":"/web/information/modify/js","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2740,"wires":[["2c1c64b.c1ca89c"]]},{"id":"ea31d668.11f9b8","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":490,"y":2740,"wires":[]},{"id":"764063.9358df9c","type":"http in","z":"b941852.db78a78","name":"","url":"/modify","method":"post","upload":true,"swaggerDoc":"","x":110,"y":2800,"wires":[["29a79552.04631a"]]},{"id":"814690d6.81a15","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":730,"y":2800,"wires":[]},{"id":"29a79552.04631a","type":"function","z":"b941852.db78a78","name":"修改資料","func":"msg.name = msg.req.body.Name;\nmsg.stdid = msg.req.body.Stdid;\nmsg.password = msg.req.body.Password;\nmsg.phone = msg.req.body.Phone;\nmsg.email = msg.req.body.Email;\nmsg.topic='UPDATE Information SET Name = '+'\"'+msg.name+'\"'+',Password = '+'\"'+msg.password+'\"'+',Phone = '+'\"'+msg.phone+'\"'+',email='+'\"'+msg.email+'\"'+' WHERE Student_ID = '+'\"'+msg.stdid+'\"'+''\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":2800,"wires":[["e8286a81.aa4e88"]]},{"id":"e8286a81.aa4e88","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":410,"y":2800,"wires":[["40f8e703.adf768"]]},{"id":"40f8e703.adf768","type":"function","z":"b941852.db78a78","name":"回傳修改情形","func":"msg.payload={Inf:1}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":2800,"wires":[["814690d6.81a15"]]},{"id":"e9553883.226db8","type":"comment","z":"b941852.db78a78","name":"個人資料頁面","info":"","x":110,"y":2420,"wires":[]},{"id":"9247ee78.42824","type":"comment","z":"b941852.db78a78","name":"修改資料頁面","info":"","x":110,"y":2640,"wires":[]},{"id":"26db84bc.6c043c","type":"http in","z":"b941852.db78a78","name":"","url":"/switch","method":"post","upload":true,"swaggerDoc":"","x":110,"y":3020,"wires":[["75f5fc8d.f4f6d4"]]},{"id":"bbc3281f.026df8","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":390,"y":3020,"wires":[]},{"id":"517ef199.7aa84","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x\" crossorigin=\"anonymous\">\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js\" integrity=\"sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js\" integrity=\"sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT\" crossorigin=\"anonymous\"></script>\n    <title>控制系統-工廠借用系統</title>\n</head>\n\n<body>\n    <div style=\"float:center;  text-align:center; margin-top: 10%;\">\n        <br><h1><b>智能插頭開關</b></h1>\n        <div class=\"d-grid gap-2 col-3 mx-auto\">\n            <button id=\"switchon\" type=\"button\" class=\"btn btn-secondary\" style=\"margin-top:10px\"><b>ON</b></button>\n        </div>\n        <div class=\"d-grid gap-2 col-3 mx-auto\">\n            <button id=\"switchoff\" type=\"button\" class=\"btn btn-secondary\" style=\"margin-top:10px\"><b>OFF</b></button>\n        </div>\n    </div>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/check_uid\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/switch/js\"></script>\n</body>\n\n</html>","output":"str","x":310,"y":2920,"wires":[["facd47d6.0c9bd8"]]},{"id":"8f2ecacb.979d38","type":"http in","z":"b941852.db78a78","name":"","url":"/web/switch","method":"get","upload":false,"swaggerDoc":"","x":120,"y":2920,"wires":[["517ef199.7aa84"]]},{"id":"93d72e9b.7b1e5","type":"template","z":"b941852.db78a78","name":"JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        check();\n\n        $(\"#switchon\").click(function()\n        {   \n            check_uid();\n            check();\n            switch_on();\n        })\n\n        $(\"#switchoff\").click(function()\n        {   \n            check_uid();\n            check();\n            switch_off();\n        })\n    }\n    \n)\n\nfunction check()\n{\n    window.check_flag = 0;\n    var API = \"http://127.0.0.1:1880/check\";\n    $.post\n    (\n        API,\n        {\n            Uid:window.uid\n        },\n        function(res)\n        {\n            window.inf=res.Inf;\n            window.inf_length = window.inf.length; \n            \n            var Tdate=new Date();\n            window.Tyear=Tdate.getFullYear();\n            window.Tmonth=Tdate.getMonth();\n            window.Tday=Tdate.getDate();\n            window.currrent_h=Tdate.getHours();\n            \n            var hour_index = [\"A\",\"B\",\"C\",\"D\",\"F\",\"G\",\"H\",\"I\"];\n            \n            if(window.currrent_h>=8 && window.currrent_h<=17)\n            {\n                if(window.currrent_h<12 && window.currrent_h>=8)\n                {\n                    var j = window.currrent_h-8;\n                }\n                if(window.currrent_h>=13 && window.currrent_h<18)\n                {\n                    var j = window.currrent_h-13+4;\n                }\n                window.current_index = hour_index[j];\n            }\n\n            for(i=0;i<window.inf_length;i++)\n            {\n                window.date_index = new Date(window.inf[i].Time);\n                var index = window.inf[i].lend.split(\"\");\n                var index_length = index.length;\n                for(k=0;k<index_length;k++)\n                {\n                    if(index[k] == window.current_index)\n                    {\n                        window.check_flag = 1;\n                    }\n                }\n            }\n\n            if(window.check_flag==0)\n            {\n                switch_off();\n                window.alert(\"目前非您的借閱時間\");\n                window.location.href=\"http://127.0.0.1:1880/web/home\";\n            }\n        }\n    )\n}\n\nfunction switch_on()\n{\n    var info=1;\n    var API =\"http://127.0.0.1:1880/switch\";\n    $.post\n        (\n            API,\n            {\n                Info:info\n            }\n        );\n}\n\nfunction switch_off()\n{\n    var info=0;\n    var API =\"http://127.0.0.1:1880/switch\";\n    $.post\n        (\n            API,\n            {\n                Info:info\n            }\n        );\n}\n\nfunction check_uid()\n{\n    var API = \"http://127.0.0.1:1880/web/check_uid\"\n            $.get\n            (\n                API\n            );\n}","output":"str","x":310,"y":2960,"wires":[["bab2d37e.d9a98"]]},{"id":"962fd116.16466","type":"http in","z":"b941852.db78a78","name":"","url":"/web/switch/js","method":"get","upload":false,"swaggerDoc":"","x":130,"y":2960,"wires":[["93d72e9b.7b1e5"]]},{"id":"bab2d37e.d9a98","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":430,"y":2960,"wires":[]},{"id":"facd47d6.0c9bd8","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":430,"y":2920,"wires":[]},{"id":"75f5fc8d.f4f6d4","type":"function","z":"b941852.db78a78","name":"search","func":"msg.info = msg.req.body.Info;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":3020,"wires":[["bbc3281f.026df8","81d0cdd9.8910d"]]},{"id":"18a07730.187769","type":"kasa","z":"b941852.db78a78","name":"測試 - HS105(US)","device":"192.168.0.103","interval":60000,"eventInterval":15000,"payload":"getInfo","payloadType":"info","debug":false,"x":670,"y":3100,"wires":[[]]},{"id":"81d0cdd9.8910d","type":"switch","z":"b941852.db78a78","name":"","property":"info","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":3100,"wires":[["24184f7b.ad59d"],["422ac3d0.81fc3c"]]},{"id":"24184f7b.ad59d","type":"function","z":"b941852.db78a78","name":"On","func":"msg.payload=true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":3080,"wires":[["18a07730.187769"]]},{"id":"422ac3d0.81fc3c","type":"function","z":"b941852.db78a78","name":"Off","func":"msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":3120,"wires":[["18a07730.187769"]]},{"id":"5663a261.4bd80c","type":"http in","z":"b941852.db78a78","name":"","url":"/check","method":"post","upload":true,"swaggerDoc":"","x":110,"y":3180,"wires":[["cab8bf0c.dbe14"]]},{"id":"1a88761e.67b28a","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":750,"y":3180,"wires":[]},{"id":"cab8bf0c.dbe14","type":"function","z":"b941852.db78a78","name":"篩選與搜尋","func":"msg.uid=msg.req.body.Uid\nmsg.topic='SELECT Time,lend FROM lending WHERE Student_ID = '+'\"'+msg.uid+'\"'+'AND Time = CURDATE()';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":3180,"wires":[["86dfe8ae.57b338"]]},{"id":"86dfe8ae.57b338","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":430,"y":3180,"wires":[["3b88e4f0.a3a1cc"]]},{"id":"3b88e4f0.a3a1cc","type":"function","z":"b941852.db78a78","name":"回傳借閱情況","func":"msg.payload=\n{\n    Inf:msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":3180,"wires":[["1a88761e.67b28a"]]},{"id":"c07eb63.956b148","type":"comment","z":"b941852.db78a78","name":"控制介面","info":"","x":100,"y":2860,"wires":[]},{"id":"5288ff54.30f35","type":"http in","z":"b941852.db78a78","name":"","url":"/admin/add_uid","method":"post","upload":true,"swaggerDoc":"","x":140,"y":580,"wires":[["f131969.7ddc068"]]},{"id":"119114a.bdbdbeb","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":810,"y":580,"wires":[]},{"id":"5fbf0418.fdc88c","type":"function","z":"b941852.db78a78","name":"Add a cookie","func":"msg.cookies = {\n    uid: \n    {\n        value: msg.stdid,\n        maxAge: 1800000\n    }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":580,"wires":[["e4ea3774.b33088"]]},{"id":"e4ea3774.b33088","type":"change","z":"b941852.db78a78","name":"Redirect to /set","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/admin/signin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":580,"wires":[["119114a.bdbdbeb"]]},{"id":"f131969.7ddc068","type":"function","z":"b941852.db78a78","name":"上傳值","func":"msg.stdid = msg.req.body.Std_id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":580,"wires":[["5fbf0418.fdc88c"]]},{"id":"9851bae7.b97048","type":"comment","z":"b941852.db78a78","name":"建立管理者cookie","info":"","x":120,"y":540,"wires":[]},{"id":"bc4c7970.d7abc8","type":"http in","z":"b941852.db78a78","name":"","url":"/getData","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1420,"wires":[["9e2d0180.70545"]]},{"id":"f41df9.850e5208","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":790,"y":1420,"wires":[]},{"id":"9e2d0180.70545","type":"function","z":"b941852.db78a78","name":"搜尋週資料","func":"msg.range = msg.req.body.Range;\nmsg.topic='SELECT * FROM lend WHERE Time BETWEEN '+'\"'+msg.range[0]+'\"'+' AND '+'\"'+msg.range[1]+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1420,"wires":[["59d4a180.56552"]]},{"id":"a0d6fe7c.7e839","type":"function","z":"b941852.db78a78","name":"回傳與辨認","func":"msg.rangedatas = msg.payload;\nvar Today = new Date();\nvar res = {\n    Time: Today,\n    A: 0,\n    B: 0,\n    C: 0,\n    D: 0,\n    F: 0,\n    G: 0,\n    H: 0,\n    I: 0\n};\nif(msg.rangedatas==false) msg.rangedatas = [res];\n\nmsg.payload={\"RangeDatas\":msg.rangedatas};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1420,"wires":[["f41df9.850e5208"]]},{"id":"59d4a180.56552","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":490,"y":1420,"wires":[["a0d6fe7c.7e839"]]},{"id":"99102dfd.bf428","type":"inject","z":"b941852.db78a78","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"00 01 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":3360,"wires":[["4f0b9bea.ebc184","95569ebb.ea9e1"]]},{"id":"4f0b9bea.ebc184","type":"function","z":"b941852.db78a78","name":"清除舊資料","func":"var Today = new Date();\nfunction date_formate(date)\n    {\n        date = new Date(date);\n        var date_year = date.getFullYear();\n        var date_month = date.getMonth()+1;\n        var date_day = date.getDate();\n        if(date_day<10)\n            { \n                date_day='0'+date_day;\n            } \n            if(date_month<10)\n            { \n                date_month='0'+date_month; \n            } \n        var res = date_year+\"-\"+date_month+\"-\"+date_day;\n        return res;\n        // 僅格式化 年-月-日\n    }\nToday = date_formate(Today);\nmsg.topic = 'DELETE FROM lending WHERE Time < '+'\"'+Today+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":3320,"wires":[["1099f929.3c4877"]]},{"id":"1099f929.3c4877","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":450,"y":3360,"wires":[[]]},{"id":"95569ebb.ea9e1","type":"function","z":"b941852.db78a78","name":"清除舊資料","func":"var Today = new Date();\nfunction date_formate(date)\n    {\n        date = new Date(date);\n        var date_year = date.getFullYear();\n        var date_month = date.getMonth()+1;\n        var date_day = date.getDate();\n        if(date_day<10)\n            { \n                date_day='0'+date_day;\n            } \n            if(date_month<10)\n            { \n                date_month='0'+date_month; \n            } \n        var res = date_year+\"-\"+date_month+\"-\"+date_day;\n        return res;\n        // 僅格式化 年-月-日\n    }\nToday = date_formate(Today);\nmsg.topic = 'DELETE FROM lend WHERE Time < '+'\"'+Today+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":3400,"wires":[["1099f929.3c4877"]]},{"id":"3f7c2ebb.6add92","type":"http in","z":"b941852.db78a78","name":"","url":"/admin/lend","method":"get","upload":true,"swaggerDoc":"","x":120,"y":3540,"wires":[["49cf0cbc.ecda24"]]},{"id":"28a87d80.07d4e2","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":410,"y":3540,"wires":[]},{"id":"49cf0cbc.ecda24","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n\n<head>\n    <meta charset=\"utf-8\">\n    <title>預約-工廠借閱管理者系統</title>\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\" />\n    <style>\n        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n            font-family: 'Poppins', sans-serif;\n        }\n        \n        #topic {\n            font-size: 40px;\n            font-weight: 400;\n            padding-left: 50px;\n            padding-top: 50px;\n        }\n        \n        #user_name {\n            color: white;\n            font-size: 18px;\n            font-weight: 500;\n            padding-right: 15px;\n        }\n        \n        nav {\n            height: 80px;\n            background-color: #212529;\n            display: flex;\n            align-items: center;\n            justify-content: space-between;\n            padding: 0px 50px 0px 50px;\n        }\n        \n        nav .logo {\n            font-size: 40px;\n            color: rgba(196, 95, 0, 0.993);\n            font-weight: 600;\n        }\n        \n        nav ul {\n            display: flex;\n            list-style: none;\n        }\n        \n        nav ul li,\n        nav ul label {\n            margin: 0 10px;\n            color: white;\n            font-size: 18px;\n            font-weight: 500;\n        }\n        \n        nav ul li a,\n        nav ul li label {\n            color: white;\n            text-decoration: none;\n            font-size: 18px;\n            font-weight: 500;\n            letter-spacing: 1px;\n            padding: 8px 15px;\n            border-radius: 5px;\n        }\n        \n        nav ul li a:hover,\n        nav ul li label:hover,\n        nav ul li a.active {\n            background-color: white;\n            color: #212529;\n            font-size: 18px;\n            font-weight: 500;\n        }\n        \n        nav .menu-btn i {\n            color: white;\n            font-size: 32px;\n            cursor: pointer;\n            display: none;\n        }\n        \n        #click {\n            display: none;\n        }\n        /* 以上是menu設定，以下是預約設定 */\n        \n        .main {\n            display: block;\n            margin-top: 30px;\n            margin-left: 15%;\n            width: 70%;\n            text-align: center;\n        }\n        \n        div label h5 {\n            color: black;\n            font-size: 26px;\n            font-weight: 700;\n        }\n        div input{\n            width: 20%;\n            height: 35px;\n            font-size: 1rem;\n            font-weight: 400;\n            border: 2px solid #bdbdbd;\n            border-radius: 10px;\n            text-align: center;\n            \n        }\n\n        div input:hover{\n            border: 2px solid #bdbdbdbe;\n            \n        }\n        \n        #selectdate {\n            display: block;\n            width: 30%;\n            height: 40px;\n            margin: 10px 0px 20px 35%;\n            padding: .375rem .75rem;\n            font-size: 1rem;\n            font-weight: 400;\n            line-height: 1.5;\n            color: #212529;\n            background-color: rgb(253, 253, 253);\n            background-clip: padding-box;\n            border: 2px solid #bdbdbd;\n            -webkit-appearance: none;\n            -moz-appearance: none;\n            appearance: none;\n            appearance: none;\n            border-radius: 10px;\n            text-align: center;\n            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;\n        }\n        \n        #selectdate:hover {\n            color: #212529;\n            background-color: rgb(243, 243, 243);\n        }\n        \n        div form input {\n            display: none;\n        }\n        \n        div form label {\n            display: inline-block;\n            width: 200px;\n            font-weight: 400;\n            margin: 15px 5px 5px 5px;\n            line-height: 2;\n            color: #212529;\n            text-align: center;\n            text-decoration: none;\n            vertical-align: middle;\n            cursor: pointer;\n            -webkit-user-select: none;\n            -moz-user-select: none;\n            user-select: none;\n            background-color: white;\n            border: 2px solid rgb(52, 99, 255);\n            padding: .375rem .75rem;\n            font-size: 1rem;\n            border-radius: 10px;\n            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;\n        }\n        \n        div form input:disabled+label {\n            background-color: rgba(238, 238, 238, 0.7);\n            border: 2px solid rgba(238, 238, 238, 0.7);\n            color: rgba(0, 0, 0, 0.7);\n        }\n        \n        div form label:hover,\n        div form input:checked+label {\n            color: #ffffff;\n            background-color: rgb(52, 99, 255);\n            transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;\n        }\n        \n        #btnset {\n            display: inline-block;\n            width: 100px;\n            font-weight: 400;\n            margin-top: 10px;\n            line-height: 1.5;\n            color: #212529;\n            text-align: center;\n            text-decoration: none;\n            vertical-align: middle;\n            cursor: pointer;\n            -webkit-user-select: none;\n            -moz-user-select: none;\n            user-select: none;\n            background-color: #bdbdbd;\n            border: 2px solid #bdbdbd;\n            padding: .375rem .75rem;\n            font-size: 1rem;\n            border-radius: 10px;\n            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;\n        }\n        \n        #btnset:hover {\n            color: #000000;\n            background-color: rgb(131, 131, 131);\n            border-color: rgb(131, 131, 131);\n        }\n        #schoolnum {\n                width: 180px;\n                font-weight: 400;\n                margin: 10px 5px 10px 5px;\n                line-height: 2;\n                padding: 15px 20px;\n            }\n        \n        @media (max-width:1090px) {\n            #user_name {\n                color: white;\n                font-size: 18px;\n                font-weight: 500;\n                padding-right: 0;\n            }\n            nav {\n                height: 80px;\n                background-color: #212529;\n                display: flex;\n                align-items: center;\n                justify-content: space-between;\n                padding: 0px 30px 0px 30px;\n            }\n            nav .menu-btn i {\n                display: block;\n            }\n            #click:checked~.menu-btn i::before {\n                content: \"\\f00d\";\n            }\n            nav ul {\n                position: fixed;\n                top: 80px;\n                left: -100%;\n                background-color: #111;\n                height: 100vh;\n                width: 100%;\n                display: block;\n                text-align: center;\n                transition: all 0.3s ease;\n            }\n            #click:checked~ul {\n                left: 0%;\n            }\n            nav ul li,\n            nav ul label {\n                margin: 40px 0;\n                color: white;\n                font-size: 22px;\n            }\n            nav ul li a,\n            nav ul li label,\n            #user_name {\n                font-size: 22px;\n                display: block;\n            }\n            nav ul li a:hover,\n            nav ul li label:hover,\n            nav ul li a.active {\n                background-color: #111;\n                color: rgba(196, 95, 0, 0.993);\n                font-size: 22px;\n            }\n            /* 以上是menu設定，以下是預約設定 */\n            .main {\n                display: block;\n                margin: 20px 15% 0px 15%;\n                text-align: center;\n            }\n            div label h5 {\n                color: black;\n                font-size: 20px;\n                font-weight: 700;\n            }\n            #schoolnum {\n                width: 150px;\n                font-weight: 400;\n                margin: 10px 5px 5px 5px;\n                line-height: 2;\n                padding: 15px 20px;\n            }\n        }\n        \n        @media (max-width:420px) {\n            nav .logo {\n                font-size: 30px;\n            }\n            .main {\n                display: block;\n                width: auto;\n                margin: 20px 5% 0px 5%;\n                text-align: center;\n            }\n            #selectdate {\n                display: block;\n                width: 60%;\n                margin: 5px 10% 10px 20%;\n                padding: .375rem .75rem;\n                font-size: 1rem;\n                font-weight: 400;\n                line-height: 1.5;\n                color: #212529;\n                background-color: rgb(253, 253, 253);\n                background-clip: padding-box;\n                border: 2px solid #bdbdbd;\n                -webkit-appearance: none;\n                -moz-appearance: none;\n                appearance: none;\n                border-radius: 10px;\n                text-align: center;\n                transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;\n            }\n            div form label {\n                display: inline-block;\n                width: 180px;\n                font-weight: 400;\n                margin: 5px 5px 5px 5px;\n                line-height: 2;\n                color: #212529;\n                text-align: center;\n                text-decoration: none;\n                vertical-align: middle;\n                cursor: pointer;\n                -webkit-user-select: none;\n                -moz-user-select: none;\n                user-select: none;\n                background-color: white;\n                border: 2px solid rgb(52, 99, 255);\n                padding: .375rem .75rem;\n                font-size: 16px;\n                border-radius: 10px;\n                transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;\n            }\n            div form label {\n                display: inline-block;\n                width: 150px;\n                font-weight: 400;\n                margin: 15px 5px 5px 5px;\n                line-height: 2;\n                color: #212529;\n                padding: .375rem .75rem;\n                font-size: 15PX;\n            }\n            div form label:hover {\n                color: #000000;\n                background-color: white;\n                border: 2px solid rgb(52, 99, 255);\n            }\n            #schoolnum {\n                width: 150px;\n                font-weight: 400;\n                margin: 10px 5px 5px 5px;\n        }\n    </style>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n\n<body>\n    <nav>\n        <div class=\"logo\">工廠借閱管理者系統</div>\n        <input type=\"checkbox\" id=\"click\">\n        <label for=\"click\" class=\"menu-btn\">\n            <i class=\"fas fa-bars\"></i>\n         </label>\n        <ul>\n            <label id=\"user_name\">管理者</label>\n            <li><a href=\"http://127.0.0.1:1880/web/home\">首頁</a></li>\n            <li><a href=\"http://127.0.0.1:1880/web/lending\">預約中</a></li>\n            <li><label id=\"signout\">登出</label></li>\n        </ul>\n    </nav>\n    <div class=\"main\">\n        <label><h5>請輸入學號</h5></label>\n        <input type=\"text\" id=\"schoolnum\" maxlength=\"9\">\n        <label><h5>預約日期</h5></label>\n        <input type=\"date\" id=\"selectdate\" min=\"2021-5-24\" placeholder=\"請選擇日期\">\n        <label><h5>預約時段</h5></label>\n        <form name=\"myform\">\n            <input type=\"checkbox\" id=\"myCheck1\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"First\">\n            <label id=\"myCheck1_lb\" for=\"myCheck1\">AM 08:10-AM 09:00</label>\n            <input type=\"checkbox\" id=\"myCheck2\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Second\">\n            <label id=\"myCheck2_lb\" for=\"myCheck2\">AM 09:10-AM 10:00</label>\n            <br>\n            <input type=\"checkbox\" id=\"myCheck3\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Third\">\n            <label id=\"myCheck3_lb\" for=\"myCheck3\">AM 10:10-AM 11:00</label>\n            <input type=\"checkbox\" id=\"myCheck4\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Forth\">\n            <label id=\"myCheck4_lb\" for=\"myCheck4\">AM 11:10-PM 12:00</label>\n            <br>\n            <input type=\"checkbox\" id=\"myCheck5\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Fifth\">\n            <label id=\"myCheck5_lb\" for=\"myCheck5\">PM 01:10-PM 02:00</label>\n            <input type=\"checkbox\" id=\"myCheck6\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Sixth\">\n            <label id=\"myCheck6_lb\" for=\"myCheck6\">PM 02:10-PM 03:00</label>\n            <br>\n            <input type=\"checkbox\" id=\"myCheck7\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Seventh\">\n            <label id=\"myCheck7_lb\" for=\"myCheck7\">PM 03:10-PM 04:00</label>\n            <input type=\"checkbox\" id=\"myCheck8\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Eighth\">\n            <label id=\"myCheck8_lb\" for=\"myCheck8\">PM 04:10-PM 05:00</label>\n            <br>\n        </form>\n        <button id=\"btnset\" class=\"btn btn-secondary\" type=\"button\"><b>確定借閱</b></button>\n    </div>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n    <script language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/admin/lend/js\"></script>\n    <script language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/admin/check_uid\"></script>\n\n</body>\n\n</html>","output":"str","x":290,"y":3540,"wires":[["28a87d80.07d4e2"]]},{"id":"5735526d.4cf0bc","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function() {\n    //當日的年月日\n    var Today = new Date();\n    var today_year = Today.getFullYear();\n    var today_month = Today.getMonth() + 1;\n    var today_day = Today.getDate();\n    if (today_day < 10) {\n        today_day = '0' + today_day;\n    }\n    if (today_month < 10) {\n        today_month = '0' + today_month;\n    }\n    window.today = today_year + \"-\" + today_month + \"-\" + (today_day);\n    document.getElementById(\"selectdate\").setAttribute(\"min\", window.today);\n\n    //初始化\n    window.date_checked = 0;\n\n    //登出\n    $(\"#signout\").click(function() {\n        var API = \"http://127.0.0.1:1880/admin/delete_uid\";\n        $.get(API);\n        window.location.href = \"http://127.0.0.1:1880/web/signin\"\n    })\n\n    //確認時間\n    $(\"#selectdate\").change(function() {\n        //檢查逾時\n        var API = \"http://127.0.0.1:1880/admin/check_uid\";\n        $.get(\n            API\n        );\n\n        //重新初始化選單\n        window.date_checked = 1;\n        window.time_checked = 0;\n        var id_list = [\"#myCheck1\", \"#myCheck2\", \"#myCheck3\", \"#myCheck4\", \"#myCheck5\", \"#myCheck6\", \"#myCheck7\", \"#myCheck8\"];\n        var label_id_list = [\"#myCheck1_lb\", \"#myCheck2_lb\", \"#myCheck3_lb\", \"#myCheck4_lb\", \"#myCheck5_lb\", \"#myCheck6_lb\", \"#myCheck7_lb\", \"#myCheck8_lb\"];\n        for (i = 0; i < 8; i++) {\n            document.myform.mycheck[i].checked = false;\n        }\n        for (i = 0; i < 8; i++) {\n            $(id_list[i]).attr(\"disabled\", false);\n        }\n\n        var Time = document.getElementById(\"selectdate\").value;\n        var API = \"http://127.0.0.1:1880/check_time\";\n        window.time = Time;\n        $.post(\n            API, {\n                Time: window.time\n            },\n            function(res) {\n                var id_list = [\"#myCheck1\", \"#myCheck2\", \"#myCheck3\", \"#myCheck4\", \"#myCheck5\", \"#myCheck6\", \"#myCheck7\", \"#myCheck8\"];\n                var label_id_list = [\"#myCheck1_lb\", \"#myCheck2_lb\", \"#myCheck3_lb\", \"#myCheck4_lb\", \"#myCheck5_lb\", \"#myCheck6_lb\", \"#myCheck7_lb\", \"#myCheck8_lb\"];\n                window.feedback_time = res.Feedback; //回傳借閱情況\n                window.status = res.Status; //借閱狀態:Part/All\n                if (window.feedback_time) {\n                    for (i = 0; i < 8; i++) {\n                        if (window.feedback_time[i]) {\n                            $(id_list[i]).attr(\"disabled\", true);\n                        }\n                    }\n                } else {\n                    for (i = 0; i < 8; i++) {\n                        $(id_list[i]).attr(\"disabled\", false);\n                    }\n                }\n            }\n        )\n    })\n\n    //確定借閱\n    $(\"#btnset\").click(function() {\n        //檢查逾時\n        var API = \"http://127.0.0.1:1880/web/check_uid\"\n        $.get(\n            API\n        );\n        var school = document.getElementById(\"schoolnum\");\n\n        if (school == null || school == \"\") { alert(\"請輸入學號\") } else {\n            var lend = new Array(8)\n            var settime = document.myform.mycheck; //所選時段\n            window.time_checked = 0;\n            for (i = 0; i < 8; i++) {\n                if (settime[i].checked == true) {\n                    window.time_checked = 2;\n                    lend[i] = window.user_id;\n                } else lend[i] = 0;\n            }\n            var send_checked = window.date_checked + window.time_checked;\n            if (send_checked == 3) {\n                var API = \"http://127.0.0.1:1880/check_time\";\n                $.post(\n                    API, {\n                        Time: window.time\n                    },\n                    function(res) {\n                        var dbchecked = res.Feedback;\n                        window.alarm = 0;\n                        if (dbchecked != 0) {\n                            for (i = 0; i < 8; i++) {\n                                console.log(\"dbchecked\");\n                                if (lend[i] == window.user_id && dbchecked[i] != 0) {\n                                    window.alarm = 1;\n                                    break;\n\n                                }\n                            }\n                        }\n                        if (window.alarm == 0) {\n\n\n                            if (confirm(\"確定借閱?\")) {\n                                var API = \"http://127.0.0.1:1880/lend\";\n                                $.post(\n                                    API, {\n                                        Lend: lend,\n                                        Lend_status: window.status,\n                                        Lend_date: window.time,\n                                        Time: window.feedback_time,\n                                        Stdid: school\n                                    },\n                                    function(res) {\n                                        var ok = res.OK;\n                                        if (ok == \"OK\") {\n                                            var lendtimes = res.Lendtimes + 1;\n                                            alert(\"借閱成功! \\n您目前已借閱\" + lendtimes + \"筆。\");\n                                            document.location.reload();\n                                        } else if (ok == \"OVER\") {\n                                            alert(\"您已達借閱次數上限(5筆)\");\n                                            document.location.reload();\n                                        }\n                                    });\n                            }\n                        } else {\n                            alert(\"有時段已被借閱。\");\n                            document.location.reload();\n                        }\n                    });\n            } else if (send_checked == 2) alert(\"請選擇預約日期!\");\n            else if (send_checked == 1) alert(\"請選擇預約時段!\");\n            else alert(\"請選擇預約日期與時段。\");\n        }\n    })\n})","output":"str","x":290,"y":3580,"wires":[["ec71f134.98227"]]},{"id":"2106d280.d800ae","type":"http in","z":"b941852.db78a78","name":"","url":"/admin/lend/js","method":"get","upload":false,"swaggerDoc":"","x":130,"y":3580,"wires":[["5735526d.4cf0bc"]]},{"id":"ec71f134.98227","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":410,"y":3580,"wires":[]},{"id":"bb5a00ec.9f304","type":"http in","z":"b941852.db78a78","name":"","url":"/admin/delete_uid","method":"get","upload":true,"swaggerDoc":"","x":140,"y":3760,"wires":[["991f117c.6b804"]]},{"id":"9c474d97.3ce89","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":670,"y":3760,"wires":[]},{"id":"991f117c.6b804","type":"function","z":"b941852.db78a78","name":"Clear cookies","func":"var cookieNames = Object.keys(msg.req.cookies).filter\n    (\n        function(cookieName) \n        { \n            return /^uid/.test(cookieName);\n        }\n    );\n\nmsg.cookies = {};\n\ncookieNames.forEach\n    (\n        function(cookieName) \n        {\n            msg.cookies[cookieName] = null;\n        }\n    );\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":3760,"wires":[["1968bc39.485bf4"]]},{"id":"1968bc39.485bf4","type":"change","z":"b941852.db78a78","name":"Redirect to /set","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/admin/lend","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":3760,"wires":[["9c474d97.3ce89"]]},{"id":"3dda897c.1ced76","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":530,"y":3700,"wires":[["325b4442.9ffbcc"]]},{"id":"bf4ff538.3c5448","type":"http in","z":"b941852.db78a78","name":"","url":"/admin/check_User_ID","method":"post","upload":true,"swaggerDoc":"","x":160,"y":3700,"wires":[["7a35195c.81bb68"]]},{"id":"68877fd4.bbfe7","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":830,"y":3700,"wires":[]},{"id":"7a35195c.81bb68","type":"function","z":"b941852.db78a78","name":"查詢User_ID","func":"msg.uid=msg.req.body.Uid;\nmsg.topic='SELECT User_ID,Name FROM Information WHERE Student_ID = '+'\"'+msg.uid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":3700,"wires":[["3dda897c.1ced76"]]},{"id":"325b4442.9ffbcc","type":"function","z":"b941852.db78a78","name":"回傳User_ID","func":"msg.payload={\"User_id\":msg.payload[0].User_ID,\"User_name\":msg.payload[0].Name};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":3700,"wires":[["68877fd4.bbfe7"]]},{"id":"4b2f4a07.3736f4","type":"comment","z":"b941852.db78a78","name":"Cookies","info":"","x":90,"y":3640,"wires":[]},{"id":"9d4f8e2.37bf17","type":"http in","z":"b941852.db78a78","name":"","url":"/admin/check_uid","method":"get","upload":false,"swaggerDoc":"","x":140,"y":3820,"wires":[["9bd153b2.b9af"]]},{"id":"9bd153b2.b9af","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n        {\n            window.uid = Cookies.get(\"uid\");\n            if (window.uid)\n            {\n                var API = \"http://127.0.0.1:1880/admin/check_User_ID\";\n                $.post\n                (\n                    API,\n                    {\n                        Uid:window.uid\n                    },\n                    function(res)\n                    {\n                        window.user_id=res.User_id;\n                        window.user_name=res.User_name;\n                        $(\"#user_name\").text(\"Hi ! \"+window.user_name);\n                    }\n                )\n            }\n            else\n            {\n                window.location.href=\"http://127.0.0.1:1880/web/signin\";\n            }\n        }\n    )","output":"str","x":310,"y":3820,"wires":[["62f39fe2.8a078"]]},{"id":"62f39fe2.8a078","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":430,"y":3820,"wires":[]},{"id":"2edd2f68.a50f2","type":"comment","z":"b941852.db78a78","name":"管理者頁面","info":"","x":100,"y":3480,"wires":[]},{"id":"7f314c7a.5028b4","type":"http in","z":"b941852.db78a78","name":"","url":"/web/forget","method":"get","upload":false,"swaggerDoc":"","x":120,"y":4200,"wires":[["83c7bdf6.8e0d"]]},{"id":"7fe278c.f14ee88","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":410,"y":4200,"wires":[]},{"id":"83c7bdf6.8e0d","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n        *{\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n            font-family: 'Poppins', sans-serif;\n            text-decoration: none;\n        }\n        /* ----- Home Section ----- */\n        .home{\n            display: flex;\n            background: url(\"https://github.com/Changyi-Lin/Reasearch/blob/master/School.jpg?raw=true\") no-repeat center;\n            background-size: cover;\n            height: 150px;\n            color: #ffffff;\n            width: auto;\n            z-index: -100;\n            filter:brightness(50%);\n        }\n        .home-content{\n            display: flex;\n            position: absolute;\n            z-index: 50;\n            top: 35px;\n            width: 50%;\n            margin-left: 25%;\n            margin-right: 25%;\n        }\n        .home-content .max-size{\n            margin: auto;\n        }\n        .content{\n            text-align: center;\n        }\n        .text{\n            font-size: 60px;\n            color: white;\n            font-weight: 600;\n        }\n\n        /* ----- Main Part ----- */\n        .main{\n            width: 500px;\n            height: 380px;\n            margin-top: 50px;\n            margin-left: auto;\n            margin-right: auto;\n            background-color: white;\n            border-radius: 10px;\n            border: 2px solid rgb(112, 112, 112);\n        }\n        .find_text{\n            color: black;\n            font-size: 40px;\n            font-weight: 700;\n            text-align: center;\n            border-bottom: 2px solid rgb(112, 112, 112);\n        }\n        form{\n            width: 50%;\n            text-align: center;\n            margin: 25px auto auto auto;\n            background-color: white;\n        }\n        .find_content{\n          margin-bottom: 20px;\n        }\n        div form div label{\n          display: block;\n          color: black;\n          font-size: 22px;\n          font-weight: 550;\n          text-align: left;\n        }\n        .form{\n          display: block;\n          width: 100%;\n          margin: 5px 0px 5px 0%;\n          padding: .375rem .75rem;\n          font-size: 1rem;\n          font-weight: 400;\n          line-height: 1.5;\n          color: #212529;\n          background-color: rgb(253, 253, 253);\n          background-clip: padding-box;\n          border: 2px solid #bdbdbd;\n          -webkit-appearance: none;\n          -moz-appearance: none;\n          appearance: none;\n          border-radius: 5px;\n          text-align: left;\n        }\n        .form_alart{\n          display: block;\n          width: 100%;\n          margin: 5px 0px 5px 0%;\n          padding: .375rem .75rem;\n          font-size: 1rem;\n          font-weight: 400;\n          line-height: 1.5;\n          color: #212529;\n          background-color: rgb(253, 234, 234);\n          background-clip: padding-box;\n          border: 2px solid #ff3c3c;\n          -webkit-appearance: none;\n          -moz-appearance: none;\n          appearance: none;\n          border-radius: 5px;\n          text-align: left;\n        }\n        .nothing{\n          display: none;\n        }\n        .alarm{\n          color: rgb(255, 0, 0);\n          margin-left: 25px;\n          font-size: 16px;\n          font-weight: 500;\n          text-align: left;\n        }\n        .btn{\n          width: 80%;\n          margin: auto;\n          text-align: center;\n          border-bottom: rgb(182, 182, 182) 2px solid;\n        }\n        button{\n          display: block;\n          width: 40%;\n          margin-left: auto;\n          margin-right: auto;\n          margin-bottom: 10px;\n          padding: .375rem .75rem;\n          font-size: 1rem;\n          font-weight: 500;\n          line-height: 1.5;\n          color: #212529;\n          cursor: pointer;\n          background-color: #d8d8d8;\n          background-clip: padding-box;\n          border: 2px solid #c5c5c5;\n          -webkit-appearance: none;\n          -moz-appearance: none;\n          appearance: none;\n          border-radius: 10px;\n          text-align: center;\n          transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n        }\n        button:hover{\n          background-color: #c9c9c9;\n          border: 2px solid #c9c9c9;\n        }\n        @media (max-width: 430px){\n          .home{\n            width: 100%;\n          }\n          .text{\n            font-size: 30px;\n          }\n          .home-content{\n            top: 50px;\n          }\n          .main{\n            width: 80%;\n            height: auto;\n          }  \n        }\n    </style>\n    <title>忘記密碼-工廠借用系統</title>\n</head>\n\n<body>\n    <!-----Home Section----->\n    <section class=\"home\" id=\"home\"></section>\n    <section class=\"home-content\" id=\"home-content\">\n        <div class=\"max-size\">\n            <div class=\"content\">\n                <div class=\"text\">工廠借用系統</div>\n            </div>\n        </div>\n    </section>\n\n    <!-----Main Project----->\n    <div class=\"main\">\n        <div class=\"find_text\">找回密碼</div>\n        <form>\n            <div class=\"find_content\">\n                <label for=\"stdid\" class=\"content_text\">帳號</label>\n                <input class=\"form\" id=\"stdid\" placeholder=\"帳號(學號)\">\n                <div id=\"stdid_alarm\" class=\"nothing\">請輸入帳號</div>\n            </div>\n            <div class=\"find_content\">\n                <label for=\"email\" class=\"content_text\">原註冊信箱</label>\n                <input class=\"form\" id=\"email\" placeholder=\"原註冊信箱\" onKeyPress=\"IsEnterKeyPress()\">\n                <div id=\"email_alarm\" class=\"nothing\">請輸入原註冊信箱</div>\n            </div>\n        </form>\n        <div class=\"btn\">\n            <button id=\"input\" type=\"button\">傳送</button>\n        </div>\n    </div>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/forget/json\"></script>\n</body>\n\n</html>","output":"str","x":290,"y":4200,"wires":[["7fe278c.f14ee88"]]},{"id":"30ae7369.fea7dc","type":"http in","z":"b941852.db78a78","name":"","url":"/web/forget/json","method":"get","upload":false,"swaggerDoc":"","x":130,"y":4260,"wires":[["bc38bd88.530d7"]]},{"id":"489151f8.a8fc5","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":410,"y":4260,"wires":[]},{"id":"bc38bd88.530d7","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {   \n        $(\"#input\").click(function()\n        {   \n           forget();\n        })\n    }\n)\n\nfunction forget(){\n    var stdid = $(\"#stdid\").val();\n    var email = $(\"#email\").val();\n    var check=1;\n    if(!stdid)\n    {\n        check=0;\n        $(\"#stdid\").attr(\"class\",\"form_alart\");\n        $(\"#stdid_alarm\").attr(\"class\",\"alarm\");\n    }\n    else \n    {\n        $(\"#stdid\").attr(\"class\",\"form\");\n        $(\"#stdid_alarm\").attr(\"class\",\"nothing\");\n    }\n    if(!email)\n    {\n        check=0;\n        $(\"#email\").attr(\"class\",\"form_alart\");\n        $(\"#email_alarm\").attr(\"class\",\"alarm\");\n    }\n    else\n    {\n        $(\"#email\").attr(\"class\",\"form\");\n        $(\"#email_alarm\").attr(\"class\",\"nothing\");\n    }\n    \n    if(check==1)\n    {\n        var API = \"http://127.0.0.1:1880/forget\";\n        $.post\n        (\n            API,\n            {\n                Std_id:stdid,\n                Email:email\n            },\n                function(res)\n                {\n                    var info=res.Info;\n                    var status=res.Status;\n                    var password=res.Password;\n                    if (info == 0)\n                    {\n                        window.alert(\"此帳號尚未註冊。\");\n                        window.location.reload(); \n                    }\n                    else\n                    {\n                        if(info==2)\n                        {\n                            window.alert(\"此信箱與註冊時的信箱不符。\\n\\n若忘記原註冊信箱請洽管理單位。\");\n                            window.location.reload(); \n                        }\n                        else\n                        {     \n                        \n                            if(status == 1)\n                            {\n                            var API = \"http://127.0.0.1:1880/web/forget/send\";\n                             $.post\n                                (\n                                    API,\n                                    {\n                                      Email:email,\n                                      Password:password\n                                    },\n                                );\n                           window.alert(\"已將密碼寄至信箱\");\n                           window.location.href=\"http://127.0.0.1:1880/web/signin\";\n                            }\n                        \n                            else\n                            {\n                            window.alert(\"帳號尚未認證\");\n                            }\n                        }    \n                    }\n                }\n        );\n    }              \n}\n\nfunction IsEnterKeyPress(){\n    var lKeyCode = (navigator.appname==\"Netscape\")?event.which:window.event.keyCode;\n    if ( lKeyCode == 13 ) {\n        forget();\n    }\n}","output":"str","x":290,"y":4260,"wires":[["489151f8.a8fc5"]]},{"id":"4ce2a571.49843c","type":"function","z":"b941852.db78a78","name":"查詢","func":"msg.stdid = msg.req.body.Std_id;\nmsg.email = msg.req.body.Email;\nmsg.topic='SELECT Email AS info FROM Information WHERE Student_ID = '+'\"'+msg.stdid+'\"'+' UNION SELECT Status AS info FROM Information WHERE Student_ID = '+'\"'+msg.stdid+'\"'+'UNION SELECT Student_ID AS info FROM Information WHERE Student_ID = '+'\"'+msg.stdid+'\"'+'UNION SELECT Password AS info FROM Information WHERE Student_ID = '+'\"'+msg.stdid+'\"'+'  ';\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":3940,"wires":[["a6dae3ec.e6347"]]},{"id":"14905e4.2581ba2","type":"http in","z":"b941852.db78a78","name":"","url":"/forget","method":"post","upload":false,"swaggerDoc":"","x":110,"y":3940,"wires":[["4ce2a571.49843c"]]},{"id":"fc3da163.3010a","type":"function","z":"b941852.db78a78","name":"回傳狀態","func":"var checkstdid=msg.payload[2].info;\nvar checkstatus=msg.payload[1].info;\nvar checkpassword=msg.payload[3].info;\nvar checkemail=msg.payload[0].info;\nif (msg.stdid == checkstdid)\n    {\n        if (msg.email == checkemail)\n        {\n        msg.payload={\"Info\":1,\"Status\":checkstatus,\"Password\":checkpassword};\n        }\n        else\n        {\n         msg.payload={\"Info\":2}\n        }\n    }\n    \nelse\n    {\n        msg.payload={\"Info\":0};\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":3940,"wires":[["64b2ed34.27bb74"]]},{"id":"64b2ed34.27bb74","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":770,"y":3940,"wires":[]},{"id":"84d68e39.2e45d","type":"http in","z":"b941852.db78a78","name":"","url":"/web/forget/send","method":"post","upload":false,"swaggerDoc":"","x":140,"y":4060,"wires":[["fa8bde0.89b4c2"]]},{"id":"fa8bde0.89b4c2","type":"function","z":"b941852.db78a78","name":"寄送","func":"msg.email = msg.req.body.Email;\nmsg.password = msg.req.body.Password;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":4060,"wires":[["7c80d7f0.80c288","771cf2a9.a4cd7c"]]},{"id":"7c80d7f0.80c288","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":450,"y":4060,"wires":[]},{"id":"411a8ef.6fe4f7","type":"function","z":"b941852.db78a78","name":"回傳0","func":"msg.payload={\"Info\":0};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":4000,"wires":[["64b2ed34.27bb74"]]},{"id":"2780bebe.fc7b22","type":"catch","z":"b941852.db78a78","name":"","scope":["fc3da163.3010a"],"uncaught":false,"x":470,"y":4000,"wires":[["411a8ef.6fe4f7"]]},{"id":"771cf2a9.a4cd7c","type":"function","z":"b941852.db78a78","name":"寄件內容","func":"msg.to = msg.email;\nmsg.topic = '[密碼寄送通知]工廠借用系統忘記密碼寄送';\nmsg.payload = \"\\n您的密碼為:\"+msg.password+\"\\n\\n此信件為自動發送，請勿回信 !\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":4100,"wires":[["8327b4a6.407298"]]},{"id":"a6dae3ec.e6347","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":470,"y":3940,"wires":[["fc3da163.3010a"]]},{"id":"8327b4a6.407298","type":"e-mail","z":"b941852.db78a78","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":590,"y":4100,"wires":[]},{"id":"905a9025.de18e","type":"comment","z":"b941852.db78a78","name":"忘記密碼頁面","info":"","x":110,"y":3880,"wires":[]},{"id":"f1f3061f.90a568","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"classroom","tz":"","charset":"UTF8"}]