Node-Red Json File/flows.json
[{"id":"b941852.db78a78","type":"tab","label":"大修改(第三版)","disabled":false,"info":""},{"id":"1b7574ab.96aceb","type":"http in","z":"b941852.db78a78","name":"","url":"/signin","method":"post","upload":true,"swaggerDoc":"","x":110,"y":200,"wires":[["5eec408.bfccfc"]]},{"id":"814385bf.9bc5e8","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":710,"y":200,"wires":[]},{"id":"c65192b9.080b9","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n    <head>\n        <meta charset=\"utf-8\">\n        <title>登入-教室借閱系統</title>\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n        <style>\n            @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n.main{\n  width: 500px;\n  height: 420px;\n  margin-top: 120px;\n  margin-left: auto;\n  margin-right: auto;\n  background-color: white;\n  border-radius: 10px;\n}\nh5{\n  color: black;\n  font-size: 40px;\n  font-weight: 700;\n  text-align: center;\n  background-color: white;\n  padding-top: 20px;\n  border-radius: 10px;\n}\nform{\n  width: 50%;\n  text-align: center;\n  margin: auto;\n  background-color: white;\n}\ndiv form div{\n  margin-bottom: 20px;\n}\ndiv form div label{\n  display: block;\n  color: black;\n  font-size: 22px;\n  font-weight: 550;\n  text-align: left;\n}\n.form{\n  display: block;\n  width: 100%;\n  margin: 5px 0px 5px 0%;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 253, 253);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n  text-align: left;\n}\n.form_alart{\n  display: block;\n  width: 100%;\n  margin: 5px 0px 5px 0%;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 234, 234);\n  background-clip: padding-box;\n  border: 2px solid #ff3c3c;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n  text-align: left;\n}\n.nothing{\n  display: none;\n}\n.alarm{\n  color: rgb(255, 0, 0);\n  margin-left: 25px;\n  font-size: 16px;\n  font-weight: 500;\n  text-align: left;\n}\n.btn{\n  width: 80%;\n  margin: auto;\n  text-align: center;\n  border-bottom: rgb(182, 182, 182) 2px solid;\n}\nbutton{\n  display: block;\n  width: 60%;\n  margin-left: auto;\n  margin-right: auto;\n  margin-bottom: 10px;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 500;\n  line-height: 1.5;\n  color: #212529;\n  background-color: #d8d8d8;\n  background-clip: padding-box;\n  border: 2px solid #c5c5c5;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 10px;\n  text-align: center;\n  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n}\nbutton:hover{\n  background-color: #c9c9c9;\n  border: 2px solid #c9c9c9;\n}\n.areg{\n  width: 80%;\n  margin-left: auto;\n  margin-right: auto;\n  margin-top: 5px;\n  text-align: center;\n}\nh6{\n  display: inline;\n  color: rgb(110, 110, 110);\n  font-size: 16px;\n  font-weight: 600;\n}\na{\n  display: inline;\n  color: rgb(68, 177, 240);\n  font-weight: 600;\n}\n\n@media (max-width:430px) {\n  .main{\n    width: 350px;\n  }\n}\n        </style>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    </head>\n    <body style=\"background-color: #212529;\">\n        <div class=\"main\">\n            <label><h5>教室借閱系統登入</h5></label>\n            <form>\n                <div>\n                    <label for=\"std_id\">帳號 :</label>\n                    <input class=\"form\" id=\"std_id\" placeholder=\"帳號\">\n                    <div id=\"stdid_alarm\" class=\"nothing\">請輸入帳號</div>\n                </div>\n                <div>\n                    <label for=\"password\">密碼 :</label>\n                    <input class=\"form\" id=\"password\" placeholder=\"密碼\">\n                    <div id=\"password_alarm\" class=\"nothing\">請輸入密碼</div>\n                </div>\n            </form>\n            <div class=\"btn\">\n                <button id=\"signin\" type=\"button\"><b>登入</b></button>\n            </div>\n            <div class=\"areg\">\n                <label><h6>尚未註冊嗎?</h6></label>\n                <a href=\"http://127.0.0.1:1880/web/register\">立即註冊</a>\n            </div>\n        </div>\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/signin/js\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/signin/check_uid\"></script>\n\n    </body>\n</html>","output":"str","x":290,"y":100,"wires":[["dae222db.4b05e"]]},{"id":"ce0ec312.6be09","type":"http in","z":"b941852.db78a78","name":"","url":"/web/signin","method":"get","upload":false,"swaggerDoc":"","x":120,"y":100,"wires":[["c65192b9.080b9"]]},{"id":"a44d3958.808c98","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {   \n        $(\"#signin\").click(function()\n        {   \n            var std_id = $(\"#std_id\").val();\n            var password = $(\"#password\").val();\n            var check=1;\n            if(!std_id)\n            {\n                check=0;\n                $(\"#std_id\").attr(\"class\",\"form_alart\");\n                $(\"#stdid_alarm\").attr(\"class\",\"alarm\");\n            }\n            else \n            {\n                $(\"#std_id\").attr(\"class\",\"form\");\n                $(\"#stdid_alarm\").attr(\"class\",\"nothing\");\n            }if(!password)\n            {\n                check=0;\n                $(\"#password\").attr(\"class\",\"form_alart\")\n                $(\"#password_alarm\").attr(\"class\",\"alarm\");\n            }\n            else \n            {\n                $(\"#password\").attr(\"class\",\"form\")\n                $(\"#password_alarm\").attr(\"class\",\"nothing\");\n            }\n            if(check==1)\n            {\n                var API = \"http://127.0.0.1:1880/signin\";\n                $.post\n                (\n                    API,\n                    {\n                        Std_id:std_id,\n                        Password:password\n                    },\n                    function(res)\n                    {\n                        const info=res.Info;\n                        const status=res.Status;\n                        const access=res.Access;\n                        console.log(info);\n                        if (info == 0)\n                        {\n                            window.alert(\"帳號或密碼錯誤。\");\n                        }\n                        else\n                        {\n                            if(status == 1)\n                            {\n                                var API = \"http://127.0.0.1:1880/web/signin/add_uid\";\n                                $.post\n                                    (\n                                        API,\n                                        {\n                                          Std_id:std_id  \n                                        }\n                                    );\n                                window.location.href=\"http://127.0.0.1:1880/web/home\";\n                            }\n                            else\n                            {\n                                window.alert(\"帳號尚未認證，請去信箱認證\\n認證碼:\"+access);\n                            }\n                        }\n                    }\n                );\n            }              \n        })\n    }\n)\n","output":"str","x":290,"y":140,"wires":[["a06df18c.2f765"]]},{"id":"a2412390.63988","type":"http in","z":"b941852.db78a78","name":"","url":"/web/signin/js","method":"get","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["a44d3958.808c98"]]},{"id":"5eec408.bfccfc","type":"function","z":"b941852.db78a78","name":"查詢","func":"msg.check=0;\nmsg.stdid = msg.req.body.Std_id;\nmsg.password = msg.req.body.Password;\nmsg.topic='SELECT Password AS info FROM Information WHERE Student_ID = '+'\"'+msg.stdid+'\"'+' UNION SELECT Status AS info FROM Information WHERE Student_ID = '+'\"'+msg.stdid+'\"'+' UNION SELECT Access FROM access WHERE Student_ID = '+'\"'+msg.stdid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":200,"wires":[["72974daa.ff5c84"]]},{"id":"72974daa.ff5c84","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":390,"y":200,"wires":[["171d7cc1.b28013"]]},{"id":"171d7cc1.b28013","type":"function","z":"b941852.db78a78","name":"辨認與回傳","func":"var check=msg.payload[0].info;\nvar status=msg.payload[1].info;\nvar access=msg.payload[2].info;\nif (msg.password == check)\n    {\n        msg.check=1;\n        msg.payload={\"Info\":1,\"Status\":status,\"Access\":access};\n    }\nelse\n    {\n        msg.payload={\"Info\":0};\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":200,"wires":[["814385bf.9bc5e8"]]},{"id":"a06df18c.2f765","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":410,"y":140,"wires":[]},{"id":"dae222db.4b05e","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":410,"y":100,"wires":[]},{"id":"63aca432.e2e77c","type":"http in","z":"b941852.db78a78","name":"","url":"/web/signin/check_uid","method":"get","upload":false,"swaggerDoc":"","x":150,"y":360,"wires":[["46fa57b.3e8eaa8"]]},{"id":"46fa57b.3e8eaa8","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n        {\n            var inf = Cookies.get(\"uid\");\n            console.log(inf);\n            if (inf)\n            {\n                window.location.href=\"http://127.0.0.1:1880/web/lend\";\n            }\n            else\n            {\n                console.log(\"No\");\n            }\n        }\n    )","output":"str","x":330,"y":360,"wires":[["eb5cd919.547a88"]]},{"id":"eb5cd919.547a88","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":450,"y":360,"wires":[]},{"id":"d5c7b476.13b7a8","type":"http in","z":"b941852.db78a78","name":"","url":"/web/signin/add_uid","method":"post","upload":true,"swaggerDoc":"","x":150,"y":460,"wires":[["490c3e87.36aef"]]},{"id":"f23cd599.5d1238","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":790,"y":460,"wires":[]},{"id":"c6ee3bc2.63a598","type":"function","z":"b941852.db78a78","name":"Add a cookie","func":"msg.cookies = {\n    uid: \n    {\n        value: msg.stdid,\n        maxAge: 1800000\n    }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":460,"wires":[["ccddddf0.5176"]]},{"id":"ccddddf0.5176","type":"change","z":"b941852.db78a78","name":"Redirect to /set","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/web/signin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":460,"wires":[["f23cd599.5d1238"]]},{"id":"490c3e87.36aef","type":"function","z":"b941852.db78a78","name":"上傳值","func":"msg.stdid = msg.req.body.Std_id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":460,"wires":[["c6ee3bc2.63a598"]]},{"id":"310b10e.7f104f","type":"function","z":"b941852.db78a78","name":"回傳","func":"msg.payload={\"Info\":0};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":260,"wires":[["814385bf.9bc5e8"]]},{"id":"3a1290e0.e2623","type":"comment","z":"b941852.db78a78","name":"檢查cookie是否有uid","info":"","x":130,"y":320,"wires":[]},{"id":"b4899d1b.62b75","type":"comment","z":"b941852.db78a78","name":"建立cookie","info":"","x":100,"y":420,"wires":[]},{"id":"6d5e05c8.1d40ac","type":"catch","z":"b941852.db78a78","name":"辨認與回傳節點監測觸發","scope":["171d7cc1.b28013"],"uncaught":false,"x":350,"y":260,"wires":[["310b10e.7f104f"]]},{"id":"873490be.3f949","type":"comment","z":"b941852.db78a78","name":"登入頁面","info":"","x":100,"y":40,"wires":[]},{"id":"ee1e8208.faa64","type":"http in","z":"b941852.db78a78","name":"","url":"/register","method":"post","upload":true,"swaggerDoc":"","x":110,"y":680,"wires":[["2dc15516.de22fa"]]},{"id":"48da7644.97c638","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":710,"y":680,"wires":[]},{"id":"2dc15516.de22fa","type":"function","z":"b941852.db78a78","name":"確認帳號","func":"msg.name = msg.req.body.Name;\nmsg.stdid = msg.req.body.Std_id;\nmsg.password = msg.req.body.Password;\nmsg.phone = msg.req.body.Phone;\nmsg.email = msg.req.body.Email;\nmsg.key = msg.req.body.Key;\nmsg.topic = 'SELECT * FROM Information WHERE Student_ID = '+'\"'+msg.stdid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":680,"wires":[["85132dc0.8b64f"]]},{"id":"85132dc0.8b64f","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":410,"y":680,"wires":[["3481b9d2.8f4466"]]},{"id":"ede6208a.7a32","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n    <head>\n        <meta charset=\"utf-8\">\n        <title>註冊-教室借閱系統</title>\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n        <style>\n            @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n.main{\n  width: 450px;\n  height: 650px;\n  margin-top: 40px;\n  margin-left: auto;\n  margin-right: auto;\n  margin-bottom: 50px;\n  padding:20px 5px 0px 5px;\n  text-align: center;\n  background-color: white;\n  border-radius: 20px;\n}\ndiv label h5{\n  color: black;\n  font-size: 36px;\n  font-weight: 700;\n  border-radius: 10px;\n}\ntable{\n  overflow-x: auto;\n  white-space: nowrap;\n  width: 300px;\n  height: 390px;\n  margin: auto;\n  color: #212529;\n  text-align: center;\n}\ntr{\n  height: 70px;\n}\n.form{\n  display: block;\n  width: 90%;\n  margin: 5px 0px 5px 5%;\n  padding: .275rem .75rem;\n  font-size: 13px;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 253, 253);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n}\n.form_alart{\n  display: block;\n  width: 90%;\n  margin: 5px 0px 5px 5%;\n  padding: .275rem .75rem;\n  font-size: 13px;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 234, 234);\n  background-clip: padding-box;\n  border: 2px solid #ff3c3c;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n}\n.form_repeated{\n  display: block;\n  width: 90%;\n  margin: 5px 0px 5px 5%;\n  padding: .275rem .75rem;\n  font-size: 13px;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 234, 234);\n  background-clip: padding-box;\n  border: 2px solid rgb(255, 115, 0);\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n}\nth{\n  font-size: 18px;\n  font-weight: 600;\n  text-align: left;\n  border-bottom: 1px solid #ddd;\n  width: 50px;\n}\ntd{\n  font-size: 20px;\n  font-weight: 600;\n  border-bottom: 1px solid #ddd;\n}\n#btnsend{\n  display: inline;\n  width: 200px;\n  margin:15px 5px 0 5px;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 500;\n  line-height: 1.5;\n  color: #212529;\n  background-color: #e9e9e9;\n  background-clip: padding-box;\n  border: 2px solid #dfdfdf;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 10px;\n  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n}\n#btnsend:hover{\n  background-color: #c9c9c9;\n  border: 2px solid #c9c9c9;\n}\n.nothing,.unrepeated{\n  display: none;\n}\n.alarm{\n  color: rgb(255, 0, 0);\n  margin-left: 20px;\n  font-size: 16px;\n  font-weight: 500;\n  text-align: left;\n}\n.repeated{\n  color: rgb(255, 115, 0);\n  margin-left: 20px;\n  font-size: 16px;\n  font-weight: 500;\n  text-align: left;\n}\n@media (max-width: 430px){\n  .main{\n    width: 330px;\n  }\n  table{\n    width: 300px;\n  }\n  .alarm{\n    margin-left: 15px;\n  }\n  .form,.form_alart{\n    width: 95%;\n  }\n}\n        </style>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    </head>\n    <body style=\"background-color: #212529;\">\n        <div class=\"main\">\n            <label><h5>註冊</h5></label>\n            <table>\n                <tbody>\n                  <tr>\n                    <th scope=\"row\">姓名</th>\n                    <td>\n                        <input class=\"form\" id=\"name\">\n                        <div id=\"name_alarm\" class=\"nothing\">此欄不可空白</div>\n                    </td>\n                  <tr>\n                    <th scope=\"row\">學號(帳號)</th>\n                    <td>\n                        <input class=\"form\" id=\"stdid\">\n                        <div id=\"stdid_alarm\" class=\"nothing\">此欄不可空白</div>\n                        <div id=\"repeat\" class=\"unrepeated\">此帳號已被註冊</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <th scope=\"row\">密碼</th>\n                    <td>\n                        <input class=\"form\" id=\"password\">\n                        <div id=\"password_alarm\" class=\"nothing\">此欄不可空白</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <th scope=\"row\">確認密碼</th>\n                    <td>\n                        <input class=\"form\" id=\"check\">\n                        <div id=\"check_alarm\" class=\"nothing\">此欄不可空白</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <th scope=\"row\">電話</th>\n                    <td>\n                        <input class=\"form\" id=\"phone\">\n                        <div id=\"phone_alarm\" class=\"nothing\">此欄不可空白</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <th scope=\"row\">信箱</th>\n                    <td>\n                        <input class=\"form\" id=\"email\">\n                        <div id=\"email_alarm\" class=\"nothing\">此欄不可空白</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <th scope=\"row\">金鑰</th>\n                    <td>\n                        <input class=\"form\" id=\"key\">\n                        <div id=\"key_alarm\" class=\"nothing\">此欄不可空白</div>\n                    </td>\n                  </tr>\n                </tbody>\n            </table>\n            <button class=\"btn\" id=\"btnsend\" type=\"button\">確定註冊</button>\n          </div>\n          <script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n          <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n          <script src=\"http://127.0.0.1:1880/web/register/js\"></script>\n    </body>\n</html>","output":"str","x":310,"y":580,"wires":[["86400dfc.897d"]]},{"id":"95a1cffb.144c1","type":"http in","z":"b941852.db78a78","name":"","url":"/web/register","method":"get","upload":false,"swaggerDoc":"","x":130,"y":580,"wires":[["ede6208a.7a32"]]},{"id":"86400dfc.897d","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":430,"y":580,"wires":[]},{"id":"c238d76f.4a30f8","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(function()\n    {\n        $(\"#btnsend\").click(function()\n        {   \n            var name = $(\"#name\").val();\n            var std_id = $(\"#stdid\").val();\n            var password = $(\"#password\").val();\n            var check =$(\"#check\").val();\n            var phone = $(\"#phone\").val();\n            var email = $(\"#email\").val();\n            var key = $(\"#key\").val();\n            var inf=[name,std_id,password,check,phone,email,key];\n            var inf_id=[\"#name\",\"#stdid\",\"#password\",\"#check\",\"#phone\",\"#email\",\"#key\"];\n            var inf_alarm=[\"#name_alarm\",\"#stdid_alarm\",\"#password_alarm\",\"#check_alarm\",\"#phone_alarm\",\"#email_alarm\",\"#key_alarm\"];\n            var inputcheck=1;\n            $(\"#stdid\").attr(\"class\",\"form\");\n            $(\"#repeat\").attr(\"class\",\"unrepeated\");\n            for( var i=0;i<7;i++)\n            {\n                if(!inf[i])\n                {\n                    inputcheck=0;\n                    $(inf_id[i]).attr(\"class\",\"form_alart\");\n                    $(inf_alarm[i]).attr(\"class\",\"alarm\");\n                }\n                else\n                {\n                    $(inf_id[i]).attr(\"class\",\"form\");\n                    $(inf_alarm[i]).attr(\"class\",\"nothing\");\n                }\n            }\n            if(inputcheck==1)\n            {\n                if(password==check)\n                {\n                    var API = \"http://127.0.0.1:1880/register\";\n                    $.post\n                    (\n                    API,\n                    {\n                        Name:name,\n                        Std_id:std_id,\n                        Password:password,\n                        Phone:phone,\n                        Email:email,\n                        Key:key\n                    },\n                    function(res)\n                    {\n                        const info=res.Info;\n                        if (info == 0)\n                        {\n                            window.alert(\"註冊金鑰錯誤。\");\n                        }\n                        else if(info == 2)\n                        {\n                            $(\"#stdid\").attr(\"class\",\"form_repeated\");\n                            $(\"#repeat\").attr(\"class\",\"repeated\");\n                        }\n                        else\n                        {\n                            const access=res.Access;\n                            alert(\"註冊成功，認證碼:\"+access+\"\\n請去信箱認證。\");\n                            window.location.href=\"http://127.0.0.1:1880/web/signin\";\n                        }\n                    }\n                    );\n                }\n                else\n                {\n                    alert(\"確認密碼與密碼不合!\");\n                }\n                \n            }            \n        })\n    }\n)","output":"str","x":310,"y":620,"wires":[["c47ab63c.eca2b8"]]},{"id":"181a82ff.e07cdd","type":"http in","z":"b941852.db78a78","name":"","url":"/web/register/js","method":"get","upload":false,"swaggerDoc":"","x":130,"y":620,"wires":[["c238d76f.4a30f8"]]},{"id":"c47ab63c.eca2b8","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":430,"y":620,"wires":[]},{"id":"3481b9d2.8f4466","type":"function","z":"b941852.db78a78","name":"Feedback","func":"if(msg.stdid==msg.payload[0].Student_ID) \n{\n    msg.payload={\"Info\":2};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":680,"wires":[["48da7644.97c638"]]},{"id":"ca4fca75.9f2c08","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":730,"y":740,"wires":[[]]},{"id":"7bfd170a.ea3ad8","type":"function","z":"b941852.db78a78","name":"寄信","func":"if (msg.key == 123)\n    {\n        msg.to = msg.email;\n        msg.topic = '帳號開通通知';\n        msg.payload = '請輸入認證碼:'+msg.access+'\\n'+'http://127.0.0.1:1880/web/authentication';\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":800,"wires":[["2fbaf67.8f5a00a"]]},{"id":"2fbaf67.8f5a00a","type":"e-mail","z":"b941852.db78a78","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"","x":830,"y":800,"wires":[]},{"id":"8b48fbe5.11b518","type":"catch","z":"b941852.db78a78","name":"Feedback節點監測觸發","scope":["3481b9d2.8f4466"],"uncaught":false,"x":380,"y":740,"wires":[["cb1fc485.8e8a28"]]},{"id":"cb1fc485.8e8a28","type":"function","z":"b941852.db78a78","name":"上傳","func":"msg.access = Math.floor(Math.random()*5000)+1000;\nif (msg.key == 123)\n{\n    msg.topic = 'INSERT INTO Information(Student_ID,Name,Password,Phone,Email,Status) values('+'\"'+msg.stdid+'\"'+','+'\"'+msg.name+'\"'+','+'\"'+msg.password+'\"'+','+'\"'+msg.phone+'\"'+','+'\"'+msg.email+'\"'+',0);INSERT INTO access(Student_ID,Access) VALUES('+'\"'+msg.stdid+'\"'+','+msg.access+')';\n    msg.payload={\"Info\":1,\"Access\":msg.access};\n}\nelse\n{\n    msg.payload={\"Info\":0};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":740,"wires":[["ca4fca75.9f2c08","7bfd170a.ea3ad8","48da7644.97c638"]]},{"id":"b3f2a18c.91f07","type":"comment","z":"b941852.db78a78","name":"註冊頁面","info":"","x":100,"y":520,"wires":[]},{"id":"5e2bd23d.9b6eac","type":"http in","z":"b941852.db78a78","name":"","url":"/authentication","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1020,"wires":[["40be78cb.1e4d68"]]},{"id":"f05ef2ca.e4ff","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":750,"y":1080,"wires":[]},{"id":"b7dab633.a7a8c8","type":"http in","z":"b941852.db78a78","name":"","url":"/web/authentication","method":"get","upload":false,"swaggerDoc":"","x":150,"y":920,"wires":[["a9323770.1c14c8"]]},{"id":"f8ee1b7e.dc0ab8","type":"http in","z":"b941852.db78a78","name":"","url":"/web/authentication/js","method":"get","upload":false,"swaggerDoc":"","x":150,"y":960,"wires":[["8ca3d8b9.5580d8"]]},{"id":"67300e50.a1d96","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":450,"y":920,"wires":[]},{"id":"79e095cd.03bd8c","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":450,"y":960,"wires":[]},{"id":"a9323770.1c14c8","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n    <head>\n        <meta charset=\"utf-8\">\n        <title>Responsive Navigation Menu</title>\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n        <style>\n            @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n.main{\n  width: 400px;\n  height: 250px;\n  margin-top: 200px;\n  margin-left: auto;\n  margin-right: auto;\n  padding:20px 5px 0px 5px;\n  text-align: center;\n  background-color: white;\n  border-radius: 20px;\n}\ndiv label h5{\n  color: black;\n  font-size: 36px;\n  font-weight: 700;\n  border-radius: 10px;\n}\ntable{\n  overflow-x: auto;\n  white-space: nowrap;\n  width: 200px;\n  height: 370px;\n  margin: auto;\n  color: #212529;\n  text-align: center;\n}\n.form{\n  display: block;\n  width: 40%;\n  margin-top: 20px;\n  margin-left: auto;\n  margin-right: auto;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 253, 253);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n}\n.form_alart{\n  display: block;\n  width: 40%;\n  margin-top: 20px;\n  margin-left: auto;\n  margin-right: auto;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 234, 234);\n  background-clip: padding-box;\n  border: 2px solid #ff3c3c;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n}\nth{\n  font-size: 20px;\n  font-weight: 600;\n  text-align: left;\n  border-bottom: 1px solid #ddd;\n  width: 50px;\n}\ntd{\n  font-size: 20px;\n  font-weight: 600;\n  border-bottom: 1px solid #ddd;\n}\n#check{\n  display: inline;\n  width: 100px;\n  margin:15px 5px 0 5px;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 500;\n  line-height: 1.5;\n  color: #212529;\n  background-color: #e9e9e9;\n  background-clip: padding-box;\n  border: 2px solid #dfdfdf;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 10px;\n  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n}\n#check:hover{\n  background-color: #c9c9c9;\n  border: 2px solid #c9c9c9;\n}\n.nothing{\n  display: none;\n}\n.alarm{\n  color: rgb(255, 0, 0);\n  margin-left: 120px;\n  font-size: 16px;\n  font-weight: 500;\n  text-align: left;\n}\n@media (max-width: 430px){\n  .main{\n    width: 330px;\n  }\n  table{\n    width: 280px;\n  }\n  .alarm{\n    margin-left: 100px;\n  }\n}\n        </style>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    </head>\n    <body style=\"background-color: #212529;\">\n        <div class=\"main\">\n            <label><h5>帳號認證</h5></label>\n            <form>\n                <div>\n                    <input id=\"authentication\" class=\"form\" placeholder=\"請輸入認證碼\">\n                    <div id=\"auth_alarm\" class=\"nothing\">請輸入認證碼</div>\n                </div>\n            </form>\n            <button id=\"check\" type=\"button\"><b>認證</b></button>\n        </div>\n        <script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n        <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/authentication/js\"></script>\n\n    </body>\n</html>","output":"str","x":330,"y":920,"wires":[["67300e50.a1d96"]]},{"id":"8ca3d8b9.5580d8","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(\n    function()\n    {\n        $(\"#check\").click(function()\n        {   \n            var authentication= $(\"#authentication\").val();  \n            var API = \"http://127.0.0.1:1880/authentication\";\n            console.log(authentication);\n            if(authentication)\n            {\n                $(\"#authentication\").attr(\"class\",\"form\");\n                $(\"#auth_alarm\").attr(\"class\",\"nothing\");\n                $.post\n                (\n                    API,\n                    {\n                        Authentication:authentication\n                    },\n                    function(res)\n                    {\n                        const check=res.Check;\n                        if (check == 1)\n                        {\n                            window.alert(\"認證成功!\");\n    \n                        }\n                        else\n                        {\n                            window.alert(\"認證失敗，無此認證碼。\");\n                        }\n                    }\n                );   \n            }\n            else\n            {\n                $(\"#authentication\").attr(\"class\",\"form_alart\");\n                $(\"#auth_alarm\").attr(\"class\",\"alarm\");\n            }\n        })\n    }\n)","output":"str","x":330,"y":960,"wires":[["79e095cd.03bd8c"]]},{"id":"40be78cb.1e4d68","type":"function","z":"b941852.db78a78","name":"確認認證碼","func":"msg.authentication = msg.req.body.Authentication;\nmsg.topic='SELECT * FROM access';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":1020,"wires":[["2fde85c8.56a8ca"]]},{"id":"2fde85c8.56a8ca","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":470,"y":1020,"wires":[["8fff71c1.af777"]]},{"id":"8fff71c1.af777","type":"function","z":"b941852.db78a78","name":"辨認與回傳","func":"var length = msg.payload.length;\nmsg.check=0;\nfor (i=0;i<length+1;i++)\n{\n    if ( msg.payload[i].Access == msg.authentication )\n        {\n            msg.check=1;\n            msg.uid=msg.payload[i].Student_ID;\n            break;\n        }\n}\nmsg.payload={\"Check\":msg.check};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1020,"wires":[["f05ef2ca.e4ff","31506edb.4d6892"]]},{"id":"7a3f3fb4.c2f7c","type":"function","z":"b941852.db78a78","name":"回傳","func":"msg.payload={\"Check\":0};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1080,"wires":[["f05ef2ca.e4ff"]]},{"id":"42dfd16e.fcebf","type":"catch","z":"b941852.db78a78","name":"辨認與回傳節點監測觸發","scope":["8fff71c1.af777"],"uncaught":false,"x":430,"y":1080,"wires":[["7a3f3fb4.c2f7c"]]},{"id":"18ef1841.06e6d8","type":"function","z":"b941852.db78a78","name":"","func":"msg.topic='UPDATE Information SET Status = 1 WHERE Student_ID = '+'\"'+msg.uid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":1020,"wires":[["4480043e.1d400c"]]},{"id":"4480043e.1d400c","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":1050,"y":1020,"wires":[[]]},{"id":"31506edb.4d6892","type":"switch","z":"b941852.db78a78","name":"","property":"check","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1020,"wires":[["18ef1841.06e6d8"]]},{"id":"78f5fdf5.35f1b4","type":"comment","z":"b941852.db78a78","name":"認證","info":"","x":90,"y":860,"wires":[]},{"id":"67bdfd5a.0dcb74","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n   <head>\n      <meta charset=\"utf-8\">\n      <title>預約教室-教室借閱系統</title>\n      <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n      <style>\n         @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n#topic{\n  font-size: 40px;\n  font-weight: 400;\n  padding-left: 50px;\n  padding-top: 50px;\n}\n#user_name{\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n  padding-right: 15px;\n}\nnav{\n  height: 80px;\n  background-color:#212529;\n  display: flex;\n  align-items: center;\n  justify-content: space-between;\n  padding: 0px 50px 0px 50px;\n}\n\nnav .logo{\n  font-size: 40px;\n  color: rgba(196, 95, 0, 0.993);\n  font-weight: 600;\n}\nnav ul{\n  display: flex;\n  list-style: none;\n}\nnav ul li,nav ul label{\n  margin: 0 10px;\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav ul li a,nav ul li label{\n  color: white;\n  text-decoration: none;\n  font-size: 18px;\n  font-weight: 500;\n  letter-spacing: 1px;\n  padding: 8px 15px;\n  border-radius: 5px;\n}\nnav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n  background-color:white;\n  color: #212529;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav .menu-btn i{\n  color: white;\n  font-size: 32px;\n  cursor: pointer;\n  display: none;\n}\n#click{\n  display: none;\n}\n/* 以上是menu設定\n以下是預約設定 */\n\n.main{\n  display: block;\n  margin-top: 30px;\n  margin-left: 15%;\n  width: 70%;\n  text-align: center;\n}\ndiv label h5{\n  color: black;\n  font-size: 26px;\n  font-weight: 700;\n}\n#selectdate{\n  display: block;\n  width: 30%;\n  height:40px;\n  margin: 10px 0px 20px 35%;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 253, 253);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  appearance: none;\n  border-radius: 10px;\n  text-align: center;\n  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\n#selectdate:hover{\n  color: #212529;\n  background-color: rgb(243, 243, 243);\n}\ndiv form input{\n  display: none;\n}\ndiv form label{\n  display: inline-block;\n  width: 200px;\n  font-weight: 400;\n  margin:15px 5px 5px 5px;\n  line-height: 2;\n  color: #212529;\n  text-align: center;\n  text-decoration: none;\n  vertical-align: middle;\n  cursor: pointer;\n  -webkit-user-select: none;\n  -moz-user-select: none;\n  user-select: none;\n  background-color: white;\n  border: 2px solid rgb(52, 99, 255);\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  border-radius: 10px;\n  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\ndiv form input:disabled+label{\n  background-color: rgba(238, 238, 238, 0.7);\n  border: 2px solid rgba(238, 238, 238, 0.7);\n  color: rgba(0, 0, 0, 0.7);\n}\ndiv form label:hover,div form input:checked+label{\n  color: #ffffff;\n  background-color: rgb(52, 99, 255);\n  transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\n#btnset{\n  display: inline-block;\n  width: 100px;\n  font-weight: 400;\n  margin-top: 10px;\n  line-height: 1.5;\n  color: #212529;\n  text-align: center;\n  text-decoration: none;\n  vertical-align: middle;\n  cursor: pointer;\n  -webkit-user-select: none;\n  -moz-user-select: none;\n  user-select: none;\n  background-color: #bdbdbd;\n  border: 2px solid #bdbdbd;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  border-radius: 10px;\n  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\n#btnset:hover{\n  color: #000000;\n  background-color: rgb(131, 131, 131);\n  border-color: rgb(131, 131, 131);\n}\n\n@media (max-width:1090px) {\n  #user_name{\n    color: white;\n    font-size: 18px;\n    font-weight: 500;\n    padding-right: 0;\n  }\n  nav{\n    height: 80px;\n    background-color: #212529;\n    display: flex;\n    align-items: center;\n    justify-content: space-between;\n    padding: 0px 30px 0px 30px;\n  }\n  nav .menu-btn i{\n    display: block;\n  }\n  #click:checked ~ .menu-btn i::before{\n    content: \"\\f00d\";\n  }\n  nav ul{\n    position: fixed;\n    top: 80px;\n    left: -100%;\n    background-color: #111;\n    height: 100vh;\n    width: 100%;\n    display: block;\n    text-align: center;\n    transition: all 0.3s ease;\n  }\n  #click:checked ~ ul{\n    left: 0%;\n  }\n  nav ul li,nav ul label{\n    margin: 40px 0;\n    color: white;\n    font-size: 22px;\n  }\n  nav ul li a,nav ul li label,#user_name{\n    font-size: 22px;\n    display: block;\n  }\n  nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n    background-color: #111;\n    color: rgba(196, 95, 0, 0.993);\n    font-size: 22px;\n  }\n\n  /* 以上是menu設定\n以下是預約設定 */\n.main{\n  display: block;\n  margin: 20px 15% 0px 15%;\n  text-align: center;\n}\ndiv label h5{\n  color: black;\n  font-size: 20px;\n  font-weight: 700;\n}\n}\n@media (max-width:420px) {\n.main{\n  display: block;\n  width: auto;\n  margin: 20px 5% 0px 5%;\n  text-align: center;\n}\n#selectdate{\n  display: block;\n  width: 60%;\n  margin: 5px 10% 10px 20%;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 253, 253);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 10px;\n  text-align: center;\n  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\ndiv form label{\n  display: inline-block;\n  width: 180px;\n  font-weight: 400;\n  margin:5px 5px 5px 5px;\n  line-height: 2;\n  color: #212529;\n  text-align: center;\n  text-decoration: none;\n  vertical-align: middle;\n  cursor: pointer;\n  -webkit-user-select: none;\n  -moz-user-select: none;\n  user-select: none;\n  background-color: white;\n  border: 2px solid rgb(52, 99, 255);\n  padding: .375rem .75rem;\n  font-size: 16px;\n  border-radius: 10px;\n  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\ndiv form label{\n  display: inline-block;\n  width: 150px;\n  font-weight: 400;\n  margin:15px 5px 5px 5px;\n  line-height: 2;\n  color: #212529;\n  padding: .375rem .75rem;\n  font-size: 15PX;\n}\ndiv form label:hover{\n  color: #000000;\n  background-color: white;\n  border: 2px solid rgb(52, 99, 255);\n}\n}\n      </style>\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n   </head>\n   <body>\n      <nav>\n         <div class=\"logo\">教室借閱系統</div>\n         <input type=\"checkbox\" id=\"click\">\n         <label for=\"click\" class=\"menu-btn\">\n            <i class=\"fas fa-bars\"></i>\n         </label>\n         <ul>\n            <label id=\"user_name\">林昌毅</label>\n            <li><a href=\"http://127.0.0.1:1880/web/home\">首頁</a></li>\n            <li><a class=\"active\" href=\"http://127.0.0.1:1880/web/lend\">預約教室</a></li>\n            <li><a href=\"http://127.0.0.1:1880/web/lending\">預約中</a></li>\n            <li><a href=\"http://127.0.0.1:1880/web/information\">個人資料</a></li>\n            <li><label id=\"signout\">登出</label></li>\n         </ul>\n      </nav>\n      <div class=\"main\">\n        <label><h5>預約日期</h5></label>\n        <input type=\"date\" id=\"selectdate\" min=\"2021-5-24\" placeholder=\"請選擇日期\">\n        <label><h5>預約時段</h5></label>\n        <form name=\"myform\" >\n          <input type=\"checkbox\" id=\"myCheck1\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"First\">\n          <label id=\"myCheck1_lb\" for=\"myCheck1\">AM 08:10-AM 09:00</label>\n          <input type=\"checkbox\" id=\"myCheck2\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Second\">\n          <label id=\"myCheck2_lb\" for=\"myCheck2\">AM 09:10-AM 10:00</label>\n          <br>\n          <input type=\"checkbox\" id=\"myCheck3\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Third\">\n          <label id=\"myCheck3_lb\" for=\"myCheck3\">AM 10:10-AM 11:00</label>\n          <input type=\"checkbox\" id=\"myCheck4\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Forth\">\n          <label id=\"myCheck4_lb\" for=\"myCheck4\">AM 11:10-PM 12:00</label>\n          <br>\n          <input type=\"checkbox\" id=\"myCheck5\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Fifth\">\n          <label id=\"myCheck5_lb\" for=\"myCheck5\">PM 01:10-PM 02:00</label>\n          <input type=\"checkbox\" id=\"myCheck6\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Sixth\">\n          <label id=\"myCheck6_lb\" for=\"myCheck6\">PM 02:10-PM 03:00</label>\n          <br>\n          <input type=\"checkbox\" id=\"myCheck7\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Seventh\">\n          <label id=\"myCheck7_lb\" for=\"myCheck7\">PM 03:10-PM 04:00</label>\n          <input type=\"checkbox\" id=\"myCheck8\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Eighth\">\n          <label id=\"myCheck8_lb\" for=\"myCheck8\">PM 04:10-PM 05:00</label>\n          <br>\n          </form>\n          <button id=\"btnset\" class=\"btn btn-secondary\" type=\"button\"><b>確定借閱</b></button>\n      </div>\n      <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n      <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n      <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/check_uid\"></script>\n      <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/lend/js\"></script>\n\n\n   </body>\n</html>","output":"str","x":270,"y":1380,"wires":[["26d7358b.05ba0a"]]},{"id":"f53d03d4.f4dc8","type":"http in","z":"b941852.db78a78","name":"","url":"/web/lend","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1380,"wires":[["67bdfd5a.0dcb74"]]},{"id":"7a9de3d0.c00a5c","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        //當日的年月日\n        var Today = new Date();\n        var today_year = Today.getFullYear();\n        var today_month = Today.getMonth()+1;\n        var today_day = Today.getDate()+1;\n        if(today_day<10)\n        { \n            today_day='0'+today_day;\n        } \n        if(today_month<10)\n        { \n            today_month='0'+today_month; \n        } \n        window.today = today_year+\"-\"+today_month+\"-\"+(today_day);\n        document.getElementById(\"selectdate\").setAttribute(\"min\", window.today); \n        //初始化\n        window.date_checked=0;\n\n        //登出\n        $(\"#signout\").click(function()\n        {   \n            var API = \"http://127.0.0.1:1880/delete_uid\";\n            $.get\n                (API);\n            window.location.href=\"http://127.0.0.1:1880/web/signin\"\n        })\n\n        //確認時間\n        $(\"#selectdate\").change(function()\n        {\n            //檢查逾時\n            var API = \"http://127.0.0.1:1880/web/check_uid\";\n            $.get\n            (\n                API\n            );\n            \n            //重新初始化選單\n            window.date_checked=1;\n            window.time_checked=0;\n            var id_list=[\"#myCheck1\",\"#myCheck2\",\"#myCheck3\",\"#myCheck4\",\"#myCheck5\",\"#myCheck6\",\"#myCheck7\",\"#myCheck8\"];\n            var label_id_list=[\"#myCheck1_lb\",\"#myCheck2_lb\",\"#myCheck3_lb\",\"#myCheck4_lb\",\"#myCheck5_lb\",\"#myCheck6_lb\",\"#myCheck7_lb\",\"#myCheck8_lb\"];\n            for(i=0;i<8;i++)\n            {\n                document.myform.mycheck[i].checked = false;\n            }\n            for(i=0;i<8;i++)\n            {\n                $(id_list[i]).attr(\"disabled\",false);\n            }\n            var Time = document.getElementById(\"selectdate\").value;\n            var API=\"http://127.0.0.1:1880/check_time\";\n            window.time=Time;\n            $.post\n                (\n                    API,\n                    {\n                        Time:window.time\n                    },\n                    function(res)\n                    {\n                        var id_list=[\"#myCheck1\",\"#myCheck2\",\"#myCheck3\",\"#myCheck4\",\"#myCheck5\",\"#myCheck6\",\"#myCheck7\",\"#myCheck8\"];\n                        var label_id_list=[\"#myCheck1_lb\",\"#myCheck2_lb\",\"#myCheck3_lb\",\"#myCheck4_lb\",\"#myCheck5_lb\",\"#myCheck6_lb\",\"#myCheck7_lb\",\"#myCheck8_lb\"];\n                        window.feedback_time=res.Feedback;//回傳借閱情況\n                        window.status=res.Status;//借閱狀態:Part/All\n                        if(window.feedback_time)\n                        {\n                            for(i=0;i<8;i++)\n                            {\n                                if (window.feedback_time[i]) \n                                {\n                                    $(id_list[i]).attr(\"disabled\",true); \n                                } \n                            }\n                        }\n                        else \n                        {\n                            for(i=0;i<8;i++)\n                            {\n                                $(id_list[i]).attr(\"disabled\",false); \n                            }\n                        }\n                    }\n                )\n            }      \n        )\n\n        //確定借閱\n        $(\"#btnset\").click(function()\n        {\n            //檢查逾時\n            var API = \"http://127.0.0.1:1880/web/check_uid\"\n            $.get\n            (\n                API\n            );\n\n            var lend = new Array(8)\n            var settime=document.myform.mycheck;//所選時段\n            window.time_checked=0;\n            for (i=0;i<8;i++)\n            {\n                if (settime[i].checked==true) \n                {\n                    window.time_checked=2;\n                    lend[i]=window.user_id;\n                }\n                else lend[i]=0;\n            }\n            var send_checked=window.date_checked+window.time_checked;\n            if(send_checked==3)\n            {\n                var API=\"http://127.0.0.1:1880/check_time\";\n                $.post\n                (\n                    API,\n                    {\n                        Time:window.time\n                    },\n                    function(res)\n                    {\n                        var dbchecked=res.Feedback;\n                        window.alarm=0;\n                        if(dbchecked!=0)\n                        {\n                            for(i=0;i<8;i++)\n                            {\n                                console.log(\"dbchecked\");\n                                if(lend[i]==window.user_id && dbchecked[i]!=0)\n                                {\n                                    window.alarm=1;\n                                    break;\n\n                                }\n                            }\n                        }\n                        if(window.alarm==0)\n                        {\n                            if(confirm(\"確定借閱?\"))\n                            {\n                                var API=\"http://127.0.0.1:1880/lend\";\n                                $.post\n                                (\n                                API,\n                                {\n                                    Lend:lend,\n                                    Lend_status:window.status,\n                                    Lend_date:window.time,\n                                    Time:window.feedback_time,\n                                    Stdid:window.uid\n                                },\n                                function(res)\n                                {\n                                    var ok=res.OK;\n                                    if(ok==\"OK\")\n                                    {\n                                        var lendtimes=res.Lendtimes+1;\n                                        alert(\"借閱成功! \\n您目前已借閱\"+lendtimes+\"筆。\");\n                                        document.location.reload();\n                                    }\n                                    else if(ok==\"OVER\")\n                                    {\n                                        alert(\"您已達借閱次數上限(5筆)\");\n                                        document.location.reload();\n                                    }\n                                });\n                            }\n                        }\n                        else \n                        {\n                            alert(\"有時段已被借閱。\") ;\n                            document.location.reload();\n                        }\n                    });\n            }\n            else if(send_checked==2) alert(\"請選擇預約日期!\");\n            else if(send_checked==1) alert(\"請選擇預約時段!\");\n            else alert(\"請選擇預約日期與時段。\");\n        })\n    }\n)","output":"str","x":270,"y":1420,"wires":[["82c1bd33.37041"]]},{"id":"6100b1dd.df2b7","type":"http in","z":"b941852.db78a78","name":"","url":"/web/lend/js","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1420,"wires":[["7a9de3d0.c00a5c"]]},{"id":"82c1bd33.37041","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":390,"y":1420,"wires":[]},{"id":"26d7358b.05ba0a","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":390,"y":1380,"wires":[]},{"id":"ce51f8d4.bff2d8","type":"http in","z":"b941852.db78a78","name":"","url":"/check_time","method":"post","upload":true,"swaggerDoc":"","x":130,"y":1480,"wires":[["c3b650af.ea542"]]},{"id":"5a30e766.128ba8","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":850,"y":1480,"wires":[]},{"id":"c3b650af.ea542","type":"function","z":"b941852.db78a78","name":"確認選擇日期的借閱情況","func":"global.time=msg.req.body.Time;\nmsg.topic='SELECT * FROM lend WHERE Time = '+'\"'+global.time+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1480,"wires":[["9c34e40b.c80978"]]},{"id":"9c34e40b.c80978","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":550,"y":1480,"wires":[["ea0a4d6b.27a2"]]},{"id":"ea0a4d6b.27a2","type":"function","z":"b941852.db78a78","name":"回傳狀態","func":"msg.time=[msg.payload[0].A,msg.payload[0].B,msg.payload[0].C,msg.payload[0].D,msg.payload[0].F,msg.payload[0].G,msg.payload[0].H,msg.payload[0].I];\nmsg.payload={\"Feedback\":msg.time,Status:\"Part\"};    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1480,"wires":[["5a30e766.128ba8"]]},{"id":"b842039d.40e1b","type":"catch","z":"b941852.db78a78","name":"回傳狀態節點監測觸發","scope":["ea0a4d6b.27a2"],"uncaught":false,"x":520,"y":1540,"wires":[["d4721f0c.a07fc"]]},{"id":"d4721f0c.a07fc","type":"function","z":"b941852.db78a78","name":"回傳空狀態","func":"msg.payload={\"Feedback\":0,Status:\"All\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1540,"wires":[["5a30e766.128ba8"]]},{"id":"e6c82f16.09432","type":"http in","z":"b941852.db78a78","name":"","url":"/lend","method":"post","upload":true,"swaggerDoc":"","x":100,"y":1600,"wires":[["9bc44012.0d0bf"]]},{"id":"75d84e8f.4ef79","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":730,"y":1600,"wires":[]},{"id":"9bc44012.0d0bf","type":"function","z":"b941852.db78a78","name":"借閱","func":"msg.lend=msg.req.body.Lend;//借閱情況\nmsg.lend_status=msg.req.body.Lend_status;//借閱狀態\nmsg.lend_date=msg.req.body.Lend_date;//借閱日期\nmsg.time=msg.req.body.Time;\nmsg.uid=msg.req.body.Stdid;\nmsg.topic='SELECT Time,lend FROM lending WHERE Student_ID = '+'\"'+msg.uid+'\"'+'' ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":1600,"wires":[["36e0d3b2.c2732c"]]},{"id":"36e0d3b2.c2732c","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":370,"y":1600,"wires":[["f44852b2.e4e6c"]]},{"id":"f44852b2.e4e6c","type":"function","z":"b941852.db78a78","name":"回傳借閱成功狀態","func":"var today = new Date();\nvar times=msg.payload.length;\nmsg.lendtimes=0;\nfor(i=0;i<times;i++)\n{\n    if(msg.payload[i].Time>=today-86400000)\n    {\n        msg.lendtimes+=1;\n    }\n}\nif(msg.lendtimes<5)\n{\n    msg.code=\"\";\n    var def=[\"A\",\"B\",\"C\",\"D\",\"F\",\"G\",\"H\",\"I\"];\n    for(i=0;i<8;i++)\n    {\n        if(msg.lend[i]!=\"0\")\n        {\n            msg.code+=def[i];\n        }\n    }\n    \n    if (msg.lend_status==\"All\")\n    {\n        msg.topic='INSERT INTO lend(Time, A, B, C, D, F, G, H, I) VALUES ('+'\"'+msg.lend_date+'\"'+','+'\"'+msg.lend[0]+'\"'+','+'\"'+msg.lend[1]+'\"'+','+'\"'+msg.lend[2]+'\"'+','+'\"'+msg.lend[3]+'\"'+','+'\"'+msg.lend[4]+'\"'+','+'\"'+msg.lend[5]+'\"'+','+'\"'+msg.lend[6]+'\"'+','+'\"'+msg.lend[7]+'\"'+'); INSERT INTO lending(Time,Student_id,lend) VALUES('+'\"'+msg.lend_date+'\"'+','+'\"'+msg.uid+'\"'+','+'\"'+msg.code+'\"'+')';\n    }\n    else\n    {\n        for(i=0;i<8;i++)\n        {\n            if(msg.lend[i]!=\"0\")\n            {\n                msg.time[i]=msg.lend[i];\n            }\n        }\n        msg.topic='UPDATE lend SET A='+'\"'+msg.time[0]+'\"'+',B='+'\"'+msg.time[1]+'\"'+',C='+'\"'+msg.time[2]+'\"'+',D='+'\"'+msg.time[3]+'\"'+',F='+'\"'+msg.time[4]+'\"'+',G='+'\"'+msg.time[5]+'\"'+',H='+'\"'+msg.time[6]+'\"'+',I='+'\"'+msg.time[7]+'\"'+' WHERE Time = '+'\"'+msg.lend_date+'\"'+'; INSERT INTO lending(Time,Student_id,lend) VALUES('+'\"'+msg.lend_date+'\"'+','+'\"'+msg.uid+'\"'+','+'\"'+msg.code+'\"'+')';\n    }\n    msg.payload={\"OK\":\"OK\",\"Lendtimes\":msg.lendtimes};\n}\nelse\n{\n    msg.payload={\"OK\":\"OVER\"};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1600,"wires":[["75d84e8f.4ef79","516a4d28.33f044"]]},{"id":"516a4d28.33f044","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":730,"y":1640,"wires":[[]]},{"id":"9b0d7a7c.c36158","type":"comment","z":"b941852.db78a78","name":"預約頁面","info":"","x":100,"y":1320,"wires":[]},{"id":"8c0f348d.44be48","type":"comment","z":"b941852.db78a78","name":"預約紀錄頁面","info":"","x":110,"y":1700,"wires":[]},{"id":"746fa6c7.675778","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n    <head>\n        <meta charset=\"utf-8\">\n        <title>預約中-教室借閱系統</title>\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n        <style>\n            @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n#topic{\n  font-size: 40px;\n  font-weight: 400;\n  padding-left: 50px;\n  padding-top: 50px;\n}\n#user_name{\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n  padding-right: 15px;\n}\nnav{\n  height: 80px;\n  background-color:#212529;\n  display: flex;\n  align-items: center;\n  justify-content: space-between;\n  padding: 0px 50px 0px 50px;\n}\n\nnav .logo{\n  font-size: 40px;\n  color: rgba(196, 95, 0, 0.993);\n  font-weight: 600;\n}\nnav ul{\n  display: flex;\n  list-style: none;\n}\nnav ul li,nav ul label{\n  margin: 0 10px;\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav ul li a,nav ul li label{\n  color: white;\n  text-decoration: none;\n  font-size: 18px;\n  font-weight: 500;\n  letter-spacing: 1px;\n  padding: 8px 15px;\n  border-radius: 5px;\n}\nnav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n  background-color:white;\n  color: #212529;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav .menu-btn i{\n  color: white;\n  font-size: 32px;\n  cursor: pointer;\n  display: none;\n}\n#click{\n  display: none;\n}\n/* 以上是menu設定\n以下是預約中設定 */\n.main{\n  width: 50%;\n  margin:3% 0px 0px 5%;\n}\ndiv label h5{\n  color: black;\n  font-size: 26px;\n  font-weight: 700;\n}\ntable{\n  /* display: block; */\n  overflow-x: auto;\n  white-space: nowrap;\n  width: 600px;\n  height: 100%;\n  margin: 15px 0px 0px 0%;\n  color: #212529;\n  text-align: center;\n  box-shadow: 0 5px 10px #e2e2e2 ;\n}\nthead{\n  box-shadow: 0 5px 10px #eeeeee ;\n}\nthead tr th{\n  font-size: 22px;\n  font-weight: 600;\n}\ntbody{\n  border-bottom:1px rgb(170, 170, 170) solid;\n}\nth{\n  padding: 1rem 2rem;\n  letter-spacing: 0.1rem;\n  font-size: 22px;\n  font-weight: 300;\n}\ntd{\n  padding: 1rem 2rem;\n}\ndiv table tbody tr td button{\n  display: block;\n  width: 100px;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 500;\n  line-height: 1.5;\n  color: #212529;\n  background-color: #e9e9e9;\n  background-clip: padding-box;\n  border: 2px solid #dfdfdf;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 20px;\n  text-align: center;\n  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n}\ndiv table tbody tr td button:hover{\n  background-color: #c9c9c9;\n  border: 2px solid #c9c9c9;\n}\n\n@media (max-width:1090px) {\n  #user_name{\n    color: white;\n    font-size: 18px;\n    font-weight: 500;\n    padding-right: 0;\n  }\n  nav{\n    height: 80px;\n    background-color: #212529;\n    display: flex;\n    align-items: center;\n    justify-content: space-between;\n    padding: 0px 30px 0px 30px;\n  }\n  nav .menu-btn i{\n    display: block;\n  }\n  #click:checked ~ .menu-btn i::before{\n    content: \"\\f00d\";\n  }\n  nav ul{\n    position: fixed;\n    top: 80px;\n    left: -100%;\n    background-color: #111;\n    height: 100vh;\n    width: 100%;\n    display: block;\n    text-align: center;\n    transition: all 0.3s ease;\n  }\n  #click:checked ~ ul{\n    left: 0%;\n  }\n  nav ul li,nav ul label{\n    margin: 40px 0;\n    color: white;\n    font-size: 22px;\n  }\n  nav ul li a,nav ul li label,#user_name{\n    font-size: 22px;\n    display: block;\n  }\n  nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n    background-color: #111;\n    color: rgba(196, 95, 0, 0.993);\n    font-size: 22px;\n  }\n  /* 以上是menu設定\n以下是預約設定 */\n\n}\n@media (max-width:665px){\n  .main{\n    width: auto;\n    margin-top: 15px;\n    margin-right: 15px;\n  }\n  table{\n    display: block;\n    overflow-x: auto;\n    white-space: nowrap;\n    width: auto;\n  }\n  thead tr th{\n    font-size: 15px;\n    font-weight: 600;\n  }\n  th,td{\n    font-size: 15px;\n    padding: 10px 12px;\n  }\n  div table tbody tr td button{\n    font-size: 12px;\n    width: 90px;\n}\n}\n        </style>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    </head>\n    <body>\n        <nav>\n            <div class=\"logo\">教室借閱系統</div>\n            <input type=\"checkbox\" id=\"click\">\n            <label for=\"click\" class=\"menu-btn\">\n                <i class=\"fas fa-bars\"></i>\n            </label>\n            <ul>\n                <label id=\"user_name\">林昌毅</label>\n                <li><a href=\"http://127.0.0.1:1880/web/home\">首頁</a></li>\n                <li><a href=\"http://127.0.0.1:1880/web/lend\">預約教室</a></li>\n                <li><a class=\"active\" href=\"http://127.0.0.1:1880/web/lending\">預約中</a></li>\n                <li><a href=\"http://127.0.0.1:1880/web/information\">個人資料</a></li>\n                <li><label id=\"signout\">登出</label></li>\n            </ul>\n        </nav>\n        <div class=\"main\">\n            <label><h5>預約中</h5></label>\n            <label><h5 id=\"inf\" >尚無借閱資料</h5></label>\n            <table id=\"table1\" class=\"table\">\n                <thead id=\"t_title\">\n                    <tr>\n                        <th scope=\"col\">#</th>\n                        <th scope=\"col\">預約日期</th>\n                        <th scope=\"col\">預約時段</th>\n                        <th scope=\"col\"></th>\n                    </tr>\n                </thead>\n                <tbody id=\"tb1\">\n                    <tr>\n                        <th scope='row'>1</th>\n                        <td id=\"tb1_td1\"></td>\n                        <td id=\"tb1_td2\"></td>\n                        <td><button id=\"btn1\" type='button'>取消預約</button></td>\n                    </tr>\n                </tbody>\n                <tbody id=\"tb2\">\n                    <tr>\n                        <th scope='row'>2</th>\n                        <td id=\"tb2_td1\"></td>\n                        <td id=\"tb2_td2\"></td>\n                        <td><button id=\"btn2\" type='button' >取消預約</button></td>\n                    </tr>\n                </tbody>\n                <tbody id=\"tb3\">\n                    <tr>\n                        <th scope='row'>3</th>\n                        <td id=\"tb3_td1\"></td>\n                        <td id=\"tb3_td2\"></td>\n                        <td><button id=\"btn3\" type='button' >取消預約</button></td>\n                    </tr>\n                </tbody>\n                <tbody id=\"tb4\">\n                    <tr>\n                        <th scope='row'>4</th>\n                        <td id=\"tb4_td1\"></td>\n                        <td id=\"tb4_td2\"></td>\n                        <td><button id=\"btn4\" type='button' >取消預約</button></td>\n                    </tr>\n                </tbody>\n                <tbody id=\"tb5\">\n                    <tr>\n                        <th scope='row'>5</th>\n                        <td id=\"tb5_td1\"></td>\n                        <td id=\"tb5_td2\"></td>\n                        <td><button id=\"btn5\" type='button' >取消預約</button></td>\n                    </tr>\n                </tbody>\n            </table>\n        </div>\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n        <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n        <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/check_uid\"></script>\n        <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/lending/js\"></script>\n    </body>\n</html>","output":"str","x":290,"y":1760,"wires":[["a4de4334.8c782"]]},{"id":"e04e4630.7d0258","type":"http in","z":"b941852.db78a78","name":"","url":"/web/lending","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1760,"wires":[["746fa6c7.675778"]]},{"id":"b1ae1e4b.6dbb","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        //初始化\n        $(\"#table1\").hide();\n        var API=\"http://127.0.0.1:1880/lending\";\n        $.post\n        (\n            API,\n            {\n                Uid:window.uid\n            },\n            function(res)\n            {\n                window.inf=res.Inf;\n                var length=window.inf.length;\n                for(i=0;i<length;i++)\n                {\n                    window.inf[i].Time = timechange(window.inf[i].Time);\n                }\n                if(length!=0)\n                {\n                    $(\"#inf\").hide();\n                    $(\"#table1\").show();\n                    var tb=[\"#tb1\",\"#tb2\",\"#tb3\",\"#tb4\",\"#tb5\"];\n                    var tblist=\n                    [\n                        [\"#tb1_td1\",\"#tb1_td2\"],\n                        [\"#tb2_td1\",\"#tb2_td2\"],\n                        [\"#tb3_td1\",\"#tb3_td2\"],\n                        [\"#tb4_td1\",\"#tb4_td2\"],\n                        [\"#tb5_td1\",\"#tb5_td2\"]\n                    ];\n                    for(i=0;i<5;i++)\n                    {\n                        if(i<length)\n                        {\n                            $(tblist[i][0]).text(window.inf[i].Time);\n                            $(tblist[i][1]).text(window.inf[i].lend);\n                        }\n                        else\n                        {\n                            $(tb[i]).hide();\n                        }\n                    }\n                }\n            }\n        )\n        \n        //取消預約按鈕\n        $(\"button\").click(function() \n        {\n            //檢查逾時\n            var API = \"http://127.0.0.1:1880/web/check_uid\"\n            $.get\n            (\n                API\n            );\n            \n            var btn_list=[\"btn1\",\"btn2\",\"btn3\",\"btn4\",\"btn5\"]\n            var btn_id=$(this).attr(\"id\");\n            for(i=0;i<5;i++)\n            {\n                if(btn_id==btn_list[i])\n                {\n                    if(confirm(\"確定取消此預約嗎?\"))\n                    {\n                        API=\"http://127.0.0.1:1880/web/delete_lending\";\n                        $.post\n                        (\n                        API,\n                        {\n                            Inf:window.inf[i],\n                            Uid:window.uid\n                        },\n                        function(res) \n                        {\n                            var inf=res.Inf;\n                            if(inf==1)\n                            {\n                                alert(\"取消預約成功!\");\n                                document.location.reload();\n                            }    \n                            else alert(\"取消失敗...\");    \n                        })\n                    }\n                }\n            }\n        })\n\n        //登出\n        $(\"#signout\").click(function()\n        {   \n            var API = \"http://127.0.0.1:1880/delete_uid\";\n            $.get\n                (API);\n            window.location.href=\"http://127.0.0.1:1880/web/signin\"\n        })\n    }\n)\n\n//時間轉換\nfunction timechange(time) \n{\n    var t = new Date(time);\n    var year = t.getFullYear();\n    var month = t.getMonth()+1;\n    var day = t.getDate();\n    if(month<10)\n    {\n        month=\"0\"+month;\n    }\n    if(day<10)\n    {\n        day=\"0\"+day;\n    }\n    time=year+\"-\"+month+\"-\"+day;\n    return time;    \n}","output":"str","x":290,"y":1800,"wires":[["5b10f11f.75f54"]]},{"id":"65d60669.071788","type":"http in","z":"b941852.db78a78","name":"","url":"/web/lending/js","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1800,"wires":[["b1ae1e4b.6dbb"]]},{"id":"5b10f11f.75f54","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":410,"y":1800,"wires":[]},{"id":"a4de4334.8c782","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":410,"y":1760,"wires":[]},{"id":"bf1a5481.ea1868","type":"http in","z":"b941852.db78a78","name":"","url":"/lending","method":"post","upload":true,"swaggerDoc":"","x":110,"y":1860,"wires":[["bca0c004.0927a"]]},{"id":"4c9cbcaf.64b0e4","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":830,"y":1860,"wires":[]},{"id":"f1dec604.bed128","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":510,"y":1860,"wires":[["8f42e8c.0b28018"]]},{"id":"bca0c004.0927a","type":"function","z":"b941852.db78a78","name":"篩選與搜尋","func":"msg.uid=msg.req.body.Uid\nmsg.topic='SELECT Time,lend FROM lending WHERE Student_ID = '+'\"'+msg.uid+'\"'+' AND Time>=CURDATE()';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1860,"wires":[["f1dec604.bed128"]]},{"id":"8f42e8c.0b28018","type":"function","z":"b941852.db78a78","name":"回傳借閱情況","func":"msg.payload=\n{\n    Inf:msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1860,"wires":[["4c9cbcaf.64b0e4"]]},{"id":"e133375.80fc6c8","type":"http in","z":"b941852.db78a78","name":"","url":"/web/delete_lending","method":"post","upload":true,"swaggerDoc":"","x":150,"y":1920,"wires":[["8ab165ca.42b518"]]},{"id":"6044d2cd.e753ac","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":830,"y":1920,"wires":[]},{"id":"8ab165ca.42b518","type":"function","z":"b941852.db78a78","name":"刪除借閱","func":"msg.inf=msg.req.body.Inf;\nmsg.uid=msg.req.body.Uid;\nmsg.time=msg.inf.Time.substr(0,10);\nmsg.lend=msg.inf.lend.split(\"\");\nvar content = \"\";\nfor(i=0;i<msg.lend.length;i++)\n{\n    if((msg.lend.length-i)!=1)\n    {\n        content+=(msg.lend[i]+\" = 0, \");\n    }\n    else\n    {\n        content+=(msg.lend[i]+\" = 0 \");\n    }\n}\nvar title='UPDATE lend SET ';\nvar where='WHERE Time = '+'\"'+msg.time+'\"'+'';\nmsg.topic=title+content+where+'; DELETE FROM lending WHERE Student_ID = '+'\"'+msg.uid+'\"'+' AND Time = '+'\"'+msg.time+'\"'+' AND lend='+'\"'+msg.inf.lend+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1920,"wires":[["806f86d5.b41988"]]},{"id":"806f86d5.b41988","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":510,"y":1920,"wires":[["d967b5a7.994028"]]},{"id":"d967b5a7.994028","type":"function","z":"b941852.db78a78","name":"回傳刪除情況","func":"msg.payload={Inf:1}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1920,"wires":[["6044d2cd.e753ac"]]},{"id":"22072327.a0a90c","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n   <head>\n      <meta charset=\"utf-8\">\n      <title>首頁-教室借閱系統</title>\n      <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n      <style>\n        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n        *{\n          margin: 0;\n          padding: 0;\n          box-sizing: border-box;\n          font-family: 'Poppins', sans-serif;\n        }\n        #topic{\n          font-size: 40px;\n          font-weight: 400;\n        }\n        #user_name{\n          color: white;\n          font-size: 18px;\n          font-weight: 500;\n          padding-right: 15px;\n        }\n        nav{\n          height: 80px;\n          background-color:#212529;\n          display: flex;\n          align-items: center;\n          justify-content: space-between;\n          padding: 0px 50px 0px 50px;\n        }\n        \n        nav .logo{\n          font-size: 40px;\n          color: rgba(196, 95, 0, 0.993);\n          font-weight: 600;\n        }\n        nav ul{\n          display: flex;\n          list-style: none;\n        }\n        nav ul li,nav ul label{\n          margin: 0 10px;\n          color: white;\n          font-size: 18px;\n          font-weight: 500;\n        }\n        nav ul li a,nav ul li label{\n          color: white;\n          text-decoration: none;\n          font-size: 18px;\n          font-weight: 500;\n          letter-spacing: 1px;\n          padding: 8px 15px;\n          border-radius: 5px;\n        }\n        nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n          background-color:white;\n          color: #212529;\n          font-size: 18px;\n          font-weight: 500;\n        }\n        nav .menu-btn i{\n          color: white;\n          font-size: 32px;\n          cursor: pointer;\n          display: none;\n        }\n        #click{\n          display: none;\n        }\n        /* 以下是內容 */\n        .main{\n          width: 50%;\n          margin:10px 0px 0px 5%;\n        }\n        div label h5{\n          color: black;\n          font-size: 30px;\n          font-weight: 700;\n          margin-top: 30px;\n        }\n        table{\n          /* display: block; */\n          overflow-x: auto;\n          white-space: nowrap;\n          width: 900px;\n          height: 100%;\n          margin: 15px 0px 0px 0%;\n          color: #212529;\n          text-align: left;\n          box-shadow: 0 5px 10px #e2e2e2 ;\n        }\n        thead{\n          box-shadow: 0 5px 10px #eeeeee ;\n        }\n        #content{\n          font-size: 18px;\n          font-weight: 600;\n          padding:10px 0px 10px 20px;\n        }\n        #date{\n          font-size: 18px;\n          font-weight: 600;\n          padding:10px 0px 10px 20px;\n          width: 120px;\n        }\n        tbody{\n          border-bottom:1px rgb(170, 170, 170) solid;\n        }\n        td{\n          padding: 15px 0px 5px 20px;\n        }\n        div table tbody tr td a{\n          color:rgb(51, 88, 255);\n        }\n        div table tbody tr td a:hover{\n          color:rgb(76, 42, 138);\n        }\n        .ToSwitch{\n          width: 50%;\n          margin:10px 0px 0px 5%;\n        }\n        div #ToSwitchButton{\n          margin-top: 20px;\n          display: inline-block;\n          width: 180px;\n          height: 100px;\n          line-height: 1.5;\n          color: #212529;\n          text-align: center;\n          text-decoration: none;\n          vertical-align: middle;\n          cursor: pointer;\n          -webkit-user-select: none;\n          -moz-user-select: none;\n          user-select: none;\n          background-color: #ff854d;\n          border: 2px solid #ff854d;\n          padding: .375rem .75rem;\n          font-size: 1.5rem;\n          border-radius: 10px;\n          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n          font-weight: 400;\n        }\n        div #ToSwitchButton:hover{\n          background-color: #e46428;\n          border: 2px solid #e46428;\n        }\n        @media (max-width:1000px) {\n            #user_name{\n                color: white;\n                font-size: 18px;\n                font-weight: 500;\n                padding-right: 0;\n            }\n            nav{\n                height: 80px;\n                background-color: #212529;\n                display: flex;\n                align-items: center;\n                justify-content: space-between;\n                padding: 0px 30px 0px 30px;\n            }\n            nav .menu-btn i{\n                display: block;\n            }\n            #click:checked ~ .menu-btn i::before{\n                content: \"\\f00d\";\n            }\n            nav ul{\n                position: fixed;\n                top: 80px;\n                left: -100%;\n                background-color: #111;\n                height: 100vh;\n                width: 100%;\n                display: block;\n                text-align: center;\n                transition: all 0.3s ease;\n            }\n            #click:checked ~ ul{\n                left: 0%;\n            }\n            nav ul li,nav ul label{\n                margin: 40px 0;\n                color: white;\n                font-size: 22px;\n            }\n            nav ul li a,nav ul li label,#user_name{\n                font-size: 22px;\n                display: block;\n            }\n            nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n                background-color: #111;\n                color: rgba(196, 95, 0, 0.993);\n                font-size: 22px;\n            }\n            table{\n                display: block;\n                overflow-x: auto;\n                white-space: nowrap;\n                width: 600px;\n            }\n            #content{\n                width: 500px;\n            }\n            #date{\n                width: 100px;\n                padding-right: 20px;\n            }\n          \n            @media (max-width:430px){\n                .main{\n                    width: auto;\n                    margin-top: 15px;\n                    margin-right: 15px;\n                }\n                table{\n                    display: block;\n                    overflow-x: auto;\n                    white-space: nowrap;\n                    width: auto;\n                }\n                #content{\n                    width: 75%;\n                    background-color: #212529;\n                    color: rgba(196, 95, 0, 0.993);\n                }\n                #date{\n                    width: 25%;\n                    padding-right: 15px;\n                    background-color: #212529;\n                    color: rgba(196, 95, 0, 0.993);\n                }\n            }\n        }\n        </style>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n   </head>\n   <body>\n        <nav>\n            <div class=\"logo\">教室借閱系統</div>\n            <input type=\"checkbox\" id=\"click\">\n            <label for=\"click\" class=\"menu-btn\">\n                <i class=\"fas fa-bars\"></i>\n            </label>\n            <ul>\n                <label id=\"user_name\">林昌毅</label>\n                <li><a  class=\"active\" href=\"http://127.0.0.1:1880/web/home\">首頁</a></li>\n                <li><a href=\"http://127.0.0.1:1880/web/lend\">預約教室</a></li>\n                <li><a href=\"http://127.0.0.1:1880/web/lending\">預約中</a></li>\n                <li><a href=\"http://127.0.0.1:1880/web/information\">個人資料</a></li>\n                <li><label id=\"signout\">登出</label></li>\n            </ul>\n        </nav>\n        <div class=\"main\">\n            <label id=topic>歡迎使用此網站!</label>\n            <label><h5>公告</h5></label>\n            <table id=\"table1\" class=\"table\">\n            <thead id=\"t_title\">\n                <tr>\n                    <th scope=\"col\" id=\"content\">公告事項</th>\n                    <th scope=\"col\" id=\"date\">公告日期</th>\n                </tr>\n            </thead>\n            <tbody id=\"tb1\">\n                <tr>\n                    <td id=\"tb1_td0\">\n                        <a href=\"https://drive.google.com/file/d/1ZfCgIzyvqdOiYsOlcZCk9_b2WvPAOnFg/view?usp=sharing\" target=\"_blank\">教室借閱系統使用規則</a>\n                    </td>\n                    <td id=\"tb1_td1\">2021/6/21</td>\n                </tr>\n            </tbody>\n            <tbody id=\"tb2\">\n                <tr>\n                    <td id=\"tb2_td0\">\n                        <a href=\"https://forms.gle/ar8qxm1xT3gFZWtC9\" target=\"_blank\">使用意見回饋調查</a>\n                    </td>\n                    <td id=\"tb2_td1\">2021/6/21</td>\n                </tr>\n            </tbody>\n        </table>\n        </div>\n        <div class=\"ToSwitch\">\n          <button id=\"ToSwitchButton\" type=\"button\">前往控制介面</button>\n        </div>\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n        <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n        <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/check_uid\"></script>\n        <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/home/js\"></script>\n    </body>\n</html>","output":"str","x":310,"y":1220,"wires":[["5c51fc81.272304"]]},{"id":"96599786.a77718","type":"http in","z":"b941852.db78a78","name":"","url":"/web/home","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1220,"wires":[["22072327.a0a90c"]]},{"id":"f8924699.a0be18","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        //登出\n        $(\"#signout\").click(function()\n        {   \n            var API = \"http://127.0.0.1:1880/delete_uid\";\n            $.get\n                (API);\n            window.location.href=\"http://127.0.0.1:1880/web/signin\"\n        })\n\n        $(\"#ToSwitchButton\").click(function()\n        {   \n            var API = \"http://127.0.0.1:1880/check_uid\";\n            $.get\n                (API);\n            window.location.href=\"http://127.0.0.1:1880/web/switch\"\n        })\n        ToSwitchButton\n    }\n)","output":"str","x":310,"y":1260,"wires":[["82e0f7c9.819a48"]]},{"id":"9ef0bfe0.d7c28","type":"http in","z":"b941852.db78a78","name":"","url":"/web/home/js","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1260,"wires":[["f8924699.a0be18"]]},{"id":"82e0f7c9.819a48","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":450,"y":1260,"wires":[]},{"id":"5c51fc81.272304","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":450,"y":1220,"wires":[]},{"id":"422b9d39.f3c6d4","type":"comment","z":"b941852.db78a78","name":"首頁","info":"","x":90,"y":1160,"wires":[]},{"id":"d9b6fb8f.bf7338","type":"http in","z":"b941852.db78a78","name":"","url":"/delete_uid","method":"get","upload":true,"swaggerDoc":"","x":120,"y":2100,"wires":[["753a97e0.be1028"]]},{"id":"5c958b8e.b4abf4","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":630,"y":2100,"wires":[]},{"id":"753a97e0.be1028","type":"function","z":"b941852.db78a78","name":"Clear cookies","func":"var cookieNames = Object.keys(msg.req.cookies).filter\n    (\n        function(cookieName) \n        { \n            return /^uid/.test(cookieName);\n        }\n    );\n\nmsg.cookies = {};\n\ncookieNames.forEach\n    (\n        function(cookieName) \n        {\n            msg.cookies[cookieName] = null;\n        }\n    );\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":2100,"wires":[["4b66b6c6.481608"]]},{"id":"4b66b6c6.481608","type":"change","z":"b941852.db78a78","name":"Redirect to /set","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/web/home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":2100,"wires":[["5c958b8e.b4abf4"]]},{"id":"f15af59e.1c3c08","type":"http in","z":"b941852.db78a78","name":"","url":"/web/check_uid","method":"get","upload":false,"swaggerDoc":"","x":130,"y":2160,"wires":[["14da6b5e.b80fd5"]]},{"id":"14da6b5e.b80fd5","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n        {\n            window.uid = Cookies.get(\"uid\");\n            if (window.uid)\n            {\n                var API = \"http://127.0.0.1:1880/web/check_User_ID\";\n                $.post\n                (\n                    API,\n                    {\n                        Uid:window.uid\n                    },\n                    function(res)\n                    {\n                        window.user_id=res.User_id;\n                        window.user_name=res.User_name;\n                        $(\"#user_name\").text(\"Hi ! \"+window.user_name);\n                    }\n                )\n            }\n            else\n            {\n                window.location.href=\"http://127.0.0.1:1880/web/signin\";\n            }\n        }\n    )","output":"str","x":290,"y":2160,"wires":[["d2901e6e.4f54b"]]},{"id":"d2901e6e.4f54b","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":410,"y":2160,"wires":[]},{"id":"df9fda33.cbf848","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":510,"y":2040,"wires":[["1654fe27.51d1e2"]]},{"id":"55c87cb2.39b434","type":"http in","z":"b941852.db78a78","name":"","url":"/web/check_User_ID","method":"post","upload":true,"swaggerDoc":"","x":150,"y":2040,"wires":[["286ddea2.28f082"]]},{"id":"2d0d314f.8898ae","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":810,"y":2040,"wires":[]},{"id":"286ddea2.28f082","type":"function","z":"b941852.db78a78","name":"查詢User_ID","func":"msg.uid=msg.req.body.Uid;\nmsg.topic='SELECT User_ID,Name FROM Information WHERE Student_ID = '+'\"'+msg.uid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":2040,"wires":[["df9fda33.cbf848"]]},{"id":"1654fe27.51d1e2","type":"function","z":"b941852.db78a78","name":"回傳User_ID","func":"msg.payload={\"User_id\":msg.payload[0].User_ID,\"User_name\":msg.payload[0].Name};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":2040,"wires":[["2d0d314f.8898ae"]]},{"id":"f70ffb92.767818","type":"comment","z":"b941852.db78a78","name":"Cookies","info":"","x":100,"y":1980,"wires":[]},{"id":"fa041436.c4be08","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n   <head>\n      <meta charset=\"utf-8\">\n      <title>個人資料-教室借閱系統</title>\n      <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n      <style>\n          @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n#topic{\n  font-size: 40px;\n  font-weight: 400;\n  padding-left: 50px;\n  padding-top: 50px;\n}\n#user_name{\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n  padding-right: 15px;\n}\nnav{\n  height: 80px;\n  background-color:#212529;\n  display: flex;\n  align-items: center;\n  justify-content: space-between;\n  padding: 0px 50px 0px 50px;\n}\n\nnav .logo{\n  font-size: 40px;\n  color: rgba(196, 95, 0, 0.993);\n  font-weight: 600;\n}\nnav ul{\n  display: flex;\n  list-style: none;\n}\nnav ul li,nav ul label{\n  margin: 0 10px;\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav ul li a,nav ul li label{\n  color: white;\n  text-decoration: none;\n  font-size: 18px;\n  font-weight: 500;\n  letter-spacing: 1px;\n  padding: 8px 15px;\n  border-radius: 5px;\n}\nnav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n  background-color:white;\n  color: #212529;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav .menu-btn i{\n  color: white;\n  font-size: 30px;\n  cursor: pointer;\n  display: none;\n}\n#click{\n  display: none;\n}\n/* 以上是menu設定\n以下是預約中設定 */\n.main{\n  width: 60%;\n  height: 550px;\n  margin:auto;\n  padding:30px 5px 0px 5px;\n  text-align: center;\n}\ndiv label h5{\n  color: black;\n  font-size: 28px;\n  font-weight: 700;\n}\ntable{\n  overflow-x: auto;\n  white-space: nowrap;\n  width: 560px;\n  height: 390px;\n  margin: auto;\n  color: #212529;\n  text-align: center;\n}\nth,td{\n  font-size: 20px;\n  font-weight: 600;\n  border-bottom: 1px solid #ddd;\n  padding: 1rem 2rem;\n}\n#btnp{\n  margin-top: 10px;\n  width: 100%;\n  text-align: center;\n}\n#modify{\n  display: block;\n  width: 160px;\n  margin:auto;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 500;\n  line-height: 1.5;\n  color: #212529;\n  background-color: #e9e9e9;\n  background-clip: padding-box;\n  border: 2px solid #dfdfdf;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 20px;\n  text-align: center;\n  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n  \n}\n#modify:hover{\n  background-color: #c9c9c9;\n  border: 2px solid #c9c9c9;\n}\n\n@media (max-width:1090px) {\n  #user_name{\n    color: white;\n    font-size: 18px;\n    font-weight: 500;\n    padding-right: 0;\n  }\n  nav{\n    height: 80px;\n    background-color: #212529;\n    display: flex;\n    align-items: center;\n    justify-content: space-between;\n    padding: 0px 30px 0px 30px;\n  }\n  nav .menu-btn i{\n    display: block;\n  }\n  #click:checked ~ .menu-btn i::before{\n    content: \"\\f00d\";\n  }\n  nav ul{\n    position: fixed;\n    top: 80px;\n    left: -100%;\n    background-color: #111;\n    height: 100vh;\n    width: 100%;\n    display: block;\n    text-align: center;\n    transition: all 0.3s ease;\n  }\n  #click:checked ~ ul{\n    left: 0%;\n  }\n  nav ul li,nav ul label{\n    margin: 40px 0;\n    color: white;\n    font-size: 22px;\n  }\n  nav ul li a,nav ul li label,#user_name{\n    font-size: 22px;\n    display: block;\n  }\n  nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n    background-color: #111;\n    color: rgba(196, 95, 0, 0.993);\n    font-size: 22px;\n  }\n}\n@media (max-width:660px){\n  .main{\n    width: auto;\n  }\n  table{\n    display: block;\n    overflow-x: auto;\n    white-space: nowrap;\n    width: auto;\n    margin-left: auto;\n    margin-right: auto;\n    height: 350px;\n  }\n  th,td{\n  font-size: 15px;\n  font-weight: 600;\n  border-bottom: 1px solid #ddd;\n  \n}\n}\n      </style>\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n   </head>\n   <body>\n      <nav>\n         <div class=\"logo\">教室借閱系統</div>\n         <input type=\"checkbox\" id=\"click\">\n         <label for=\"click\" class=\"menu-btn\">\n            <i class=\"fas fa-bars\"></i>\n         </label>\n         <ul>\n            <label id=\"user_name\">林昌毅</label>\n            <li><a href=\"http://127.0.0.1:1880/web/home\">首頁</a></li>\n            <li><a href=\"http://127.0.0.1:1880/web/lend\">預約教室</a></li>\n            <li><a href=\"http://127.0.0.1:1880/web/lending\">預約中</a></li>\n            <li><a class=\"active\" href=\"http://127.0.0.1:1880/web/information\">個人資料</a></li>\n            <li><label id=\"signout\">登出</label></li>\n         </ul>\n      </nav>\n      <div class=\"main\">\n        <label><h5>個人資料</h5></label>\n        <table>\n            <tbody>\n              <tr>\n                <th scope=\"row\">姓名</th>\n                <td id=\"name\" value=\"#\">林昌毅</td>\n              <tr>\n                <th scope=\"row\">學號</th>\n                <td id=\"stdid\">B10711137</td>\n              </tr>\n              <tr>\n                <th scope=\"row\">密碼</th>\n                <td id=\"password\">l125542410</td>\n              </tr>\n              <tr>\n                <th scope=\"row\">電話</th>\n                <td id=\"phone\" >0902313888</td>\n              </tr>\n              <tr>\n                <th scope=\"row\">信箱</th>\n                <td id=\"email\" >a0984360579@gmail.com</td>\n              </tr>\n            </tbody>\n        </table>\n        <div id=\"btnp\">\n            <button  id=\"modify\" type=\"button\">修改個人資料</button>\n        </div>\n    </div>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/check_uid\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/information/js\"></script>\n\n      </body>\n</html>","output":"str","x":310,"y":2280,"wires":[["32b17e3c.8e78b2"]]},{"id":"ba25496e.a31b98","type":"http in","z":"b941852.db78a78","name":"","url":"/web/information","method":"get","upload":false,"swaggerDoc":"","x":140,"y":2280,"wires":[["fa041436.c4be08"]]},{"id":"ebe0c9e.3025e38","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        //初始化\n        var API=\"http://127.0.0.1:1880/information\"\n        $.post\n        (\n            API,\n            {\n                Uid:window.uid\n            },\n            function(res)\n            {\n                var name = res.Name;\n                var password = res.Password;\n                var phone = res.Phone;\n                var email = res.Email;\n                $(\"#name\").text(name);\n                $(\"#stdid\").text(window.uid);\n                $(\"#password\").text(password);\n                $(\"#phone\").text(phone);\n                $(\"#email\").text(email);\n            }\n        )\n        \n        //修改資料\n        $(\"#modify\").click(function()\n        {   \n            var API = \"http://127.0.0.1:1880/web/check_uid\"\n            $.get\n            (\n                API\n            );\n            window.location.href=\"http://127.0.0.1:1880/web/information/modify\";\n        })\n\n        //登出\n        $(\"#signout\").click(function()\n        {   \n            var API = \"http://127.0.0.1:1880/delete_uid\";\n            $.get\n                (API);\n            window.location.href=\"http://127.0.0.1:1880/web/signin\"\n        })\n    }\n)","output":"str","x":310,"y":2320,"wires":[["e1cf9c43.fd507"]]},{"id":"ce9e60f4.3c603","type":"http in","z":"b941852.db78a78","name":"","url":"/web/information/js","method":"get","upload":false,"swaggerDoc":"","x":140,"y":2320,"wires":[["ebe0c9e.3025e38"]]},{"id":"e1cf9c43.fd507","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":430,"y":2320,"wires":[]},{"id":"32b17e3c.8e78b2","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":430,"y":2280,"wires":[]},{"id":"212353e5.9a8cfc","type":"http in","z":"b941852.db78a78","name":"","url":"/information","method":"post","upload":true,"swaggerDoc":"","x":130,"y":2380,"wires":[["ef405162.ac923"]]},{"id":"7f2ec4d9.fa92bc","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":750,"y":2380,"wires":[]},{"id":"ef405162.ac923","type":"function","z":"b941852.db78a78","name":"搜尋個人資料","func":"msg.uid=msg.req.body.Uid\nmsg.topic='SELECT * FROM Information WHERE Student_ID = '+'\"'+msg.uid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":2380,"wires":[["76f973cd.b8637c"]]},{"id":"76f973cd.b8637c","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":490,"y":2380,"wires":[["db971c84.814eb"]]},{"id":"db971c84.814eb","type":"function","z":"b941852.db78a78","name":"","func":"msg.payload=\n    {\n        Name:msg.payload[0].Name,\n        Password:msg.payload[0].Password,\n        Phone:msg.payload[0].Phone,\n        Email:msg.payload[0].Email\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":2380,"wires":[["7f2ec4d9.fa92bc"]]},{"id":"d874b4ea.5ca588","type":"http in","z":"b941852.db78a78","name":"","url":"/web/information/modify","method":"get","upload":true,"swaggerDoc":"","x":160,"y":2500,"wires":[["56c7578e.c2baa8"]]},{"id":"49bf6a95.6fc704","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":490,"y":2500,"wires":[]},{"id":"56c7578e.c2baa8","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n   <head>\n      <meta charset=\"utf-8\">\n      <title>修改資料-教室借閱系統</title>\n      <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n      <style>\n          @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n#topic{\n  font-size: 40px;\n  font-weight: 400;\n  padding-left: 50px;\n  padding-top: 50px;\n}\n#user_name{\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n  padding-right: 15px;\n}\nnav{\n  height: 80px;\n  background-color:#212529;\n  display: flex;\n  align-items: center;\n  justify-content: space-between;\n  padding: 0px 50px 0px 50px;\n}\n\nnav .logo{\n  font-size: 40px;\n  color: rgba(196, 95, 0, 0.993);\n  font-weight: 600;\n}\nnav ul{\n  display: flex;\n  list-style: none;\n}\nnav ul li,nav ul label{\n  margin: 0 10px;\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav ul li a,nav ul li label{\n  color: white;\n  text-decoration: none;\n  font-size: 18px;\n  font-weight: 500;\n  letter-spacing: 1px;\n  padding: 8px 15px;\n  border-radius: 5px;\n}\nnav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n  background-color:white;\n  color: #212529;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav .menu-btn i{\n  color: white;\n  font-size: 32px;\n  cursor: pointer;\n  display: none;\n}\n#click{\n  display: none;\n}\n/* 以上是menu設定\n以下是預約中設定 */\n.main{\n  width: 60%;\n  height: 550px;\n  margin:auto;\n  padding:30px 5px 0px 5px;\n  text-align: center;\n}\ndiv label h5{\n  color: black;\n  font-size: 28px;\n  font-weight: 700;\n}\ntable{\n  overflow-x: auto;\n  white-space: nowrap;\n  width: 560px;\n  height: 390px;\n  margin: auto;\n  color: #212529;\n  text-align: center;\n}\ninput:disabled{\n  display: block;\n  width: 70%;\n  margin: 5px 0px 5px 5%;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(223, 223, 223);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n  text-align: left;\n}\n.form{\n  display: block;\n  width: 70%;\n  margin: 5px 0px 5px 5%;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 253, 253);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n  text-align: left;\n}\n.form_alart{\n  display: block;\n  width: 70%;\n  margin: 5px 0px 5px 5%;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 234, 234);\n  background-clip: padding-box;\n  border: 2px solid #ff3c3c;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n  text-align: left;\n}\nth,td{\n  font-size: 20px;\n  font-weight: 600;\n  border-bottom: 1px solid #ddd;\n}\n#btnp{\n  margin-top: 10px;\n  width: 100%;\n  text-align: center;\n}\n#yes,#no{\n  display: inline;\n  width: 100px;\n  margin:0px 5px 0 5px;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 500;\n  line-height: 1.5;\n  color: #212529;\n  background-color: #e9e9e9;\n  background-clip: padding-box;\n  border: 2px solid #dfdfdf;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 20px;\n  /* text-align: center; */\n  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n}\n#yes:hover,#no:hover{\n  background-color: #c9c9c9;\n  border: 2px solid #c9c9c9;\n}\n.nothing{\n  display: none;\n}\n.alarm{\n  color: rgb(255, 0, 0);\n  margin-left: 25px;\n  font-size: 16px;\n  font-weight: 500;\n  text-align: left;\n}\n@media (max-width:1090px) {\n  #user_name{\n    color: white;\n    font-size: 18px;\n    font-weight: 500;\n    padding-right: 0;\n  }\n  nav{\n    height: 80px;\n    background-color: #212529;\n    display: flex;\n    align-items: center;\n    justify-content: space-between;\n    padding: 0px 30px 0px 30px;\n  }\n  nav .menu-btn i{\n    display: block;\n  }\n  #click:checked ~ .menu-btn i::before{\n    content: \"\\f00d\";\n  }\n  nav ul{\n    position: fixed;\n    top: 80px;\n    left: -100%;\n    background-color: #111;\n    height: 100vh;\n    width: 100%;\n    display: block;\n    text-align: center;\n    transition: all 0.3s ease;\n  }\n  #click:checked ~ ul{\n    left: 0%;\n  }\n  nav ul li,nav ul label{\n    margin: 40px 0;\n    color: white;\n    font-size: 22px;\n  }\n  nav ul li a,nav ul li label,#user_name{\n    font-size: 22px;\n    display: block;\n  }\n  nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n    background-color: #111;\n    color: rgba(196, 95, 0, 0.993);\n    font-size: 22px;\n  }\n}\n@media (max-width:660px){\n  .main{\n    width: auto;\n  }\n  table{\n    overflow-x: auto;\n    white-space: nowrap;\n    width: auto;\n    height: 270px;\n  }\n  input:disabled,.form,.form_alart{\n    width: 90%;\n  margin: 5px 0px 5px 5%;\n  }\n}\n      </style>\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n   </head>\n   <body>\n      <nav>\n         <div class=\"logo\">教室借閱系統</div>\n         <input type=\"checkbox\" id=\"click\">\n         <label for=\"click\" class=\"menu-btn\">\n            <i class=\"fas fa-bars\"></i>\n         </label>\n         <ul>\n            <label id=\"user_name\">林昌毅</label>\n            <li><a href=\"http://127.0.0.1:1880/web/home\">首頁</a></li>\n            <li><a href=\"http://127.0.0.1:1880/web/lend\">預約教室</a></li>\n            <li><a href=\"http://127.0.0.1:1880/web/lending\">預約中</a></li>\n            <li><a class=\"active\" href=\"http://127.0.0.1:1880/web/information\">個人資料</a></li>\n            <li><label id=\"signout\">登出</label></li>\n         </ul>\n      </nav>\n      <div class=\"main\">\n        <label><h5>個人資料</h5></label>\n        <table>\n            <tbody>\n              <tr>\n                <th scope=\"row\">姓名</th>\n                <td>\n                    <input class=\"form\" id=\"name\" value=\"#\">\n                    <div id=\"name_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              <tr>\n                <th scope=\"row\">學號</th>\n                <td>\n                    <input class=\"form\" id=\"stdid\" value=\"#\" disabled>\n                    <div id=\"stdid_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n              <tr>\n                <th scope=\"row\">密碼</th>\n                <td>\n                    <input class=\"form\" id=\"password\" value=\"#\">\n                    <div id=\"password_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n              <tr>\n                <th scope=\"row\">電話</th>\n                <td>\n                    <input class=\"form\" id=\"phone\" value=\"#\">\n                    <div id=\"phone_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n              <tr>\n                <th scope=\"row\">信箱</th>\n                <td>\n                    <input class=\"form\" id=\"email\" value=\"#\">\n                    <div id=\"email_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n            </tbody>\n        </table>\n        <div id=\"btnp\">\n                <button class=\"btn\" id=\"yes\" type=\"button\">確定修改</button>\n                <button class=\"btn\" id=\"no\" type=\"button\">取消</button>\n        </div>\n    </div>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/check_uid\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/information/modify/js\"></script>\n\n      </body>\n</html>","output":"str","x":370,"y":2500,"wires":[["49bf6a95.6fc704"]]},{"id":"4218f6bb.7f6f18","type":"template","z":"b941852.db78a78","name":".JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        //初始化\n        var API=\"http://127.0.0.1:1880/information\"\n        $.post\n        (\n            API,\n            {\n                Uid:window.uid\n            },\n            function(res)\n            {\n                var name = res.Name;\n                var password = res.Password;\n                var phone = res.Phone;\n                var email = res.Email;\n                $(\"#name\").attr(\"value\",name);\n                $(\"#stdid\").attr(\"value\",window.uid);\n                $(\"#password\").attr(\"value\",password);\n                $(\"#phone\").attr(\"value\",phone);\n                $(\"#email\").attr(\"value\",email);\n            }\n        )\n        \n        //確認修改\n        $(\"#yes\").click(function()\n        {   \n            var name = $(\"#name\").val();\n            var stdid = $(\"#stdid\").val();\n            var password = $(\"#password\").val();\n            var phone = $(\"#phone\").val();\n            var email = $(\"#email\").val();\n            var check = 1;\n            var list = [name,stdid,password,phone,email];\n            var list_obj = [\"#name\",\"#stdid\",\"#password\",\"#phone\",\"#email\"];\n            var list_alarm = [\"#name_alarm\",\"#stdid_alarm\",\"#password_alarm\",\"#phone_alarm\",\"#email_alarm\"]\n            for(i=0;i<5;i++)\n            {\n                if(!list[i])\n                {\n                    check = 0;\n                    $(list_obj[i]).attr(\"class\",\"form_alart\");\n                    $(list_alarm[i]).attr(\"class\",\"alarm\");\n                }\n                else \n                {\n                    $(list_obj[i]).attr(\"class\",\"form\");\n                    $(list_alarm[i]).attr(\"class\",\"nothing\");\n                }\n            }\n            if(check==1)\n            {\n                if(confirm(\"確定變更個人資料?\"))\n                {\n                    var API = \"http://127.0.0.1:1880/modify\";\n                    console.log(stdid);\n                    $.post\n                    (\n                    API,\n                    {\n                        Name:name,\n                        Stdid:stdid,\n                        Password:password,\n                        Phone:phone,\n                        Email:email\n                    },function(res) \n                    {\n                        var inf = res.Inf;\n                        if(inf==1)\n                        {\n                            alert(\"成功修改個人資料!\");\n                            window.location.href=\"http://127.0.0.1:1880/web/information\";\n                        }    \n                    })\n                }\n            }\n        })\n\n        //取消修改\n        $(\"#no\").click(function()\n        {\n            window.location.href=\"http://127.0.0.1:1880/web/information\";\n        })\n\n        //登出\n        $(\"#signout\").click(function()\n        {   \n            var API = \"http://127.0.0.1:1880/delete_uid\";\n            $.get\n                (API);\n            window.location.href=\"http://127.0.0.1:1880/web/signin\"\n        })\n    }\n)","output":"str","x":370,"y":2540,"wires":[["366b46b2.615efa"]]},{"id":"2cb86271.a2da0e","type":"http in","z":"b941852.db78a78","name":"","url":"/web/information/modify/js","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2540,"wires":[["4218f6bb.7f6f18"]]},{"id":"366b46b2.615efa","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":490,"y":2540,"wires":[]},{"id":"47b043e.4be02bc","type":"http in","z":"b941852.db78a78","name":"","url":"/modify","method":"post","upload":true,"swaggerDoc":"","x":110,"y":2600,"wires":[["ba4a7de0.1db94"]]},{"id":"51dd52c8.48352c","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":730,"y":2600,"wires":[]},{"id":"ba4a7de0.1db94","type":"function","z":"b941852.db78a78","name":"修改資料","func":"msg.name = msg.req.body.Name;\nmsg.stdid = msg.req.body.Stdid;\nmsg.password = msg.req.body.Password;\nmsg.phone = msg.req.body.Phone;\nmsg.email = msg.req.body.Email;\nmsg.topic='UPDATE Information SET Name = '+'\"'+msg.name+'\"'+',Password = '+'\"'+msg.password+'\"'+',Phone = '+'\"'+msg.phone+'\"'+',email='+'\"'+msg.email+'\"'+' WHERE Student_ID = '+'\"'+msg.stdid+'\"'+''\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":2600,"wires":[["b770e2ba.17ffa"]]},{"id":"b770e2ba.17ffa","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":410,"y":2600,"wires":[["ce654986.f13b58"]]},{"id":"ce654986.f13b58","type":"function","z":"b941852.db78a78","name":"回傳修改情形","func":"msg.payload={Inf:1}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":2600,"wires":[["51dd52c8.48352c"]]},{"id":"ec62372b.02df18","type":"comment","z":"b941852.db78a78","name":"個人資料頁面","info":"","x":110,"y":2220,"wires":[]},{"id":"7b583cb3.434e04","type":"comment","z":"b941852.db78a78","name":"修改資料頁面","info":"","x":110,"y":2440,"wires":[]},{"id":"be1ccb1e.a43048","type":"http in","z":"b941852.db78a78","name":"","url":"/switch","method":"post","upload":true,"swaggerDoc":"","x":110,"y":2820,"wires":[["9711fe2f.2a49a"]]},{"id":"d7cd55e7.0ee598","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":390,"y":2820,"wires":[]},{"id":"6b42b605.baf588","type":"template","z":"b941852.db78a78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x\" crossorigin=\"anonymous\">\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js\" integrity=\"sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js\" integrity=\"sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT\" crossorigin=\"anonymous\"></script>\n    <title>控制系統</title>\n</head>\n\n<body>\n    <div style=\"float:center;  text-align:center; margin-top: 10%;\">\n        <br><h1><b>智能插頭開關</b></h1>\n        <div class=\"d-grid gap-2 col-3 mx-auto\">\n            <button id=\"switchon\" type=\"button\" class=\"btn btn-secondary\" style=\"margin-top:10px\"><b>ON</b></button>\n        </div>\n        <div class=\"d-grid gap-2 col-3 mx-auto\">\n            <button id=\"switchoff\" type=\"button\" class=\"btn btn-secondary\" style=\"margin-top:10px\"><b>OFF</b></button>\n        </div>\n    </div>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/check_uid\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://127.0.0.1:1880/web/switch/js\"></script>\n</body>\n\n</html>","output":"str","x":310,"y":2720,"wires":[["67b4c98e.e524e8"]]},{"id":"74390191.f93f5","type":"http in","z":"b941852.db78a78","name":"","url":"/web/switch","method":"get","upload":false,"swaggerDoc":"","x":120,"y":2720,"wires":[["6b42b605.baf588"]]},{"id":"88913530.4c88f8","type":"template","z":"b941852.db78a78","name":"JS","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        check();\n\n        $(\"#switchon\").click(function()\n        {   \n            check_uid();\n            check();\n            switch_on();\n        })\n\n        $(\"#switchoff\").click(function()\n        {   \n            check_uid();\n            check();\n            switch_off();\n        })\n    }\n    \n)\n\nfunction check()\n{\n    window.check_flag = 0;\n    var API = \"http://127.0.0.1:1880/check\";\n    $.post\n    (\n        API,\n        {\n            Uid:window.uid\n        },\n        function(res)\n        {\n            window.inf=res.Inf;\n            window.inf_length = window.inf.length; \n            \n            var Tdate=new Date();\n            window.Tyear=Tdate.getFullYear();\n            window.Tmonth=Tdate.getMonth();\n            window.Tday=Tdate.getDate();\n            window.currrent_h=Tdate.getHours();\n            \n            var hour_index = [\"A\",\"B\",\"C\",\"D\",\"F\",\"G\",\"H\",\"I\"];\n            \n            if(window.currrent_h>=8 && window.currrent_h<=17)\n            {\n                if(window.currrent_h<12 && window.currrent_h>=8)\n                {\n                    var j = window.currrent_h-8;\n                }\n                if(window.currrent_h>=13 && window.currrent_h<18)\n                {\n                    var j = window.currrent_h-13+4;\n                }\n                window.current_index = hour_index[j];\n            }\n\n            for(i=0;i<window.inf_length;i++)\n            {\n                window.date_index = new Date(window.inf[i].Time);\n                var index = window.inf[i].lend.split(\"\");\n                var index_length = index.length;\n                for(k=0;k<index_length;k++)\n                {\n                    if(index[k] == window.current_index)\n                    {\n                        window.check_flag = 1;\n                    }\n                }\n            }\n\n            if(window.check_flag==0)\n            {\n                switch_off();\n                window.alert(\"目前非您的借閱時間\");\n                window.location.href=\"http://127.0.0.1:1880/web/home\";\n            }\n        }\n    )\n}\n\nfunction switch_on()\n{\n    var info=1;\n    var API =\"http://127.0.0.1:1880/switch\";\n    $.post\n        (\n            API,\n            {\n                Info:info\n            }\n        );\n}\n\nfunction switch_off()\n{\n    var info=0;\n    var API =\"http://127.0.0.1:1880/switch\";\n    $.post\n        (\n            API,\n            {\n                Info:info\n            }\n        );\n}\n\nfunction check_uid()\n{\n    var API = \"http://127.0.0.1:1880/web/check_uid\"\n            $.get\n            (\n                API\n            );\n}","output":"str","x":310,"y":2760,"wires":[["e7c5da50.1f8a18"]]},{"id":"47572f78.b7744","type":"http in","z":"b941852.db78a78","name":"","url":"/web/switch/js","method":"get","upload":false,"swaggerDoc":"","x":130,"y":2760,"wires":[["88913530.4c88f8"]]},{"id":"e7c5da50.1f8a18","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":430,"y":2760,"wires":[]},{"id":"67b4c98e.e524e8","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":430,"y":2720,"wires":[]},{"id":"9711fe2f.2a49a","type":"function","z":"b941852.db78a78","name":"search","func":"msg.info = msg.req.body.Info;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":2820,"wires":[["d7cd55e7.0ee598","7bf014da.665b4c"]]},{"id":"8010c4e1.eb0598","type":"kasa","z":"b941852.db78a78","name":"測試 - HS105(US)","device":"192.168.0.103","interval":60000,"eventInterval":15000,"payload":"getInfo","payloadType":"info","debug":false,"x":670,"y":2900,"wires":[[]]},{"id":"7bf014da.665b4c","type":"switch","z":"b941852.db78a78","name":"","property":"info","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":2900,"wires":[["d931f445.c98128"],["4bd741d2.e208f"]]},{"id":"d931f445.c98128","type":"function","z":"b941852.db78a78","name":"On","func":"msg.payload=true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":2880,"wires":[["8010c4e1.eb0598"]]},{"id":"4bd741d2.e208f","type":"function","z":"b941852.db78a78","name":"Off","func":"msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":2920,"wires":[["8010c4e1.eb0598"]]},{"id":"f1e500c6.16136","type":"http in","z":"b941852.db78a78","name":"","url":"/check","method":"post","upload":true,"swaggerDoc":"","x":110,"y":2980,"wires":[["a092d381.1c2bd"]]},{"id":"9129bc56.a617","type":"http response","z":"b941852.db78a78","name":"","statusCode":"","headers":{},"x":750,"y":2980,"wires":[]},{"id":"a092d381.1c2bd","type":"function","z":"b941852.db78a78","name":"篩選與搜尋","func":"msg.uid=msg.req.body.Uid\nmsg.topic='SELECT Time,lend FROM lending WHERE Student_ID = '+'\"'+msg.uid+'\"'+'AND Time = CURDATE()';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":2980,"wires":[["60549aa4.7f8664"]]},{"id":"60549aa4.7f8664","type":"mysql","z":"b941852.db78a78","mydb":"f1f3061f.90a568","name":"","x":430,"y":2980,"wires":[["a3b2dec7.463c5"]]},{"id":"a3b2dec7.463c5","type":"function","z":"b941852.db78a78","name":"回傳借閱情況","func":"msg.payload=\n{\n    Inf:msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":2980,"wires":[["9129bc56.a617"]]},{"id":"26c70bcb.1b95d4","type":"comment","z":"b941852.db78a78","name":"控制介面","info":"","x":100,"y":2660,"wires":[]},{"id":"f1f3061f.90a568","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"classroom","tz":"","charset":"UTF8"}]