Node-Red Json File/Node-Red-Json.json
[{"id":"66437526.042cbc","type":"tab","label":"學校網域-測試","disabled":true,"info":""},{"id":"ec9a964.8f23868","type":"http in","z":"66437526.042cbc","name":"","url":"/signin","method":"post","upload":true,"swaggerDoc":"","x":150,"y":120,"wires":[["56ea49d0.c550f8"]]},{"id":"689bfd80.d7efe4","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":770,"y":120,"wires":[]},{"id":"f8539f3c.0b9e3","type":"template","z":"66437526.042cbc","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n    <head>\n        <meta charset=\"utf-8\">\n        <title>登入-教室借閱系統</title>\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n        <style>\n            @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n.main{\n  width: 500px;\n  height: 420px;\n  margin-top: 120px;\n  margin-left: auto;\n  margin-right: auto;\n  background-color: white;\n  border-radius: 10px;\n}\nh5{\n  color: black;\n  font-size: 40px;\n  font-weight: 700;\n  text-align: center;\n  background-color: white;\n  padding-top: 20px;\n  border-radius: 10px;\n}\nform{\n  width: 50%;\n  text-align: center;\n  margin: auto;\n  background-color: white;\n}\ndiv form div{\n  margin-bottom: 20px;\n}\ndiv form div label{\n  display: block;\n  color: black;\n  font-size: 22px;\n  font-weight: 550;\n  text-align: left;\n}\n.form{\n  display: block;\n  width: 100%;\n  margin: 5px 0px 5px 0%;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 253, 253);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n  text-align: left;\n}\n.form_alart{\n  display: block;\n  width: 100%;\n  margin: 5px 0px 5px 0%;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 234, 234);\n  background-clip: padding-box;\n  border: 2px solid #ff3c3c;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n  text-align: left;\n}\n.nothing{\n  display: none;\n}\n.alarm{\n  color: rgb(255, 0, 0);\n  margin-left: 25px;\n  font-size: 16px;\n  font-weight: 500;\n  text-align: left;\n}\n.btn{\n  width: 80%;\n  margin: auto;\n  text-align: center;\n  border-bottom: rgb(182, 182, 182) 2px solid;\n}\nbutton{\n  display: block;\n  width: 60%;\n  margin-left: auto;\n  margin-right: auto;\n  margin-bottom: 10px;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 500;\n  line-height: 1.5;\n  color: #212529;\n  background-color: #d8d8d8;\n  background-clip: padding-box;\n  border: 2px solid #c5c5c5;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 10px;\n  text-align: center;\n  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n}\nbutton:hover{\n  background-color: #c9c9c9;\n  border: 2px solid #c9c9c9;\n}\n.areg{\n  width: 80%;\n  margin-left: auto;\n  margin-right: auto;\n  margin-top: 5px;\n  text-align: center;\n}\nh6{\n  display: inline;\n  color: rgb(110, 110, 110);\n  font-size: 16px;\n  font-weight: 600;\n}\na{\n  display: inline;\n  color: rgb(68, 177, 240);\n  font-weight: 600;\n}\n\n@media (max-width:430px) {\n  .main{\n    width: 350px;\n  }\n}\n        </style>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    </head>\n    <body style=\"background-color: #212529;\">\n        <div class=\"main\">\n            <label><h5>教室借閱系統登入</h5></label>\n            <form>\n                <div>\n                    <label for=\"std_id\">帳號 :</label>\n                    <input class=\"form\" id=\"std_id\" placeholder=\"帳號\">\n                    <div id=\"stdid_alarm\" class=\"nothing\">請輸入帳號</div>\n                </div>\n                <div>\n                    <label for=\"password\">密碼 :</label>\n                    <input class=\"form\" id=\"password\" placeholder=\"密碼\">\n                    <div id=\"password_alarm\" class=\"nothing\">請輸入密碼</div>\n                </div>\n            </form>\n            <div class=\"btn\">\n                <button id=\"signin\" type=\"button\"><b>登入</b></button>\n            </div>\n            <div class=\"areg\">\n                <label><h6>尚未註冊嗎?</h6></label>\n                <a href=\"http://140.125.217.135:1880/web/register\">立即註冊</a>\n            </div>\n        </div>\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://140.125.217.135:1880/web/signin/json\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://140.125.217.135:1880/web/signin/check_uid\"></script>\n\n    </body>\n</html>","output":"str","x":350,"y":220,"wires":[["a171219a.30a1c"]]},{"id":"5730dd90.9abdf4","type":"http in","z":"66437526.042cbc","name":"","url":"/web/signin","method":"get","upload":false,"swaggerDoc":"","x":160,"y":220,"wires":[["f8539f3c.0b9e3"]]},{"id":"c86e44ce.523568","type":"template","z":"66437526.042cbc","name":"JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {   \n        $(\"#signin\").click(function()\n        {   \n            var std_id = $(\"#std_id\").val();\n            var password = $(\"#password\").val();\n            var check=1;\n            if(!std_id)\n            {\n                check=0;\n                $(\"#std_id\").attr(\"class\",\"form_alart\");\n                $(\"#stdid_alarm\").attr(\"class\",\"alarm\");\n            }\n            else \n            {\n                $(\"#std_id\").attr(\"class\",\"form\");\n                $(\"#stdid_alarm\").attr(\"class\",\"nothing\");\n            }if(!password)\n            {\n                check=0;\n                $(\"#password\").attr(\"class\",\"form_alart\")\n                $(\"#password_alarm\").attr(\"class\",\"alarm\");\n            }\n            else \n            {\n                $(\"#password\").attr(\"class\",\"form\")\n                $(\"#password_alarm\").attr(\"class\",\"nothing\");\n            }\n            if(check==1)\n            {\n                var API = \"http://140.125.217.135:1880/signin\";\n                $.post\n                (\n                    API,\n                    {\n                        Std_id:std_id,\n                        Password:password\n                    },\n                    function(res)\n                    {\n                        const info=res.Info;\n                        const status=res.Status;\n                        const access=res.Access;\n                        console.log(info);\n                        if (info == 0)\n                        {\n                            window.alert(\"帳號或密碼錯誤。\");\n                        }\n                        else\n                        {\n                            if(status == 1)\n                            {\n                                var API = \"http://140.125.217.135:1880/web/signin/add_uid\";\n                                $.post\n                                    (\n                                        API,\n                                        {\n                                          Std_id:std_id  \n                                        }\n                                    );\n                                window.location.href=\"http://140.125.217.135:1880/web/home\";\n                            }\n                            else\n                            {\n                                window.alert(\"帳號尚未認證，請去信箱認證\\n認證碼:\"+access);\n                            }\n                        }\n                    }\n                );\n            }              \n        })\n    }\n)\n","output":"str","x":350,"y":260,"wires":[["4d0c48ac.7374a8"]]},{"id":"768a4fd4.32a7c","type":"http in","z":"66437526.042cbc","name":"","url":"/web/signin/json","method":"get","upload":false,"swaggerDoc":"","x":180,"y":260,"wires":[["c86e44ce.523568"]]},{"id":"56ea49d0.c550f8","type":"function","z":"66437526.042cbc","name":"查詢值","func":"msg.check=0;\nmsg.stdid = msg.req.body.Std_id;\nmsg.password = msg.req.body.Password;\nmsg.topic='SELECT Password AS info FROM student WHERE Student_ID = '+'\"'+msg.stdid+'\"'+' UNION SELECT Status AS info FROM student WHERE Student_ID = '+'\"'+msg.stdid+'\"'+' UNION SELECT Access FROM access WHERE Student_ID = '+'\"'+msg.stdid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":120,"wires":[["38785230.f80fce"]]},{"id":"38785230.f80fce","type":"mysql","z":"66437526.042cbc","mydb":"f1f3061f.90a568","name":"","x":470,"y":120,"wires":[["2094569c.ec601a"]]},{"id":"2094569c.ec601a","type":"function","z":"66437526.042cbc","name":"","func":"var check=msg.payload[0].info;\nvar status=msg.payload[1].info;\nvar access=msg.payload[2].info;\nif (msg.password == check)\n    {\n        msg.check=1;\n        msg.payload={\"Info\":1,\"Status\":status,\"Access\":access};\n    }\nelse\n    {\n        msg.payload={\"Info\":0};\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":120,"wires":[["689bfd80.d7efe4"]]},{"id":"4d0c48ac.7374a8","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":490,"y":260,"wires":[]},{"id":"a171219a.30a1c","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":490,"y":220,"wires":[]},{"id":"7be3fb2f.c1e414","type":"http in","z":"66437526.042cbc","name":"","url":"/web/signin/check_uid","method":"get","upload":false,"swaggerDoc":"","x":190,"y":360,"wires":[["c075dae.1fcd328"]]},{"id":"c075dae.1fcd328","type":"template","z":"66437526.042cbc","name":"JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n        {\n            var inf = Cookies.get(\"uid\");\n            console.log(inf);\n            if (inf)\n            {\n                window.location.href=\"http://140.125.217.135:1880/web/lend\";\n            }\n            else\n            {\n                console.log(\"No\");\n            }\n        }\n    )","output":"str","x":390,"y":360,"wires":[["5c792457.def91c"]]},{"id":"5c792457.def91c","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":530,"y":360,"wires":[]},{"id":"cdc92ba.38aa3d8","type":"http in","z":"66437526.042cbc","name":"","url":"/web/signin/add_uid","method":"post","upload":true,"swaggerDoc":"","x":190,"y":460,"wires":[["30db5702.396798"]]},{"id":"f3a39946.186c58","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":910,"y":460,"wires":[]},{"id":"9f0c9cc1.48c4d","type":"function","z":"66437526.042cbc","name":"Add a cookie","func":"msg.cookies = {\n    uid: \n    {\n        value: msg.stdid,\n        maxAge: 1800000\n    }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":460,"wires":[["2f62b288.6ba02e"]]},{"id":"2f62b288.6ba02e","type":"change","z":"66437526.042cbc","name":"Redirect to /set","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/web/signin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":460,"wires":[["f3a39946.186c58"]]},{"id":"30db5702.396798","type":"function","z":"66437526.042cbc","name":"查詢值","func":"msg.stdid = msg.req.body.Std_id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":460,"wires":[["9f0c9cc1.48c4d"]]},{"id":"870e7531.e83048","type":"function","z":"66437526.042cbc","name":"","func":"msg.payload={\"Info\":0};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":180,"wires":[["689bfd80.d7efe4"]]},{"id":"78e9779e.ff3348","type":"comment","z":"66437526.042cbc","name":"檢查cookie是否有uid","info":"","x":170,"y":320,"wires":[]},{"id":"f41d1218.00c19","type":"comment","z":"66437526.042cbc","name":"建立cookie","info":"","x":140,"y":420,"wires":[]},{"id":"1b8d31b.9828cce","type":"catch","z":"66437526.042cbc","name":"","scope":["2094569c.ec601a"],"uncaught":false,"x":470,"y":180,"wires":[["870e7531.e83048"]]},{"id":"108d89cb.3fd696","type":"comment","z":"66437526.042cbc","name":"登入","info":"","x":130,"y":60,"wires":[]},{"id":"20f3227.72b19de","type":"http in","z":"66437526.042cbc","name":"","url":"/register","method":"post","upload":true,"swaggerDoc":"","x":150,"y":600,"wires":[["69bcf319.faffdc"]]},{"id":"e701edeb.1fbc9","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":810,"y":600,"wires":[]},{"id":"69bcf319.faffdc","type":"function","z":"66437526.042cbc","name":"確認帳號","func":"msg.name = msg.req.body.Name;\nmsg.stdid = msg.req.body.Std_id;\nmsg.password = msg.req.body.Password;\nmsg.phone = msg.req.body.Phone;\nmsg.email = msg.req.body.Email;\nmsg.key = msg.req.body.Key;\nmsg.topic = 'SELECT * FROM student WHERE Student_ID = '+'\"'+msg.stdid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":600,"wires":[["267b2b52.666a94"]]},{"id":"267b2b52.666a94","type":"mysql","z":"66437526.042cbc","mydb":"f1f3061f.90a568","name":"","x":490,"y":600,"wires":[["273277b4.d15b58"]]},{"id":"3c655ee8.08dd22","type":"template","z":"66437526.042cbc","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n    <head>\n        <meta charset=\"utf-8\">\n        <title>註冊-教室借閱系統</title>\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n        <style>\n            @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n.main{\n  width: 450px;\n  height: 650px;\n  margin-top: 40px;\n  margin-left: auto;\n  margin-right: auto;\n  margin-bottom: 50px;\n  padding:20px 5px 0px 5px;\n  text-align: center;\n  background-color: white;\n  border-radius: 20px;\n}\ndiv label h5{\n  color: black;\n  font-size: 36px;\n  font-weight: 700;\n  border-radius: 10px;\n}\ntable{\n  overflow-x: auto;\n  white-space: nowrap;\n  width: 300px;\n  height: 390px;\n  margin: auto;\n  color: #212529;\n  text-align: center;\n}\ntr{\n  height: 70px;\n}\n.form{\n  display: block;\n  width: 90%;\n  margin: 5px 0px 5px 5%;\n  padding: .275rem .75rem;\n  font-size: 13px;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 253, 253);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n}\n.form_alart{\n  display: block;\n  width: 90%;\n  margin: 5px 0px 5px 5%;\n  padding: .275rem .75rem;\n  font-size: 13px;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 234, 234);\n  background-clip: padding-box;\n  border: 2px solid #ff3c3c;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n}\n.form_repeated{\n  display: block;\n  width: 90%;\n  margin: 5px 0px 5px 5%;\n  padding: .275rem .75rem;\n  font-size: 13px;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 234, 234);\n  background-clip: padding-box;\n  border: 2px solid rgb(255, 115, 0);\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n}\nth{\n  font-size: 18px;\n  font-weight: 600;\n  text-align: left;\n  border-bottom: 1px solid #ddd;\n  width: 50px;\n}\ntd{\n  font-size: 20px;\n  font-weight: 600;\n  border-bottom: 1px solid #ddd;\n}\n#btnsend{\n  display: inline;\n  width: 200px;\n  margin:15px 5px 0 5px;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 500;\n  line-height: 1.5;\n  color: #212529;\n  background-color: #e9e9e9;\n  background-clip: padding-box;\n  border: 2px solid #dfdfdf;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 10px;\n  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n}\n#btnsend:hover{\n  background-color: #c9c9c9;\n  border: 2px solid #c9c9c9;\n}\n.nothing,.unrepeated{\n  display: none;\n}\n.alarm{\n  color: rgb(255, 0, 0);\n  margin-left: 20px;\n  font-size: 16px;\n  font-weight: 500;\n  text-align: left;\n}\n.repeated{\n  color: rgb(255, 115, 0);\n  margin-left: 20px;\n  font-size: 16px;\n  font-weight: 500;\n  text-align: left;\n}\n@media (max-width: 430px){\n  .main{\n    width: 330px;\n  }\n  table{\n    width: 300px;\n  }\n  .alarm{\n    margin-left: 15px;\n  }\n  .form,.form_alart{\n    width: 95%;\n  }\n}\n        </style>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    </head>\n    <body style=\"background-color: #212529;\">\n        <div class=\"main\">\n            <label><h5>註冊</h5></label>\n            <table>\n                <tbody>\n                  <tr>\n                    <th scope=\"row\">姓名</th>\n                    <td>\n                        <input class=\"form\" id=\"name\">\n                        <div id=\"name_alarm\" class=\"nothing\">此欄不可空白</div>\n                    </td>\n                  <tr>\n                    <th scope=\"row\">學號(帳號)</th>\n                    <td>\n                        <input class=\"form\" id=\"stdid\">\n                        <div id=\"stdid_alarm\" class=\"nothing\">此欄不可空白</div>\n                        <div id=\"repeat\" class=\"unrepeated\">此帳號已被註冊</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <th scope=\"row\">密碼</th>\n                    <td>\n                        <input class=\"form\" id=\"password\">\n                        <div id=\"password_alarm\" class=\"nothing\">此欄不可空白</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <th scope=\"row\">確認密碼</th>\n                    <td>\n                        <input class=\"form\" id=\"check\">\n                        <div id=\"check_alarm\" class=\"nothing\">此欄不可空白</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <th scope=\"row\">電話</th>\n                    <td>\n                        <input class=\"form\" id=\"phone\">\n                        <div id=\"phone_alarm\" class=\"nothing\">此欄不可空白</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <th scope=\"row\">信箱</th>\n                    <td>\n                        <input class=\"form\" id=\"email\">\n                        <div id=\"email_alarm\" class=\"nothing\">此欄不可空白</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <th scope=\"row\">金鑰</th>\n                    <td>\n                        <input class=\"form\" id=\"key\">\n                        <div id=\"key_alarm\" class=\"nothing\">此欄不可空白</div>\n                    </td>\n                  </tr>\n                </tbody>\n            </table>\n            <button class=\"btn\" id=\"btnsend\" type=\"button\">確定註冊</button>\n          </div>\n          <script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n          <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n          <script src=\"http://140.125.217.135:1880/web/register/json\"></script>\n    </body>\n</html>","output":"str","x":350,"y":720,"wires":[["7495e1d6.9e256"]]},{"id":"a3f9ad74.2bb1d","type":"http in","z":"66437526.042cbc","name":"","url":"/web/register","method":"get","upload":false,"swaggerDoc":"","x":170,"y":720,"wires":[["3c655ee8.08dd22"]]},{"id":"7495e1d6.9e256","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":470,"y":720,"wires":[]},{"id":"a08890f0.28e73","type":"template","z":"66437526.042cbc","name":"JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(function()\n    {\n        $(\"#btnsend\").click(function()\n        {   \n            var name = $(\"#name\").val();\n            var std_id = $(\"#stdid\").val();\n            var password = $(\"#password\").val();\n            var check =$(\"#check\").val();\n            var phone = $(\"#phone\").val();\n            var email = $(\"#email\").val();\n            var key = $(\"#key\").val();\n            var inf=[name,std_id,password,check,phone,email,key];\n            var inf_id=[\"#name\",\"#stdid\",\"#password\",\"#check\",\"#phone\",\"#email\",\"#key\"];\n            var inf_alarm=[\"#name_alarm\",\"#stdid_alarm\",\"#password_alarm\",\"#check_alarm\",\"#phone_alarm\",\"#email_alarm\",\"#key_alarm\"];\n            var inputcheck=1;\n            $(\"#stdid\").attr(\"class\",\"form\");\n            $(\"#repeat\").attr(\"class\",\"unrepeated\");\n            for( var i=0;i<7;i++)\n            {\n                if(!inf[i])\n                {\n                    inputcheck=0;\n                    $(inf_id[i]).attr(\"class\",\"form_alart\");\n                    $(inf_alarm[i]).attr(\"class\",\"alarm\");\n                }\n                else\n                {\n                    $(inf_id[i]).attr(\"class\",\"form\");\n                    $(inf_alarm[i]).attr(\"class\",\"nothing\");\n                }\n            }\n            if(inputcheck==1)\n            {\n                if(password==check)\n                {\n                    var API = \"http://140.125.217.135:1880/register\";\n                    $.post\n                    (\n                    API,\n                    {\n                        Name:name,\n                        Std_id:std_id,\n                        Password:password,\n                        Phone:phone,\n                        Email:email,\n                        Key:key\n                    },\n                    function(res)\n                    {\n                        const info=res.Info;\n                        if (info == 0)\n                        {\n                            window.alert(\"註冊金鑰錯誤。\");\n                        }\n                        else if(info == 2)\n                        {\n                            $(\"#stdid\").attr(\"class\",\"form_repeated\");\n                            $(\"#repeat\").attr(\"class\",\"repeated\");\n                        }\n                        else\n                        {\n                            const access=res.Access;\n                            alert(\"註冊成功，認證碼:\"+access+\"\\n請去信箱認證。\");\n                            window.location.href=\"http://140.125.217.135:1880/web/signin\";\n                        }\n                    }\n                    );\n                }\n                else\n                {\n                    alert(\"確認密碼與密碼不合!\");\n                }\n                \n            }            \n        })\n    }\n)","output":"str","x":350,"y":760,"wires":[["67976abd.25ec94"]]},{"id":"9959249a.ef25d8","type":"http in","z":"66437526.042cbc","name":"","url":"/web/register/json","method":"get","upload":false,"swaggerDoc":"","x":180,"y":760,"wires":[["a08890f0.28e73"]]},{"id":"67976abd.25ec94","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":470,"y":760,"wires":[]},{"id":"273277b4.d15b58","type":"function","z":"66437526.042cbc","name":"Feedback","func":"if(msg.stdid==msg.payload[0].Student_ID) \n{\n    msg.payload={\"Info\":2};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":600,"wires":[["e701edeb.1fbc9"]]},{"id":"6349a248.75f47c","type":"mysql","z":"66437526.042cbc","mydb":"f1f3061f.90a568","name":"","x":830,"y":660,"wires":[[]]},{"id":"55fb2e23.abb8b","type":"function","z":"66437526.042cbc","name":"寄信","func":"if (msg.key == 123)\n    {\n        msg.to = msg.email;\n        msg.topic = '帳號開通通知';\n        msg.payload = '請輸入認證碼:'+msg.access+'\\n'+'http://140.125.217.135:1880/web/authentication';\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":720,"wires":[["2db5fe36.e11c32"]]},{"id":"2db5fe36.e11c32","type":"e-mail","z":"66437526.042cbc","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"","x":950,"y":720,"wires":[]},{"id":"d3512d56.6c31a","type":"catch","z":"66437526.042cbc","name":"","scope":["273277b4.d15b58"],"uncaught":false,"x":490,"y":660,"wires":[["d65ba851.a7ad38"]]},{"id":"d65ba851.a7ad38","type":"function","z":"66437526.042cbc","name":"上傳","func":"msg.access = Math.floor(Math.random()*5000)+1000;\nif (msg.key == 123)\n{\n    msg.topic = 'INSERT INTO student(Student_ID,Name,Password,Phone,Email,Status) values('+'\"'+msg.stdid+'\"'+','+'\"'+msg.name+'\"'+','+'\"'+msg.password+'\"'+','+'\"'+msg.phone+'\"'+','+'\"'+msg.email+'\"'+',0);INSERT INTO access(Student_ID,Access) VALUES('+'\"'+msg.stdid+'\"'+','+msg.access+')';\n    msg.payload={\"Info\":1,\"Access\":msg.access};\n}\nelse\n{\n    msg.payload={\"Info\":0};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":660,"wires":[["6349a248.75f47c","55fb2e23.abb8b","e701edeb.1fbc9"]]},{"id":"25331a41.4e08c6","type":"http in","z":"66437526.042cbc","name":"","url":"/authentication","method":"post","upload":false,"swaggerDoc":"","x":170,"y":880,"wires":[["4b9307d6.f21a78"]]},{"id":"c5ecda6d.4236a8","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":870,"y":940,"wires":[]},{"id":"1f843bff.9792d4","type":"http in","z":"66437526.042cbc","name":"","url":"/web/authentication","method":"get","upload":false,"swaggerDoc":"","x":190,"y":980,"wires":[["ea21c919.5626c8"]]},{"id":"10a33996.86c726","type":"http in","z":"66437526.042cbc","name":"","url":"/web/authentication/json","method":"get","upload":false,"swaggerDoc":"","x":200,"y":1020,"wires":[["4aac485b.7ad098"]]},{"id":"a502e354.a6ca7","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":550,"y":980,"wires":[]},{"id":"59ec01d9.4117c","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":550,"y":1020,"wires":[]},{"id":"ea21c919.5626c8","type":"template","z":"66437526.042cbc","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n    <head>\n        <meta charset=\"utf-8\">\n        <title>Responsive Navigation Menu</title>\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n        <style>\n            @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n.main{\n  width: 400px;\n  height: 250px;\n  margin-top: 200px;\n  margin-left: auto;\n  margin-right: auto;\n  padding:20px 5px 0px 5px;\n  text-align: center;\n  background-color: white;\n  border-radius: 20px;\n}\ndiv label h5{\n  color: black;\n  font-size: 36px;\n  font-weight: 700;\n  border-radius: 10px;\n}\ntable{\n  overflow-x: auto;\n  white-space: nowrap;\n  width: 200px;\n  height: 370px;\n  margin: auto;\n  color: #212529;\n  text-align: center;\n}\n.form{\n  display: block;\n  width: 40%;\n  margin-top: 20px;\n  margin-left: auto;\n  margin-right: auto;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 253, 253);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n}\n.form_alart{\n  display: block;\n  width: 40%;\n  margin-top: 20px;\n  margin-left: auto;\n  margin-right: auto;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 234, 234);\n  background-clip: padding-box;\n  border: 2px solid #ff3c3c;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n}\nth{\n  font-size: 20px;\n  font-weight: 600;\n  text-align: left;\n  border-bottom: 1px solid #ddd;\n  width: 50px;\n}\ntd{\n  font-size: 20px;\n  font-weight: 600;\n  border-bottom: 1px solid #ddd;\n}\n#check{\n  display: inline;\n  width: 100px;\n  margin:15px 5px 0 5px;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 500;\n  line-height: 1.5;\n  color: #212529;\n  background-color: #e9e9e9;\n  background-clip: padding-box;\n  border: 2px solid #dfdfdf;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 10px;\n  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n}\n#check:hover{\n  background-color: #c9c9c9;\n  border: 2px solid #c9c9c9;\n}\n.nothing{\n  display: none;\n}\n.alarm{\n  color: rgb(255, 0, 0);\n  margin-left: 120px;\n  font-size: 16px;\n  font-weight: 500;\n  text-align: left;\n}\n@media (max-width: 430px){\n  .main{\n    width: 330px;\n  }\n  table{\n    width: 280px;\n  }\n  .alarm{\n    margin-left: 100px;\n  }\n}\n        </style>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    </head>\n    <body style=\"background-color: #212529;\">\n        <div class=\"main\">\n            <label><h5>帳號認證</h5></label>\n            <form>\n                <div>\n                    <input id=\"authentication\" class=\"form\" placeholder=\"請輸入認證碼\">\n                    <div id=\"auth_alarm\" class=\"nothing\">請輸入認證碼</div>\n                </div>\n            </form>\n            <button id=\"check\" type=\"button\"><b>認證</b></button>\n        </div>\n        <script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n        <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://140.125.217.135:1880/web/authentication/json\"></script>\n\n    </body>\n</html>","output":"str","x":410,"y":980,"wires":[["a502e354.a6ca7"]]},{"id":"4aac485b.7ad098","type":"template","z":"66437526.042cbc","name":"JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(\n    function()\n    {\n        $(\"#check\").click(function()\n        {   \n            var authentication= $(\"#authentication\").val();  \n            var API = \"http://140.125.217.135:1880/authentication\";\n            console.log(authentication);\n            if(authentication)\n            {\n                $(\"#authentication\").attr(\"class\",\"form\");\n                $(\"#auth_alarm\").attr(\"class\",\"nothing\");\n                $.post\n                (\n                    API,\n                    {\n                        Authentication:authentication\n                    },\n                    function(res)\n                    {\n                        const check=res.Check;\n                        if (check == 1)\n                        {\n                            window.alert(\"認證成功!\");\n    \n                        }\n                        else\n                        {\n                            window.alert(\"認證失敗，無此認證碼。\");\n                        }\n                    }\n                );   \n            }\n            else\n            {\n                $(\"#authentication\").attr(\"class\",\"form_alart\");\n                $(\"#auth_alarm\").attr(\"class\",\"alarm\");\n            }\n        })\n    }\n)","output":"str","x":410,"y":1020,"wires":[["59ec01d9.4117c"]]},{"id":"4b9307d6.f21a78","type":"function","z":"66437526.042cbc","name":"","func":"msg.authentication = msg.req.body.Authentication;\nmsg.topic='SELECT * FROM access';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":880,"wires":[["91308720.8e5fb8"]]},{"id":"91308720.8e5fb8","type":"mysql","z":"66437526.042cbc","mydb":"f1f3061f.90a568","name":"","x":570,"y":880,"wires":[["6a5a4362.89037c"]]},{"id":"6a5a4362.89037c","type":"function","z":"66437526.042cbc","name":"辨認","func":"var length = msg.payload.length;\nmsg.check=0;\nfor (i=0;i<length+1;i++)\n{\n    if ( msg.payload[i].Access == msg.authentication )\n        {\n            msg.check=1;\n            msg.uid=msg.payload[i].Student_ID;\n            break;\n        }\n}\nmsg.payload={\"Check\":msg.check};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":880,"wires":[["c5ecda6d.4236a8","7e51e4f7.d0f67c"]]},{"id":"9f546cc8.de55d","type":"function","z":"66437526.042cbc","name":"","func":"msg.payload={\"Check\":0};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":940,"wires":[["c5ecda6d.4236a8"]]},{"id":"71046108.a363a","type":"catch","z":"66437526.042cbc","name":"","scope":["6a5a4362.89037c"],"uncaught":false,"x":570,"y":940,"wires":[["9f546cc8.de55d"]]},{"id":"95f0eaf7.ab2f18","type":"function","z":"66437526.042cbc","name":"","func":"msg.topic='UPDATE student SET Status = 1 WHERE Student_ID = '+'\"'+msg.uid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":880,"wires":[["9006a8ea.549be8"]]},{"id":"9006a8ea.549be8","type":"mysql","z":"66437526.042cbc","mydb":"f1f3061f.90a568","name":"","x":1170,"y":880,"wires":[[]]},{"id":"7e51e4f7.d0f67c","type":"switch","z":"66437526.042cbc","name":"","property":"check","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":880,"wires":[["95f0eaf7.ab2f18"]]},{"id":"df8f3863.d07758","type":"comment","z":"66437526.042cbc","name":"註冊","info":"","x":130,"y":540,"wires":[]},{"id":"35709f2a.26b62","type":"comment","z":"66437526.042cbc","name":"認證","info":"","x":130,"y":820,"wires":[]},{"id":"196f9fe8.072c1","type":"template","z":"66437526.042cbc","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n   <head>\n      <meta charset=\"utf-8\">\n      <title>預約教室-教室借閱系統</title>\n      <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n      <style>\n         @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n#topic{\n  font-size: 40px;\n  font-weight: 400;\n  padding-left: 50px;\n  padding-top: 50px;\n}\n#user_name{\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n  padding-right: 15px;\n}\nnav{\n  height: 80px;\n  background-color:#212529;\n  display: flex;\n  align-items: center;\n  justify-content: space-between;\n  padding: 0px 50px 0px 50px;\n}\n\nnav .logo{\n  font-size: 40px;\n  color: rgba(196, 95, 0, 0.993);\n  font-weight: 600;\n}\nnav ul{\n  display: flex;\n  list-style: none;\n}\nnav ul li,nav ul label{\n  margin: 0 10px;\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav ul li a,nav ul li label{\n  color: white;\n  text-decoration: none;\n  font-size: 18px;\n  font-weight: 500;\n  letter-spacing: 1px;\n  padding: 8px 15px;\n  border-radius: 5px;\n}\nnav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n  background-color:white;\n  color: #212529;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav .menu-btn i{\n  color: white;\n  font-size: 32px;\n  cursor: pointer;\n  display: none;\n}\n#click{\n  display: none;\n}\n/* 以上是menu設定\n以下是預約設定 */\n\n.main{\n  display: block;\n  margin-top: 30px;\n  margin-left: 15%;\n  width: 70%;\n  text-align: center;\n}\ndiv label h5{\n  color: black;\n  font-size: 26px;\n  font-weight: 700;\n}\n#selectdate{\n  display: block;\n  width: 30%;\n  height:40px;\n  margin: 10px 0px 20px 35%;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 253, 253);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  appearance: none;\n  border-radius: 10px;\n  text-align: center;\n  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\n#selectdate:hover{\n  color: #212529;\n  background-color: rgb(243, 243, 243);\n}\ndiv form input{\n  display: none;\n}\ndiv form label{\n  display: inline-block;\n  width: 200px;\n  font-weight: 400;\n  margin:15px 5px 5px 5px;\n  line-height: 2;\n  color: #212529;\n  text-align: center;\n  text-decoration: none;\n  vertical-align: middle;\n  cursor: pointer;\n  -webkit-user-select: none;\n  -moz-user-select: none;\n  user-select: none;\n  background-color: white;\n  border: 2px solid rgb(52, 99, 255);\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  border-radius: 10px;\n  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\ndiv form input:disabled+label{\n  background-color: rgba(238, 238, 238, 0.7);\n  border: 2px solid rgba(238, 238, 238, 0.7);\n  color: rgba(0, 0, 0, 0.7);\n}\ndiv form label:hover,div form input:checked+label{\n  color: #ffffff;\n  background-color: rgb(52, 99, 255);\n  transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\n#btnset{\n  display: inline-block;\n  width: 100px;\n  font-weight: 400;\n  margin-top: 10px;\n  line-height: 1.5;\n  color: #212529;\n  text-align: center;\n  text-decoration: none;\n  vertical-align: middle;\n  cursor: pointer;\n  -webkit-user-select: none;\n  -moz-user-select: none;\n  user-select: none;\n  background-color: #bdbdbd;\n  border: 2px solid #bdbdbd;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  border-radius: 10px;\n  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\n#btnset:hover{\n  color: #000000;\n  background-color: rgb(131, 131, 131);\n  border-color: rgb(131, 131, 131);\n}\n\n@media (max-width:1090px) {\n  #user_name{\n    color: white;\n    font-size: 18px;\n    font-weight: 500;\n    padding-right: 0;\n  }\n  nav{\n    height: 80px;\n    background-color: #212529;\n    display: flex;\n    align-items: center;\n    justify-content: space-between;\n    padding: 0px 30px 0px 30px;\n  }\n  nav .menu-btn i{\n    display: block;\n  }\n  #click:checked ~ .menu-btn i::before{\n    content: \"\\f00d\";\n  }\n  nav ul{\n    position: fixed;\n    top: 80px;\n    left: -100%;\n    background-color: #111;\n    height: 100vh;\n    width: 100%;\n    display: block;\n    text-align: center;\n    transition: all 0.3s ease;\n  }\n  #click:checked ~ ul{\n    left: 0%;\n  }\n  nav ul li,nav ul label{\n    margin: 40px 0;\n    color: white;\n    font-size: 22px;\n  }\n  nav ul li a,nav ul li label,#user_name{\n    font-size: 22px;\n    display: block;\n  }\n  nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n    background-color: #111;\n    color: rgba(196, 95, 0, 0.993);\n    font-size: 22px;\n  }\n\n  /* 以上是menu設定\n以下是預約設定 */\n.main{\n  display: block;\n  margin: 20px 15% 0px 15%;\n  text-align: center;\n}\ndiv label h5{\n  color: black;\n  font-size: 20px;\n  font-weight: 700;\n}\n}\n@media (max-width:420px) {\n.main{\n  display: block;\n  width: auto;\n  margin: 20px 5% 0px 5%;\n  text-align: center;\n}\n#selectdate{\n  display: block;\n  width: 60%;\n  margin: 5px 10% 10px 20%;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 253, 253);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 10px;\n  text-align: center;\n  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\ndiv form label{\n  display: inline-block;\n  width: 180px;\n  font-weight: 400;\n  margin:5px 5px 5px 5px;\n  line-height: 2;\n  color: #212529;\n  text-align: center;\n  text-decoration: none;\n  vertical-align: middle;\n  cursor: pointer;\n  -webkit-user-select: none;\n  -moz-user-select: none;\n  user-select: none;\n  background-color: white;\n  border: 2px solid rgb(52, 99, 255);\n  padding: .375rem .75rem;\n  font-size: 16px;\n  border-radius: 10px;\n  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n}\ndiv form label{\n  display: inline-block;\n  width: 150px;\n  font-weight: 400;\n  margin:15px 5px 5px 5px;\n  line-height: 2;\n  color: #212529;\n  padding: .375rem .75rem;\n  font-size: 15PX;\n}\ndiv form label:hover{\n  color: #000000;\n  background-color: white;\n  border: 2px solid rgb(52, 99, 255);\n}\n}\n      </style>\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n   </head>\n   <body>\n      <nav>\n         <div class=\"logo\">教室借閱系統</div>\n         <input type=\"checkbox\" id=\"click\">\n         <label for=\"click\" class=\"menu-btn\">\n            <i class=\"fas fa-bars\"></i>\n         </label>\n         <ul>\n            <label id=\"user_name\">林昌毅</label>\n            <li><a href=\"http://140.125.217.135:1880/web/home\">首頁</a></li>\n            <li><a class=\"active\" href=\"http://140.125.217.135:1880/web/lend\">預約教室</a></li>\n            <li><a href=\"http://140.125.217.135:1880/web/lending\">預約中</a></li>\n            <li><a href=\"http://140.125.217.135:1880/web/information\">個人資料</a></li>\n            <li><label id=\"signout\">登出</label></li>\n         </ul>\n      </nav>\n      <div class=\"main\">\n        <label><h5>預約日期</h5></label>\n        <input type=\"date\" id=\"selectdate\" min=\"2021-5-24\" placeholder=\"請選擇日期\">\n        <label><h5>預約時段</h5></label>\n        <form name=\"myform\" >\n          <input type=\"checkbox\" id=\"myCheck1\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"First\">\n          <label id=\"myCheck1_lb\" for=\"myCheck1\">AM 08:10-AM 09:00</label>\n          <input type=\"checkbox\" id=\"myCheck2\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Second\">\n          <label id=\"myCheck2_lb\" for=\"myCheck2\">AM 09:10-AM 10:00</label>\n          <br>\n          <input type=\"checkbox\" id=\"myCheck3\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Third\">\n          <label id=\"myCheck3_lb\" for=\"myCheck3\">AM 10:10-AM 11:00</label>\n          <input type=\"checkbox\" id=\"myCheck4\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Forth\">\n          <label id=\"myCheck4_lb\" for=\"myCheck4\">AM 11:10-PM 12:00</label>\n          <br>\n          <input type=\"checkbox\" id=\"myCheck5\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Fifth\">\n          <label id=\"myCheck5_lb\" for=\"myCheck5\">PM 01:10-PM 02:00</label>\n          <input type=\"checkbox\" id=\"myCheck6\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Sixth\">\n          <label id=\"myCheck6_lb\" for=\"myCheck6\">PM 02:10-PM 03:00</label>\n          <br>\n          <input type=\"checkbox\" id=\"myCheck7\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Seventh\">\n          <label id=\"myCheck7_lb\" for=\"myCheck7\">PM 03:10-PM 04:00</label>\n          <input type=\"checkbox\" id=\"myCheck8\" class=\"btn-check\" autocomplete=\"off\" name=\"mycheck\" value=\"Eighth\">\n          <label id=\"myCheck8_lb\" for=\"myCheck8\">PM 04:10-PM 05:00</label>\n          <br>\n          </form>\n          <button id=\"btnset\" class=\"btn btn-secondary\" type=\"button\"><b>確定借閱</b></button>\n      </div>\n      <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n      <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n      <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://140.125.217.135:1880/web/lend/json\"></script>\n      <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://140.125.217.135:1880/web/check_uid\"></script>\n\n   </body>\n</html>","output":"str","x":350,"y":1440,"wires":[["546fdc31.c6c574"]]},{"id":"19038a6b.2035c6","type":"http in","z":"66437526.042cbc","name":"","url":"/web/lend","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1440,"wires":[["196f9fe8.072c1"]]},{"id":"6b63dad6.b43af4","type":"template","z":"66437526.042cbc","name":"JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        //當日的年月日\n        var Today = new Date();\n        var today_year = Today.getFullYear();\n        var today_month = Today.getMonth()+1;\n        var today_day = Today.getDate()+1;\n        if(today_day<10)\n        { \n            today_day='0'+today_day;\n        } \n        if(today_month<10)\n        { \n            today_month='0'+today_month; \n        } \n        window.today = today_year+\"-\"+today_month+\"-\"+today_day;\n        document.getElementById(\"selectdate\").setAttribute(\"min\", window.today); \n        //初始化\n        window.date_checked=0;\n\n        //登出\n        $(\"#signout\").click(function()\n        {   \n            var API = \"http://140.125.217.135:1880/delete_uid\";\n            $.get\n                (API);\n            window.location.href=\"http://140.125.217.135:1880/web/signin\"\n        })\n\n        //確認時間\n        $(\"#selectdate\").change(function()\n        {\n            //檢查逾時\n            var API = \"http://140.125.217.135:1880/web/check_uid\";\n            $.get\n            (\n                API\n            );\n            \n            //重新初始化選單\n            window.date_checked=1;\n            window.time_checked=0;\n            var id_list=[\"#myCheck1\",\"#myCheck2\",\"#myCheck3\",\"#myCheck4\",\"#myCheck5\",\"#myCheck6\",\"#myCheck7\",\"#myCheck8\"];\n            var label_id_list=[\"#myCheck1_lb\",\"#myCheck2_lb\",\"#myCheck3_lb\",\"#myCheck4_lb\",\"#myCheck5_lb\",\"#myCheck6_lb\",\"#myCheck7_lb\",\"#myCheck8_lb\"];\n            for(i=0;i<8;i++)\n            {\n                document.myform.mycheck[i].checked = false;\n            }\n            for(i=0;i<8;i++)\n            {\n                $(id_list[i]).attr(\"disabled\",false);\n            }\n            var Time = document.getElementById(\"selectdate\").value;\n            var API=\"http://140.125.217.135:1880/check_time\";\n            window.time=Time;\n            $.post\n                (\n                    API,\n                    {\n                        Time:window.time\n                    },\n                    function(res)\n                    {\n                        var id_list=[\"#myCheck1\",\"#myCheck2\",\"#myCheck3\",\"#myCheck4\",\"#myCheck5\",\"#myCheck6\",\"#myCheck7\",\"#myCheck8\"];\n                        var label_id_list=[\"#myCheck1_lb\",\"#myCheck2_lb\",\"#myCheck3_lb\",\"#myCheck4_lb\",\"#myCheck5_lb\",\"#myCheck6_lb\",\"#myCheck7_lb\",\"#myCheck8_lb\"];\n                        window.feedback_time=res.Feedback;//回傳借閱情況\n                        window.status=res.Status;//借閱狀態:Part/All\n                        if(window.feedback_time)\n                        {\n                            for(i=0;i<8;i++)\n                            {\n                                if (window.feedback_time[i]) \n                                {\n                                    $(id_list[i]).attr(\"disabled\",true); \n                                } \n                            }\n                        }\n                        else \n                        {\n                            for(i=0;i<8;i++)\n                            {\n                                $(id_list[i]).attr(\"disabled\",false); \n                            }\n                        }\n                    }\n                )\n            }      \n        )\n\n        //確定借閱\n        $(\"#btnset\").click(function()\n        {\n            //檢查逾時\n            var API = \"http://140.125.217.135:1880/web/check_uid\"\n            $.get\n            (\n                API\n            );\n\n            var lend = new Array(8)\n            var settime=document.myform.mycheck;//所選時段\n            window.time_checked=0;\n            for (i=0;i<8;i++)\n            {\n                if (settime[i].checked==true) \n                {\n                    window.time_checked=2;\n                    lend[i]=window.user_id;\n                }\n                else lend[i]=0;\n            }\n            var send_checked=window.date_checked+window.time_checked;\n            if(send_checked==3)\n            {\n                var API=\"http://140.125.217.135:1880/check_time\";\n                $.post\n                (\n                    API,\n                    {\n                        Time:window.time\n                    },\n                    function(res)\n                    {\n                        var dbchecked=res.Feedback;\n                        window.alarm=0;\n                        if(dbchecked!=0)\n                        {\n                            for(i=0;i<8;i++)\n                            {\n                                console.log(\"dbchecked\");\n                                if(lend[i]==window.user_id && dbchecked[i]!=0)\n                                {\n                                    window.alarm=1;\n                                    break;\n\n                                }\n                            }\n                        }\n                        if(window.alarm==0)\n                        {\n                            if(confirm(\"確定借閱?\"))\n                            {\n                                var API=\"http://140.125.217.135:1880/lend\";\n                                $.post\n                                (\n                                API,\n                                {\n                                    Lend:lend,\n                                    Lend_status:window.status,\n                                    Lend_date:window.time,\n                                    Time:window.feedback_time,\n                                    Stdid:window.uid\n                                },\n                                function(res)\n                                {\n                                    var ok=res.OK;\n                                    if(ok==\"OK\")\n                                    {\n                                        var lendtimes=res.Lendtimes+1;\n                                        alert(\"借閱成功! \\n您目前已借閱\"+lendtimes+\"筆。\");\n                                        document.location.reload();\n                                    }\n                                    else if(ok==\"OVER\")\n                                    {\n                                        alert(\"您已達借閱次數上限(5筆)\");\n                                        document.location.reload();\n                                    }\n                                });\n                            }\n                        }\n                        else \n                        {\n                            alert(\"有時段已被借閱。\") ;\n                            document.location.reload();\n                        }\n                    });\n            }\n            else if(send_checked==2) alert(\"請選擇預約日期!\");\n            else if(send_checked==1) alert(\"請選擇預約時段!\");\n            else alert(\"請選擇預約日期與時段。\");\n        })\n    }\n)","output":"str","x":350,"y":1480,"wires":[["62b9444f.a0781c"]]},{"id":"2e5b24b9.483f2c","type":"http in","z":"66437526.042cbc","name":"","url":"/web/lend/json","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1480,"wires":[["6b63dad6.b43af4"]]},{"id":"62b9444f.a0781c","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":490,"y":1480,"wires":[]},{"id":"546fdc31.c6c574","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":490,"y":1440,"wires":[]},{"id":"7110fa90.1be214","type":"http in","z":"66437526.042cbc","name":"","url":"/check_time","method":"post","upload":true,"swaggerDoc":"","x":170,"y":1520,"wires":[["261e3fda.e5c15"]]},{"id":"ba0b4f3f.2eeaf","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":810,"y":1520,"wires":[]},{"id":"261e3fda.e5c15","type":"function","z":"66437526.042cbc","name":"查詢","func":"global.time=msg.req.body.Time;\nmsg.topic='SELECT * FROM lend WHERE Time = '+'\"'+global.time+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1520,"wires":[["98e0d40a.52f4f8"]]},{"id":"98e0d40a.52f4f8","type":"mysql","z":"66437526.042cbc","mydb":"f1f3061f.90a568","name":"","x":510,"y":1520,"wires":[["7864c98d.bc9538"]]},{"id":"7864c98d.bc9538","type":"function","z":"66437526.042cbc","name":"回傳","func":"msg.time=[msg.payload[0].A,msg.payload[0].B,msg.payload[0].C,msg.payload[0].D,msg.payload[0].F,msg.payload[0].G,msg.payload[0].H,msg.payload[0].I];\nmsg.payload={\"Feedback\":msg.time,Status:\"Part\"};    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1520,"wires":[["ba0b4f3f.2eeaf"]]},{"id":"7ee2153d.4e0fac","type":"catch","z":"66437526.042cbc","name":"","scope":["7864c98d.bc9538"],"uncaught":false,"x":510,"y":1580,"wires":[["f7f7e3e2.ea803"]]},{"id":"f7f7e3e2.ea803","type":"function","z":"66437526.042cbc","name":"","func":"msg.payload={\"Feedback\":0,Status:\"All\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1580,"wires":[["ba0b4f3f.2eeaf"]]},{"id":"d70e90bc.5f371","type":"http in","z":"66437526.042cbc","name":"","url":"/lend","method":"post","upload":true,"swaggerDoc":"","x":140,"y":1620,"wires":[["947830f4.b6028"]]},{"id":"3953ea34.1bbe56","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":810,"y":1620,"wires":[]},{"id":"947830f4.b6028","type":"function","z":"66437526.042cbc","name":"借","func":"msg.lend=msg.req.body.Lend;//借閱情況\nmsg.lend_status=msg.req.body.Lend_status;//借閱狀態\nmsg.lend_date=msg.req.body.Lend_date;//借閱日期\nmsg.time=msg.req.body.Time;\nmsg.uid=msg.req.body.Stdid;\nmsg.topic='SELECT Time,lend FROM lending WHERE Student_ID = '+'\"'+msg.uid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1620,"wires":[["5ee363e8.32fbbc"]]},{"id":"5ee363e8.32fbbc","type":"mysql","z":"66437526.042cbc","mydb":"f1f3061f.90a568","name":"","x":510,"y":1620,"wires":[["8ac3da81.2715b8"]]},{"id":"8ac3da81.2715b8","type":"function","z":"66437526.042cbc","name":"借","func":"msg.lendtimes=msg.payload.length;\nif(msg.lendtimes<5)\n{\n    msg.code=\"\";\n    var def=[\"A\",\"B\",\"C\",\"D\",\"F\",\"G\",\"H\",\"I\"];\n    for(i=0;i<8;i++)\n    {\n        if(msg.lend[i]!=\"0\")\n        {\n            msg.code+=def[i];\n        }\n    }\n    \n    if (msg.lend_status==\"All\")\n    {\n        msg.topic='INSERT INTO lend(Time, A, B, C, D, F, G, H, I) VALUES ('+'\"'+msg.lend_date+'\"'+','+'\"'+msg.lend[0]+'\"'+','+'\"'+msg.lend[1]+'\"'+','+'\"'+msg.lend[2]+'\"'+','+'\"'+msg.lend[3]+'\"'+','+'\"'+msg.lend[4]+'\"'+','+'\"'+msg.lend[5]+'\"'+','+'\"'+msg.lend[6]+'\"'+','+'\"'+msg.lend[7]+'\"'+'); INSERT INTO lending(Time,Student_id,lend) VALUES('+'\"'+msg.lend_date+'\"'+','+'\"'+msg.uid+'\"'+','+'\"'+msg.code+'\"'+')';\n    }\n    else\n    {\n        for(i=0;i<8;i++)\n        {\n            if(msg.lend[i]!=\"0\")\n            {\n                msg.time[i]=msg.lend[i];\n            }\n        }\n        msg.topic='UPDATE lend SET A='+'\"'+msg.time[0]+'\"'+',B='+'\"'+msg.time[1]+'\"'+',C='+'\"'+msg.time[2]+'\"'+',D='+'\"'+msg.time[3]+'\"'+',F='+'\"'+msg.time[4]+'\"'+',G='+'\"'+msg.time[5]+'\"'+',H='+'\"'+msg.time[6]+'\"'+',I='+'\"'+msg.time[7]+'\"'+' WHERE Time = '+'\"'+msg.lend_date+'\"'+'; INSERT INTO lending(Time,Student_id,lend) VALUES('+'\"'+msg.lend_date+'\"'+','+'\"'+msg.uid+'\"'+','+'\"'+msg.code+'\"'+')';\n    }\n    msg.payload={\"OK\":\"OK\",\"Lendtimes\":msg.lendtimes};\n}\nelse\n{\n    msg.payload={\"OK\":\"OVER\"};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1620,"wires":[["c573be22.e1672","3953ea34.1bbe56"]]},{"id":"c573be22.e1672","type":"mysql","z":"66437526.042cbc","mydb":"f1f3061f.90a568","name":"","x":830,"y":1660,"wires":[[]]},{"id":"ba6d27ec.005c18","type":"comment","z":"66437526.042cbc","name":"預約教室","info":"","x":140,"y":1380,"wires":[]},{"id":"c4855177.7368e","type":"comment","z":"66437526.042cbc","name":"預約中","info":"","x":130,"y":1720,"wires":[]},{"id":"6bd5062b.0ecad8","type":"template","z":"66437526.042cbc","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n    <head>\n        <meta charset=\"utf-8\">\n        <title>預約中-教室借閱系統</title>\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n        <style>\n            @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n#topic{\n  font-size: 40px;\n  font-weight: 400;\n  padding-left: 50px;\n  padding-top: 50px;\n}\n#user_name{\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n  padding-right: 15px;\n}\nnav{\n  height: 80px;\n  background-color:#212529;\n  display: flex;\n  align-items: center;\n  justify-content: space-between;\n  padding: 0px 50px 0px 50px;\n}\n\nnav .logo{\n  font-size: 40px;\n  color: rgba(196, 95, 0, 0.993);\n  font-weight: 600;\n}\nnav ul{\n  display: flex;\n  list-style: none;\n}\nnav ul li,nav ul label{\n  margin: 0 10px;\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav ul li a,nav ul li label{\n  color: white;\n  text-decoration: none;\n  font-size: 18px;\n  font-weight: 500;\n  letter-spacing: 1px;\n  padding: 8px 15px;\n  border-radius: 5px;\n}\nnav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n  background-color:white;\n  color: #212529;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav .menu-btn i{\n  color: white;\n  font-size: 32px;\n  cursor: pointer;\n  display: none;\n}\n#click{\n  display: none;\n}\n/* 以上是menu設定\n以下是預約中設定 */\n.main{\n  width: 50%;\n  margin:3% 0px 0px 5%;\n}\ndiv label h5{\n  color: black;\n  font-size: 26px;\n  font-weight: 700;\n}\ntable{\n  /* display: block; */\n  overflow-x: auto;\n  white-space: nowrap;\n  width: 600px;\n  height: 100%;\n  margin: 15px 0px 0px 0%;\n  color: #212529;\n  text-align: center;\n  box-shadow: 0 5px 10px #e2e2e2 ;\n}\nthead{\n  box-shadow: 0 5px 10px #eeeeee ;\n}\nthead tr th{\n  font-size: 22px;\n  font-weight: 600;\n}\ntbody{\n  border-bottom:1px rgb(170, 170, 170) solid;\n}\nth{\n  padding: 1rem 2rem;\n  letter-spacing: 0.1rem;\n  font-size: 22px;\n  font-weight: 300;\n}\ntd{\n  padding: 1rem 2rem;\n}\ndiv table tbody tr td button{\n  display: block;\n  width: 100px;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 500;\n  line-height: 1.5;\n  color: #212529;\n  background-color: #e9e9e9;\n  background-clip: padding-box;\n  border: 2px solid #dfdfdf;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 20px;\n  text-align: center;\n  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n}\ndiv table tbody tr td button:hover{\n  background-color: #c9c9c9;\n  border: 2px solid #c9c9c9;\n}\n\n@media (max-width:1090px) {\n  #user_name{\n    color: white;\n    font-size: 18px;\n    font-weight: 500;\n    padding-right: 0;\n  }\n  nav{\n    height: 80px;\n    background-color: #212529;\n    display: flex;\n    align-items: center;\n    justify-content: space-between;\n    padding: 0px 30px 0px 30px;\n  }\n  nav .menu-btn i{\n    display: block;\n  }\n  #click:checked ~ .menu-btn i::before{\n    content: \"\\f00d\";\n  }\n  nav ul{\n    position: fixed;\n    top: 80px;\n    left: -100%;\n    background-color: #111;\n    height: 100vh;\n    width: 100%;\n    display: block;\n    text-align: center;\n    transition: all 0.3s ease;\n  }\n  #click:checked ~ ul{\n    left: 0%;\n  }\n  nav ul li,nav ul label{\n    margin: 40px 0;\n    color: white;\n    font-size: 22px;\n  }\n  nav ul li a,nav ul li label,#user_name{\n    font-size: 22px;\n    display: block;\n  }\n  nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n    background-color: #111;\n    color: rgba(196, 95, 0, 0.993);\n    font-size: 22px;\n  }\n  /* 以上是menu設定\n以下是預約設定 */\n\n}\n@media (max-width:665px){\n  .main{\n    width: auto;\n    margin-top: 15px;\n    margin-right: 15px;\n  }\n  table{\n    display: block;\n    overflow-x: auto;\n    white-space: nowrap;\n    width: auto;\n  }\n  thead tr th{\n    font-size: 15px;\n    font-weight: 600;\n  }\n  th,td{\n    font-size: 15px;\n    padding: 10px 12px;\n  }\n  div table tbody tr td button{\n    font-size: 12px;\n    width: 90px;\n}\n}\n        </style>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    </head>\n    <body>\n        <nav>\n            <div class=\"logo\">教室借閱系統</div>\n            <input type=\"checkbox\" id=\"click\">\n            <label for=\"click\" class=\"menu-btn\">\n                <i class=\"fas fa-bars\"></i>\n            </label>\n            <ul>\n                <label id=\"user_name\">林昌毅</label>\n                <li><a href=\"http://140.125.217.135:1880/web/home\">首頁</a></li>\n                <li><a href=\"http://140.125.217.135:1880/web/lend\">預約教室</a></li>\n                <li><a class=\"active\" href=\"http://140.125.217.135:1880/web/lending\">預約中</a></li>\n                <li><a href=\"http://140.125.217.135:1880/web/information\">個人資料</a></li>\n                <li><label id=\"signout\">登出</label></li>\n            </ul>\n        </nav>\n        <div class=\"main\">\n            <label><h5>預約中</h5></label>\n            <label><h5 id=\"inf\" >尚無借閱資料</h5></label>\n            <table id=\"table1\" class=\"table\">\n                <thead id=\"t_title\">\n                    <tr>\n                        <th scope=\"col\">#</th>\n                        <th scope=\"col\">預約日期</th>\n                        <th scope=\"col\">預約時段</th>\n                        <th scope=\"col\"></th>\n                    </tr>\n                </thead>\n                <tbody id=\"tb1\">\n                    <tr>\n                        <th scope='row'>1</th>\n                        <td id=\"tb1_td1\"></td>\n                        <td id=\"tb1_td2\"></td>\n                        <td><button id=\"btn1\" type='button'>取消預約</button></td>\n                    </tr>\n                </tbody>\n                <tbody id=\"tb2\">\n                    <tr>\n                        <th scope='row'>2</th>\n                        <td id=\"tb2_td1\"></td>\n                        <td id=\"tb2_td2\"></td>\n                        <td><button id=\"btn2\" type='button' >取消預約</button></td>\n                    </tr>\n                </tbody>\n                <tbody id=\"tb3\">\n                    <tr>\n                        <th scope='row'>3</th>\n                        <td id=\"tb3_td1\"></td>\n                        <td id=\"tb3_td2\"></td>\n                        <td><button id=\"btn3\" type='button' >取消預約</button></td>\n                    </tr>\n                </tbody>\n                <tbody id=\"tb4\">\n                    <tr>\n                        <th scope='row'>4</th>\n                        <td id=\"tb4_td1\"></td>\n                        <td id=\"tb4_td2\"></td>\n                        <td><button id=\"btn4\" type='button' >取消預約</button></td>\n                    </tr>\n                </tbody>\n                <tbody id=\"tb5\">\n                    <tr>\n                        <th scope='row'>5</th>\n                        <td id=\"tb5_td1\"></td>\n                        <td id=\"tb5_td2\"></td>\n                        <td><button id=\"btn5\" type='button' >取消預約</button></td>\n                    </tr>\n                </tbody>\n            </table>\n        </div>\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n        <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n        <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://140.125.217.135:1880/web/check_uid\"></script>\n        <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://140.125.217.135:1880/web/lending/json\"></script>\n    </body>\n</html>","output":"str","x":390,"y":1780,"wires":[["c03336dd.aea178"]]},{"id":"3b2ba329.bc1bdc","type":"http in","z":"66437526.042cbc","name":"","url":"/web/lending","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1780,"wires":[["6bd5062b.0ecad8"]]},{"id":"a19e89e3.1e6a98","type":"template","z":"66437526.042cbc","name":"JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        //初始化\n        $(\"#table1\").hide();\n        var API=\"http://140.125.217.135:1880/lending\";\n        $.post\n        (\n            API,\n            {\n                Uid:window.uid\n            },\n            function(res)\n            {\n                window.inf=res.Inf;\n                var length=window.inf.length;\n                for(i=0;i<length;i++)\n                {\n                    window.inf[i].Time = timechange(window.inf[i].Time);\n                }\n                if(length!=0)\n                {\n                    $(\"#inf\").hide();\n                    $(\"#table1\").show();\n                    var tb=[\"#tb1\",\"#tb2\",\"#tb3\",\"#tb4\",\"#tb5\"];\n                    var tblist=\n                    [\n                        [\"#tb1_td1\",\"#tb1_td2\"],\n                        [\"#tb2_td1\",\"#tb2_td2\"],\n                        [\"#tb3_td1\",\"#tb3_td2\"],\n                        [\"#tb4_td1\",\"#tb4_td2\"],\n                        [\"#tb5_td1\",\"#tb5_td2\"]\n                    ];\n                    for(i=0;i<5;i++)\n                    {\n                        if(i<length)\n                        {\n                            $(tblist[i][0]).text(window.inf[i].Time);\n                            $(tblist[i][1]).text(window.inf[i].lend);\n                        }\n                        else\n                        {\n                            $(tb[i]).hide();\n                        }\n                    }\n                }\n            }\n        )\n        \n        //取消預約按鈕\n        $(\"button\").click(function() \n        {\n            //檢查逾時\n            var API = \"http://140.125.217.135:1880/web/check_uid\"\n            $.get\n            (\n                API\n            );\n            \n            var btn_list=[\"btn1\",\"btn2\",\"btn3\",\"btn4\",\"btn5\"]\n            var btn_id=$(this).attr(\"id\");\n            for(i=0;i<5;i++)\n            {\n                if(btn_id==btn_list[i])\n                {\n                    if(confirm(\"確定取消此預約嗎?\"))\n                    {\n                        API=\"http://140.125.217.135:1880/web/delete_lending\";\n                        $.post\n                        (\n                        API,\n                        {\n                            Inf:window.inf[i],\n                            Uid:window.uid\n                        },\n                        function(res) \n                        {\n                            var inf=res.Inf;\n                            if(inf==1)\n                            {\n                                alert(\"取消預約成功!\");\n                                document.location.reload();\n                            }    \n                            else alert(\"取消失敗...\");    \n                        })\n                    }\n                }\n            }\n        })\n\n        //登出\n        $(\"#signout\").click(function()\n        {   \n            var API = \"http://140.125.217.135:1880/delete_uid\";\n            $.get\n                (API);\n            window.location.href=\"http://140.125.217.135:1880/web/signin\"\n        })\n    }\n)\n\n//時間轉換\nfunction timechange(time) \n{\n    var t = new Date(time);\n    var year = t.getFullYear();\n    var month = t.getMonth()+1;\n    var day = t.getDate();\n    if(month<10)\n    {\n        month=\"0\"+month;\n    }\n    if(day<10)\n    {\n        day=\"0\"+day;\n    }\n    time=year+\"-\"+month+\"-\"+day;\n    return time;    \n}","output":"str","x":390,"y":1820,"wires":[["c14db41e.747c88"]]},{"id":"6fc9bfeb.89e6e","type":"http in","z":"66437526.042cbc","name":"","url":"/web/lending/json","method":"get","upload":false,"swaggerDoc":"","x":180,"y":1820,"wires":[["a19e89e3.1e6a98"]]},{"id":"c14db41e.747c88","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":530,"y":1820,"wires":[]},{"id":"c03336dd.aea178","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":530,"y":1780,"wires":[]},{"id":"76b938f0.18bc08","type":"http in","z":"66437526.042cbc","name":"","url":"/lending","method":"post","upload":true,"swaggerDoc":"","x":150,"y":1860,"wires":[["8ce3cbfd.8a75f8"]]},{"id":"bdc87816.c69278","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":850,"y":1860,"wires":[]},{"id":"cfa02609.d26698","type":"mysql","z":"66437526.042cbc","mydb":"f1f3061f.90a568","name":"","x":550,"y":1860,"wires":[["cb840711.c412b8"]]},{"id":"8ce3cbfd.8a75f8","type":"function","z":"66437526.042cbc","name":"","func":"msg.uid=msg.req.body.Uid\nmsg.topic='SELECT Time,lend FROM lending WHERE Student_ID = '+'\"'+msg.uid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1860,"wires":[["cfa02609.d26698"]]},{"id":"cb840711.c412b8","type":"function","z":"66437526.042cbc","name":"","func":"msg.payload=\n{\n    Inf:msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1860,"wires":[["bdc87816.c69278"]]},{"id":"f070536e.3f07b","type":"http in","z":"66437526.042cbc","name":"","url":"/web/delete_lending","method":"post","upload":true,"swaggerDoc":"","x":190,"y":1900,"wires":[["37c9748.dd20b8c"]]},{"id":"50fcdad6.c029f4","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":850,"y":1900,"wires":[]},{"id":"37c9748.dd20b8c","type":"function","z":"66437526.042cbc","name":"","func":"msg.inf=msg.req.body.Inf;\nmsg.uid=msg.req.body.Uid;\nmsg.time=msg.inf.Time.substr(0,10);\nmsg.lend=msg.inf.lend.split(\"\");\nvar content = \"\";\nfor(i=0;i<msg.lend.length;i++)\n{\n    if((msg.lend.length-i)!=1)\n    {\n        content+=(msg.lend[i]+\" = 0, \");\n    }\n    else\n    {\n        content+=(msg.lend[i]+\" = 0 \");\n    }\n}\nvar title='UPDATE lend SET ';\nvar where='WHERE Time = '+'\"'+msg.time+'\"'+'';\nmsg.topic=title+content+where+'; DELETE FROM lending WHERE Student_ID = '+'\"'+msg.uid+'\"'+' AND Time = '+'\"'+msg.time+'\"'+' AND lend='+'\"'+msg.inf.lend+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1900,"wires":[["cde4ff3c.fb51d"]]},{"id":"cde4ff3c.fb51d","type":"mysql","z":"66437526.042cbc","mydb":"f1f3061f.90a568","name":"","x":550,"y":1900,"wires":[["d5b18436.7d64d8"]]},{"id":"d5b18436.7d64d8","type":"function","z":"66437526.042cbc","name":"","func":"msg.payload={Inf:1}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1900,"wires":[["50fcdad6.c029f4"]]},{"id":"57c7129f.cd03fc","type":"template","z":"66437526.042cbc","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n   <head>\n      <meta charset=\"utf-8\">\n      <title>首頁-教室借閱系統</title>\n      <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n      <style>\n        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n#topic{\n  font-size: 40px;\n  font-weight: 400;\n}\n#user_name{\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n  padding-right: 15px;\n}\nnav{\n  height: 80px;\n  background-color:#212529;\n  display: flex;\n  align-items: center;\n  justify-content: space-between;\n  padding: 0px 50px 0px 50px;\n}\n\nnav .logo{\n  font-size: 40px;\n  color: rgba(196, 95, 0, 0.993);\n  font-weight: 600;\n}\nnav ul{\n  display: flex;\n  list-style: none;\n}\nnav ul li,nav ul label{\n  margin: 0 10px;\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav ul li a,nav ul li label{\n  color: white;\n  text-decoration: none;\n  font-size: 18px;\n  font-weight: 500;\n  letter-spacing: 1px;\n  padding: 8px 15px;\n  border-radius: 5px;\n}\nnav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n  background-color:white;\n  color: #212529;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav .menu-btn i{\n  color: white;\n  font-size: 32px;\n  cursor: pointer;\n  display: none;\n}\n#click{\n  display: none;\n}\n/* 以下是內容 */\n.main{\n  width: 50%;\n  margin:10px 0px 0px 5%;\n}\ndiv label h5{\n  color: black;\n  font-size: 30px;\n  font-weight: 700;\n  margin-top: 30px;\n}\ntable{\n  /* display: block; */\n  overflow-x: auto;\n  white-space: nowrap;\n  width: 900px;\n  height: 100%;\n  margin: 15px 0px 0px 0%;\n  color: #212529;\n  text-align: left;\n  box-shadow: 0 5px 10px #e2e2e2 ;\n}\nthead{\n  box-shadow: 0 5px 10px #eeeeee ;\n}\n#content{\n  font-size: 18px;\n  font-weight: 600;\n  padding:10px 0px 10px 20px;\n}\n#date{\n  font-size: 18px;\n  font-weight: 600;\n  padding:10px 0px 10px 20px;\n  width: 120px;\n}\ntbody{\n  border-bottom:1px rgb(170, 170, 170) solid;\n}\ntd{\n  padding: 15px 0px 5px 20px;\n}\ndiv table tbody tr td a{\n  color:rgb(51, 88, 255);\n}\ndiv table tbody tr td a:hover{\n  color:rgb(76, 42, 138);\n}\n@media (max-width:1000px) {\n  #user_name{\n    color: white;\n    font-size: 18px;\n    font-weight: 500;\n    padding-right: 0;\n  }\n  nav{\n    height: 80px;\n    background-color: #212529;\n    display: flex;\n    align-items: center;\n    justify-content: space-between;\n    padding: 0px 30px 0px 30px;\n  }\n  nav .menu-btn i{\n    display: block;\n  }\n  #click:checked ~ .menu-btn i::before{\n    content: \"\\f00d\";\n  }\n  nav ul{\n    position: fixed;\n    top: 80px;\n    left: -100%;\n    background-color: #111;\n    height: 100vh;\n    width: 100%;\n    display: block;\n    text-align: center;\n    transition: all 0.3s ease;\n  }\n  #click:checked ~ ul{\n    left: 0%;\n  }\n  nav ul li,nav ul label{\n    margin: 40px 0;\n    color: white;\n    font-size: 22px;\n  }\n  nav ul li a,nav ul li label,#user_name{\n    font-size: 22px;\n    display: block;\n  }\n  nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n    background-color: #111;\n    color: rgba(196, 95, 0, 0.993);\n    font-size: 22px;\n  }\n  table{\n    display: block;\n    overflow-x: auto;\n    white-space: nowrap;\n    width: 600px;\n  }\n  #content{\n  width: 500px;\n  }\n  #date{\n  width: 100px;\n  padding-right: 20px;\n  }\n  \n  @media (max-width:430px){\n  .main{\n    width: auto;\n    margin-top: 15px;\n    margin-right: 15px;\n  }\n  table{\n    display: block;\n    overflow-x: auto;\n    white-space: nowrap;\n    width: auto;\n  }\n  #content{\n  width: 75%;\n  background-color: #212529;\n  color: rgba(196, 95, 0, 0.993);\n  }\n  #date{\n  width: 25%;\n  padding-right: 15px;\n  background-color: #212529;\n  color: rgba(196, 95, 0, 0.993);\n}\n\n}\n}\n      </style>\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n   </head>\n   <body>\n      <nav>\n         <div class=\"logo\">教室借閱系統</div>\n         <input type=\"checkbox\" id=\"click\">\n         <label for=\"click\" class=\"menu-btn\">\n            <i class=\"fas fa-bars\"></i>\n         </label>\n         <ul>\n            <label id=\"user_name\">林昌毅</label>\n            <li><a  class=\"active\" href=\"http://140.125.217.135:1880/web/home\">首頁</a></li>\n            <li><a href=\"http://140.125.217.135:1880/web/lend\">預約教室</a></li>\n            <li><a href=\"http://140.125.217.135:1880/web/lending\">預約中</a></li>\n            <li><a href=\"http://140.125.217.135:1880/web/information\">個人資料</a></li>\n            <li><label id=\"signout\">登出</label></li>\n         </ul>\n      </nav>\n      <div class=\"main\">\n        <label id=topic>歡迎使用此網站!</label>\n        <label><h5>公告</h5></label>\n        <table id=\"table1\" class=\"table\">\n            <thead id=\"t_title\">\n                <tr>\n                    <th scope=\"col\" id=\"content\">公告事項</th>\n                    <th scope=\"col\" id=\"date\">公告日期</th>\n                </tr>\n            </thead>\n            <tbody id=\"tb1\">\n                <tr>\n                  <td id=\"tb1_td0\">\n                    <a href=\"https://drive.google.com/file/d/1ZfCgIzyvqdOiYsOlcZCk9_b2WvPAOnFg/view?usp=sharing\" target=\"_blank\">教室借閱系統使用規則</a>\n                  </td>\n                  <td id=\"tb1_td1\">2021/6/21</td>\n                </tr>\n            </tbody>\n            <tbody id=\"tb2\">\n                <tr>\n                  <td id=\"tb2_td0\">\n                    <a href=\"https://forms.gle/ar8qxm1xT3gFZWtC9\" target=\"_blank\">使用意見回饋調查</a>\n                  </td>\n                  <td id=\"tb2_td1\">2021/6/21</td>\n                </tr>\n            </tbody>\n        </table>\n      </div>\n      <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n      <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n      <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://140.125.217.135:1880/web/check_uid\"></script>\n      <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://140.125.217.135:1880/web/home/json\"></script>\n   </body>\n</html>","output":"str","x":350,"y":1160,"wires":[["233b461d.1d1b8a"]]},{"id":"c9ffba97.48da68","type":"http in","z":"66437526.042cbc","name":"","url":"/web/home","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1160,"wires":[["57c7129f.cd03fc"]]},{"id":"2e525161.a71a2e","type":"template","z":"66437526.042cbc","name":"JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        //登出\n        $(\"#signout\").click(function()\n        {   \n            var API = \"http://140.125.217.135:1880/delete_uid\";\n            $.get\n                (API);\n            window.location.href=\"http://140.125.217.135:1880/web/signin\"\n        })\n    }\n)","output":"str","x":350,"y":1200,"wires":[["311af807.614c78"]]},{"id":"1c0183f8.3c362c","type":"http in","z":"66437526.042cbc","name":"","url":"/web/home/json","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1200,"wires":[["2e525161.a71a2e"]]},{"id":"311af807.614c78","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":490,"y":1200,"wires":[]},{"id":"233b461d.1d1b8a","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":490,"y":1160,"wires":[]},{"id":"c3aa47a3.5436f8","type":"comment","z":"66437526.042cbc","name":"首頁","info":"","x":130,"y":1100,"wires":[]},{"id":"7f4f1340.3d76dc","type":"http in","z":"66437526.042cbc","name":"","url":"/delete_uid","method":"get","upload":true,"swaggerDoc":"","x":160,"y":2100,"wires":[["c4fd96be.e52018"]]},{"id":"e4e7c6b0.20b0b8","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":790,"y":2100,"wires":[]},{"id":"c4fd96be.e52018","type":"function","z":"66437526.042cbc","name":"Clear cookies","func":"var cookieNames = Object.keys(msg.req.cookies).filter\n    (\n        function(cookieName) \n        { \n            return /^uid/.test(cookieName);\n        }\n    );\n\nmsg.cookies = {};\n\ncookieNames.forEach\n    (\n        function(cookieName) \n        {\n            msg.cookies[cookieName] = null;\n        }\n    );\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":2100,"wires":[["4a78fcd5.7b00c4"]]},{"id":"4a78fcd5.7b00c4","type":"change","z":"66437526.042cbc","name":"Redirect to /set","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/web/home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2100,"wires":[["e4e7c6b0.20b0b8"]]},{"id":"8f0bce03.8ebaa","type":"http in","z":"66437526.042cbc","name":"","url":"/web/check_uid","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2140,"wires":[["5a51253e.ea99bc"]]},{"id":"5a51253e.ea99bc","type":"template","z":"66437526.042cbc","name":"JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n        {\n            window.uid = Cookies.get(\"uid\");\n            if (window.uid)\n            {\n                var API = \"http://140.125.217.135:1880/web/check_User_ID\";\n                $.post\n                (\n                    API,\n                    {\n                        Uid:window.uid\n                    },\n                    function(res)\n                    {\n                        window.user_id=res.User_id;\n                        window.user_name=res.User_name;\n                        $(\"#user_name\").text(\"Hi ! \"+window.user_name);\n                    }\n                )\n            }\n            else\n            {\n                window.location.href=\"http://140.125.217.135:1880/web/signin\";\n            }\n        }\n    )","output":"str","x":390,"y":2140,"wires":[["b10a92c8.ef1c"]]},{"id":"b10a92c8.ef1c","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":590,"y":2140,"wires":[]},{"id":"a75abc3.525db4","type":"mysql","z":"66437526.042cbc","mydb":"f1f3061f.90a568","name":"","x":610,"y":2060,"wires":[["672bc29.f77f53c"]]},{"id":"5577df1.0c2e32","type":"http in","z":"66437526.042cbc","name":"","url":"/web/check_User_ID","method":"post","upload":true,"swaggerDoc":"","x":190,"y":2060,"wires":[["dd71c42e.d937b8"]]},{"id":"cf7d8839.983c38","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":970,"y":2060,"wires":[]},{"id":"dd71c42e.d937b8","type":"function","z":"66437526.042cbc","name":"查詢User_ID","func":"msg.uid=msg.req.body.Uid;\nmsg.topic='SELECT User_ID,Name FROM student WHERE Student_ID = '+'\"'+msg.uid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":2060,"wires":[["a75abc3.525db4"]]},{"id":"672bc29.f77f53c","type":"function","z":"66437526.042cbc","name":"回傳User_ID","func":"msg.payload={\"User_id\":msg.payload[0].User_ID,\"User_name\":msg.payload[0].Name};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":2060,"wires":[["cf7d8839.983c38"]]},{"id":"f6864e5b.14316","type":"comment","z":"66437526.042cbc","name":"Cookies","info":"","x":130,"y":2000,"wires":[]},{"id":"e4b6ac28.9f958","type":"template","z":"66437526.042cbc","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n   <head>\n      <meta charset=\"utf-8\">\n      <title>個人資料-教室借閱系統</title>\n      <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n      <style>\n          @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n#topic{\n  font-size: 40px;\n  font-weight: 400;\n  padding-left: 50px;\n  padding-top: 50px;\n}\n#user_name{\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n  padding-right: 15px;\n}\nnav{\n  height: 80px;\n  background-color:#212529;\n  display: flex;\n  align-items: center;\n  justify-content: space-between;\n  padding: 0px 50px 0px 50px;\n}\n\nnav .logo{\n  font-size: 40px;\n  color: rgba(196, 95, 0, 0.993);\n  font-weight: 600;\n}\nnav ul{\n  display: flex;\n  list-style: none;\n}\nnav ul li,nav ul label{\n  margin: 0 10px;\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav ul li a,nav ul li label{\n  color: white;\n  text-decoration: none;\n  font-size: 18px;\n  font-weight: 500;\n  letter-spacing: 1px;\n  padding: 8px 15px;\n  border-radius: 5px;\n}\nnav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n  background-color:white;\n  color: #212529;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav .menu-btn i{\n  color: white;\n  font-size: 30px;\n  cursor: pointer;\n  display: none;\n}\n#click{\n  display: none;\n}\n/* 以上是menu設定\n以下是預約中設定 */\n.main{\n  width: 60%;\n  height: 550px;\n  margin:auto;\n  padding:30px 5px 0px 5px;\n  text-align: center;\n}\ndiv label h5{\n  color: black;\n  font-size: 28px;\n  font-weight: 700;\n}\ntable{\n  overflow-x: auto;\n  white-space: nowrap;\n  width: 560px;\n  height: 390px;\n  margin: auto;\n  color: #212529;\n  text-align: center;\n}\nth,td{\n  font-size: 20px;\n  font-weight: 600;\n  border-bottom: 1px solid #ddd;\n  padding: 1rem 2rem;\n}\n#btnp{\n  margin-top: 10px;\n  width: 100%;\n  text-align: center;\n}\n#modify{\n  display: block;\n  width: 160px;\n  margin:auto;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 500;\n  line-height: 1.5;\n  color: #212529;\n  background-color: #e9e9e9;\n  background-clip: padding-box;\n  border: 2px solid #dfdfdf;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 20px;\n  text-align: center;\n  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n  \n}\n#modify:hover{\n  background-color: #c9c9c9;\n  border: 2px solid #c9c9c9;\n}\n\n@media (max-width:1090px) {\n  #user_name{\n    color: white;\n    font-size: 18px;\n    font-weight: 500;\n    padding-right: 0;\n  }\n  nav{\n    height: 80px;\n    background-color: #212529;\n    display: flex;\n    align-items: center;\n    justify-content: space-between;\n    padding: 0px 30px 0px 30px;\n  }\n  nav .menu-btn i{\n    display: block;\n  }\n  #click:checked ~ .menu-btn i::before{\n    content: \"\\f00d\";\n  }\n  nav ul{\n    position: fixed;\n    top: 80px;\n    left: -100%;\n    background-color: #111;\n    height: 100vh;\n    width: 100%;\n    display: block;\n    text-align: center;\n    transition: all 0.3s ease;\n  }\n  #click:checked ~ ul{\n    left: 0%;\n  }\n  nav ul li,nav ul label{\n    margin: 40px 0;\n    color: white;\n    font-size: 22px;\n  }\n  nav ul li a,nav ul li label,#user_name{\n    font-size: 22px;\n    display: block;\n  }\n  nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n    background-color: #111;\n    color: rgba(196, 95, 0, 0.993);\n    font-size: 22px;\n  }\n}\n@media (max-width:660px){\n  .main{\n    width: auto;\n  }\n  table{\n    display: block;\n    overflow-x: auto;\n    white-space: nowrap;\n    width: auto;\n    margin-left: auto;\n    margin-right: auto;\n    height: 350px;\n  }\n  th,td{\n  font-size: 15px;\n  font-weight: 600;\n  border-bottom: 1px solid #ddd;\n  \n}\n}\n      </style>\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n   </head>\n   <body>\n      <nav>\n         <div class=\"logo\">教室借閱系統</div>\n         <input type=\"checkbox\" id=\"click\">\n         <label for=\"click\" class=\"menu-btn\">\n            <i class=\"fas fa-bars\"></i>\n         </label>\n         <ul>\n            <label id=\"user_name\">林昌毅</label>\n            <li><a href=\"http://140.125.217.135:1880/web/home\">首頁</a></li>\n            <li><a href=\"http://140.125.217.135:1880/web/lend\">預約教室</a></li>\n            <li><a href=\"http://140.125.217.135:1880/web/lending\">預約中</a></li>\n            <li><a class=\"active\" href=\"http://140.125.217.135:1880/web/information\">個人資料</a></li>\n            <li><label id=\"signout\">登出</label></li>\n         </ul>\n      </nav>\n      <div class=\"main\">\n        <label><h5>個人資料</h5></label>\n        <table>\n            <tbody>\n              <tr>\n                <th scope=\"row\">姓名</th>\n                <td id=\"name\" value=\"#\">林昌毅</td>\n              <tr>\n                <th scope=\"row\">學號</th>\n                <td id=\"stdid\">B10711137</td>\n              </tr>\n              <tr>\n                <th scope=\"row\">密碼</th>\n                <td id=\"password\">l125542410</td>\n              </tr>\n              <tr>\n                <th scope=\"row\">電話</th>\n                <td id=\"phone\" >0902313888</td>\n              </tr>\n              <tr>\n                <th scope=\"row\">信箱</th>\n                <td id=\"email\" >a0984360579@gmail.com</td>\n              </tr>\n            </tbody>\n        </table>\n        <div id=\"btnp\">\n            <button  id=\"modify\" type=\"button\">修改個人資料</button>\n        </div>\n    </div>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://140.125.217.135:1880/web/check_uid\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://140.125.217.135:1880/web/information/json\"></script>\n\n      </body>\n</html>","output":"str","x":390,"y":2280,"wires":[["88ef9657.bacbe8"]]},{"id":"c3ecd7a3.f48d08","type":"http in","z":"66437526.042cbc","name":"","url":"/web/information","method":"get","upload":false,"swaggerDoc":"","x":180,"y":2280,"wires":[["e4b6ac28.9f958"]]},{"id":"fe85adb3.c1059","type":"template","z":"66437526.042cbc","name":"JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        //初始化\n        var API=\"http://140.125.217.135:1880/information\"\n        $.post\n        (\n            API,\n            {\n                Uid:window.uid\n            },\n            function(res)\n            {\n                var name = res.Name;\n                var password = res.Password;\n                var phone = res.Phone;\n                var email = res.Email;\n                $(\"#name\").text(name);\n                $(\"#stdid\").text(window.uid);\n                $(\"#password\").text(password);\n                $(\"#phone\").text(phone);\n                $(\"#email\").text(email);\n            }\n        )\n        \n        //修改資料\n        $(\"#modify\").click(function()\n        {   \n            var API = \"http://140.125.217.135:1880/web/check_uid\"\n            $.get\n            (\n                API\n            );\n            window.location.href=\"http://140.125.217.135:1880/web/information/modify\";\n        })\n\n        //登出\n        $(\"#signout\").click(function()\n        {   \n            var API = \"http://140.125.217.135:1880/delete_uid\";\n            $.get\n                (API);\n            window.location.href=\"http://140.125.217.135:1880/web/signin\"\n        })\n    }\n)","output":"str","x":390,"y":2320,"wires":[["c01d54bb.d7d528"]]},{"id":"63534ebd.1100f","type":"http in","z":"66437526.042cbc","name":"","url":"/web/information/json","method":"get","upload":false,"swaggerDoc":"","x":190,"y":2320,"wires":[["fe85adb3.c1059"]]},{"id":"c01d54bb.d7d528","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":530,"y":2320,"wires":[]},{"id":"88ef9657.bacbe8","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":530,"y":2280,"wires":[]},{"id":"c5f81d1a.4fff3","type":"http in","z":"66437526.042cbc","name":"","url":"/information","method":"post","upload":true,"swaggerDoc":"","x":170,"y":2360,"wires":[["b1b1c1b3.f5892"]]},{"id":"ad9a75c1.6e15e8","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":850,"y":2360,"wires":[]},{"id":"b1b1c1b3.f5892","type":"function","z":"66437526.042cbc","name":"","func":"msg.uid=msg.req.body.Uid\nmsg.topic='SELECT * FROM student WHERE Student_ID = '+'\"'+msg.uid+'\"'+'';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":2360,"wires":[["e12e95fa.2930c8"]]},{"id":"e12e95fa.2930c8","type":"mysql","z":"66437526.042cbc","mydb":"f1f3061f.90a568","name":"","x":550,"y":2360,"wires":[["bafb53d5.0d648"]]},{"id":"bafb53d5.0d648","type":"function","z":"66437526.042cbc","name":"","func":"msg.payload=\n    {\n        Name:msg.payload[0].Name,\n        Password:msg.payload[0].Password,\n        Phone:msg.payload[0].Phone,\n        Email:msg.payload[0].Email\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":2360,"wires":[["ad9a75c1.6e15e8"]]},{"id":"ef327b69.dfee88","type":"http in","z":"66437526.042cbc","name":"","url":"/web/information/modify","method":"get","upload":true,"swaggerDoc":"","x":200,"y":2500,"wires":[["6818cf52.6e64a"]]},{"id":"2fc1eaf4.e20f36","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":570,"y":2500,"wires":[]},{"id":"6818cf52.6e64a","type":"template","z":"66437526.042cbc","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<!-- Created By CodingNepal -->\n<html lang=\"en\" dir=\"ltr\">\n   <head>\n      <meta charset=\"utf-8\">\n      <title>修改資料-教室借閱系統</title>\n      <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css\"/>\n      <style>\n          @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\n#topic{\n  font-size: 40px;\n  font-weight: 400;\n  padding-left: 50px;\n  padding-top: 50px;\n}\n#user_name{\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n  padding-right: 15px;\n}\nnav{\n  height: 80px;\n  background-color:#212529;\n  display: flex;\n  align-items: center;\n  justify-content: space-between;\n  padding: 0px 50px 0px 50px;\n}\n\nnav .logo{\n  font-size: 40px;\n  color: rgba(196, 95, 0, 0.993);\n  font-weight: 600;\n}\nnav ul{\n  display: flex;\n  list-style: none;\n}\nnav ul li,nav ul label{\n  margin: 0 10px;\n  color: white;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav ul li a,nav ul li label{\n  color: white;\n  text-decoration: none;\n  font-size: 18px;\n  font-weight: 500;\n  letter-spacing: 1px;\n  padding: 8px 15px;\n  border-radius: 5px;\n}\nnav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n  background-color:white;\n  color: #212529;\n  font-size: 18px;\n  font-weight: 500;\n}\nnav .menu-btn i{\n  color: white;\n  font-size: 32px;\n  cursor: pointer;\n  display: none;\n}\n#click{\n  display: none;\n}\n/* 以上是menu設定\n以下是預約中設定 */\n.main{\n  width: 60%;\n  height: 550px;\n  margin:auto;\n  padding:30px 5px 0px 5px;\n  text-align: center;\n}\ndiv label h5{\n  color: black;\n  font-size: 28px;\n  font-weight: 700;\n}\ntable{\n  overflow-x: auto;\n  white-space: nowrap;\n  width: 560px;\n  height: 390px;\n  margin: auto;\n  color: #212529;\n  text-align: center;\n}\ninput:disabled{\n  display: block;\n  width: 70%;\n  margin: 5px 0px 5px 5%;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(223, 223, 223);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n  text-align: left;\n}\n.form{\n  display: block;\n  width: 70%;\n  margin: 5px 0px 5px 5%;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 253, 253);\n  background-clip: padding-box;\n  border: 2px solid #bdbdbd;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n  text-align: left;\n}\n.form_alart{\n  display: block;\n  width: 70%;\n  margin: 5px 0px 5px 5%;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 400;\n  line-height: 1.5;\n  color: #212529;\n  background-color: rgb(253, 234, 234);\n  background-clip: padding-box;\n  border: 2px solid #ff3c3c;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 5px;\n  text-align: left;\n}\nth,td{\n  font-size: 20px;\n  font-weight: 600;\n  border-bottom: 1px solid #ddd;\n}\n#btnp{\n  margin-top: 10px;\n  width: 100%;\n  text-align: center;\n}\n#yes,#no{\n  display: inline;\n  width: 100px;\n  margin:0px 5px 0 5px;\n  padding: .375rem .75rem;\n  font-size: 1rem;\n  font-weight: 500;\n  line-height: 1.5;\n  color: #212529;\n  background-color: #e9e9e9;\n  background-clip: padding-box;\n  border: 2px solid #dfdfdf;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n  border-radius: 20px;\n  /* text-align: center; */\n  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;\n}\n#yes:hover,#no:hover{\n  background-color: #c9c9c9;\n  border: 2px solid #c9c9c9;\n}\n.nothing{\n  display: none;\n}\n.alarm{\n  color: rgb(255, 0, 0);\n  margin-left: 25px;\n  font-size: 16px;\n  font-weight: 500;\n  text-align: left;\n}\n@media (max-width:1090px) {\n  #user_name{\n    color: white;\n    font-size: 18px;\n    font-weight: 500;\n    padding-right: 0;\n  }\n  nav{\n    height: 80px;\n    background-color: #212529;\n    display: flex;\n    align-items: center;\n    justify-content: space-between;\n    padding: 0px 30px 0px 30px;\n  }\n  nav .menu-btn i{\n    display: block;\n  }\n  #click:checked ~ .menu-btn i::before{\n    content: \"\\f00d\";\n  }\n  nav ul{\n    position: fixed;\n    top: 80px;\n    left: -100%;\n    background-color: #111;\n    height: 100vh;\n    width: 100%;\n    display: block;\n    text-align: center;\n    transition: all 0.3s ease;\n  }\n  #click:checked ~ ul{\n    left: 0%;\n  }\n  nav ul li,nav ul label{\n    margin: 40px 0;\n    color: white;\n    font-size: 22px;\n  }\n  nav ul li a,nav ul li label,#user_name{\n    font-size: 22px;\n    display: block;\n  }\n  nav ul li a:hover,nav ul li label:hover,nav ul li a.active{\n    background-color: #111;\n    color: rgba(196, 95, 0, 0.993);\n    font-size: 22px;\n  }\n}\n@media (max-width:660px){\n  .main{\n    width: auto;\n  }\n  table{\n    overflow-x: auto;\n    white-space: nowrap;\n    width: auto;\n    height: 270px;\n  }\n  input:disabled,.form,.form_alart{\n    width: 90%;\n  margin: 5px 0px 5px 5%;\n  }\n}\n      </style>\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n   </head>\n   <body>\n      <nav>\n         <div class=\"logo\">教室借閱系統</div>\n         <input type=\"checkbox\" id=\"click\">\n         <label for=\"click\" class=\"menu-btn\">\n            <i class=\"fas fa-bars\"></i>\n         </label>\n         <ul>\n            <label id=\"user_name\">林昌毅</label>\n            <li><a href=\"http://140.125.217.135:1880/web/home\">首頁</a></li>\n            <li><a href=\"http://140.125.217.135:1880/web/lend\">預約教室</a></li>\n            <li><a href=\"http://140.125.217.135:1880/web/lending\">預約中</a></li>\n            <li><a class=\"active\" href=\"http://140.125.217.135:1880/web/information\">個人資料</a></li>\n            <li><label id=\"signout\">登出</label></li>\n         </ul>\n      </nav>\n      <div class=\"main\">\n        <label><h5>個人資料</h5></label>\n        <table>\n            <tbody>\n              <tr>\n                <th scope=\"row\">姓名</th>\n                <td>\n                    <input class=\"form\" id=\"name\" value=\"#\">\n                    <div id=\"name_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              <tr>\n                <th scope=\"row\">學號</th>\n                <td>\n                    <input class=\"form\" id=\"stdid\" value=\"#\" disabled>\n                    <div id=\"stdid_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n              <tr>\n                <th scope=\"row\">密碼</th>\n                <td>\n                    <input class=\"form\" id=\"password\" value=\"#\">\n                    <div id=\"password_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n              <tr>\n                <th scope=\"row\">電話</th>\n                <td>\n                    <input class=\"form\" id=\"phone\" value=\"#\">\n                    <div id=\"phone_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n              <tr>\n                <th scope=\"row\">信箱</th>\n                <td>\n                    <input class=\"form\" id=\"email\" value=\"#\">\n                    <div id=\"email_alarm\" class=\"nothing\">此欄不可空白</div>\n                </td>\n              </tr>\n            </tbody>\n        </table>\n        <div id=\"btnp\">\n                <button class=\"btn\" id=\"yes\" type=\"button\">確定修改</button>\n                <button class=\"btn\" id=\"no\" type=\"button\">取消</button>\n        </div>\n    </div>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://140.125.217.135:1880/web/check_uid\"></script>\n    <script  language=\"JavaScript\" type=\"text/javascript\" src=\"http://140.125.217.135:1880/web/information/modify/json\"></script>\n\n      </body>\n</html>","output":"str","x":430,"y":2500,"wires":[["2fc1eaf4.e20f36"]]},{"id":"e71e5d41.a797c","type":"template","z":"66437526.042cbc","name":"JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"$(document).ready(function()\n    {\n        //初始化\n        var API=\"http://140.125.217.135:1880/information\"\n        $.post\n        (\n            API,\n            {\n                Uid:window.uid\n            },\n            function(res)\n            {\n                var name = res.Name;\n                var password = res.Password;\n                var phone = res.Phone;\n                var email = res.Email;\n                $(\"#name\").attr(\"value\",name);\n                $(\"#stdid\").attr(\"value\",window.uid);\n                $(\"#password\").attr(\"value\",password);\n                $(\"#phone\").attr(\"value\",phone);\n                $(\"#email\").attr(\"value\",email);\n            }\n        )\n        \n        //確認修改\n        $(\"#yes\").click(function()\n        {   \n            var name = $(\"#name\").val();\n            var stdid = $(\"#stdid\").val();\n            var password = $(\"#password\").val();\n            var phone = $(\"#phone\").val();\n            var email = $(\"#email\").val();\n            var check = 1;\n            var list = [name,stdid,password,phone,email];\n            var list_obj = [\"#name\",\"#stdid\",\"#password\",\"#phone\",\"#email\"];\n            var list_alarm = [\"#name_alarm\",\"#stdid_alarm\",\"#password_alarm\",\"#phone_alarm\",\"#email_alarm\"]\n            for(i=0;i<5;i++)\n            {\n                if(!list[i])\n                {\n                    check = 0;\n                    $(list_obj[i]).attr(\"class\",\"form_alart\");\n                    $(list_alarm[i]).attr(\"class\",\"alarm\");\n                }\n                else \n                {\n                    $(list_obj[i]).attr(\"class\",\"form\");\n                    $(list_alarm[i]).attr(\"class\",\"nothing\");\n                }\n            }\n            if(check==1)\n            {\n                if(confirm(\"確定變更個人資料?\"))\n                {\n                    var API = \"http://140.125.217.135:1880/modify\";\n                    console.log(stdid);\n                    $.post\n                    (\n                    API,\n                    {\n                        Name:name,\n                        Stdid:stdid,\n                        Password:password,\n                        Phone:phone,\n                        Email:email\n                    },function(res) \n                    {\n                        var inf = res.Inf;\n                        if(inf==1)\n                        {\n                            alert(\"成功修改個人資料!\");\n                            window.location.href=\"http://140.125.217.135:1880/web/information\";\n                        }    \n                    })\n                }\n            }\n        })\n\n        //取消修改\n        $(\"#no\").click(function()\n        {\n            window.location.href=\"http://140.125.217.135:1880/web/information\";\n        })\n\n        //登出\n        $(\"#signout\").click(function()\n        {   \n            var API = \"http://140.125.217.135:1880/delete_uid\";\n            $.get\n                (API);\n            window.location.href=\"http://140.125.217.135:1880/web/signin\"\n        })\n    }\n)","output":"str","x":430,"y":2540,"wires":[["d128b861.396108"]]},{"id":"6b3d114.63559f","type":"http in","z":"66437526.042cbc","name":"","url":"/web/information/modify/json","method":"get","upload":false,"swaggerDoc":"","x":210,"y":2540,"wires":[["e71e5d41.a797c"]]},{"id":"d128b861.396108","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":570,"y":2540,"wires":[]},{"id":"4fb2b731.03b8b8","type":"http in","z":"66437526.042cbc","name":"","url":"/modify","method":"post","upload":true,"swaggerDoc":"","x":150,"y":2580,"wires":[["d16b2c53.3c9ba"]]},{"id":"b75ee453.d1e9c8","type":"http response","z":"66437526.042cbc","name":"","statusCode":"","headers":{},"x":890,"y":2580,"wires":[]},{"id":"d16b2c53.3c9ba","type":"function","z":"66437526.042cbc","name":"","func":"msg.name = msg.req.body.Name;\nmsg.stdid = msg.req.body.Stdid;\nmsg.password = msg.req.body.Password;\nmsg.phone = msg.req.body.Phone;\nmsg.email = msg.req.body.Email;\nmsg.topic='UPDATE student SET Name = '+'\"'+msg.name+'\"'+',Password = '+'\"'+msg.password+'\"'+',Phone = '+'\"'+msg.phone+'\"'+',email='+'\"'+msg.email+'\"'+' WHERE Student_ID = '+'\"'+msg.stdid+'\"'+''\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":2580,"wires":[["6b93721b.e17eec"]]},{"id":"6b93721b.e17eec","type":"mysql","z":"66437526.042cbc","mydb":"f1f3061f.90a568","name":"","x":590,"y":2580,"wires":[["f7e8ac9a.2976b"]]},{"id":"f7e8ac9a.2976b","type":"function","z":"66437526.042cbc","name":"","func":"msg.payload={Inf:1}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":2580,"wires":[["b75ee453.d1e9c8"]]},{"id":"7e4743c4.fb5f3c","type":"comment","z":"66437526.042cbc","name":"個人資料","info":"","x":140,"y":2220,"wires":[]},{"id":"c5aa5a98.4637b8","type":"comment","z":"66437526.042cbc","name":"修改資料","info":"","x":140,"y":2440,"wires":[]},{"id":"f1f3061f.90a568","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"classroom","tz":"","charset":"UTF8"}]